Repository hazelcast/hazelcast-jet, pull requests merged in 2018-09, with the labels that each got.

#1030 Fix race when collecting responses from members
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/SnapshotOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ManualRestartTest.java
Labels: defect

#1034 Update plugin versions
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/AbstractProcessor.java
  pom.xml
Labels: enhancement

#1038 Don't throw HzRetryableExc from terminateJob
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/JobNotFoundException.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/Job_StaleInstanceTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
Labels: core, defect, test-coverage

#1039 Fix serialization of SnapshotOperationResult.error
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/SnapshotOperation.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/StoreSnapshotTaskletTest.java
Labels: defect

#1036 Simplify TerminationMode
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/TerminationMode.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
Labels: enhancement

#1040 Add jet shutdown hook, disable imdg one
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
Labels: core, enhancement

#1042 Add getJobSummaryList to JetClientInstanceImpl
  hazelcast-jet-client-protocol/src/main/java/com/hazelcast/client/impl/protocol/template/JetCodecTemplate.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobResult.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobSummary.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobSummaryListMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetMessageTaskFactoryProvider.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/GetJobSummaryListOperation.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobSummaryTest.java
Labels: enhancement

#1044 Update Hazelcast to 3.10.5
  pom.xml
Labels: core, enhancement

#1048 Lazy creation of snapshot map
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImpl.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
Labels: core, defect

#1049 Remove the hook if shutdown is not originated from the hook itself
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
Labels: core, defect

#1046 ReadMetrics operation should timeout if no metrics collected for 2*timeout
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/JetMetricsService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/mancenter/JetReadMetricsMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/mancenter/ReadMetricsOperation.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/metrics/ReadMetricsTest.java
Labels: enhancement

#1050 Fix minimum timeout issue
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/mancenter/ReadMetricsOperation.java
Labels: core, defect

#1056 Improve Javadoc of aggregate operations
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation1.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation2.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation3.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperations.java
Labels: enhancement, pipeline-api

#1055 Improve Javadoc of EdgeConfig
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/EdgeConfig.java
Labels: core, enhancement

#1059 Rename mancenter package to management
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/MetricsConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRecord.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetMessageTaskFactoryProvider.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/JetMetricsService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/ConcurrentArrayRingbuffer.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/JetReadMetricsMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/ManagementCenterPublisher.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/Metric.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/MetricsResultSet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/MetricsSerializerHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/ReadMetricsOperation.java
  hazelcast-jet-core/src/main/resources/META-INF/services/com.hazelcast.DataSerializerHook
  hazelcast-jet-core/src/main/resources/META-INF/services/com.hazelcast.SerializerHook
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/metrics/ConcurrentArrayRingbufferTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/metrics/ReadMetricsTest.java
Labels: core, enhancement

#1060 Small refactor and address test failures around AsyncMapWriterTest
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/AsyncMapWriter.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/AsyncMapWriterTest.java
Labels: test-failure

#1066 Add serializer for DONE_ITEM, collapse BroadcastKey
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/BroadcastKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/BroadcastEntry.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/BroadcastKeyReference.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/DoneItem.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionSerializerHooks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SnapshotBarrier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/SerializerHookConstants.java
  hazelcast-jet-core/src/main/resources/META-INF/services/com.hazelcast.SerializerHook
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/EqualityTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ExecutionSerializerHooksTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_IntegrationTest.java
Labels: core, enhancement

#1062 Convert ReadMetricsOperation from blocking to async operation
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/LiveOperationRegistry.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/JetMetricsService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/ConcurrentArrayRingbuffer.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/JetReadMetricsMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/ReadMetricsOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/AsyncJobOperation.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/metrics/ReadMetricsTest.java
Labels: critical, defect

#1064 Improved trace logging for processors
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/PeekWrappedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SlidingWindowP.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
Labels: core, enhancement

#1065 Properly Adapt Rolling Aggregation to JetEvent
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/AggBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/FunctionAdapter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/GrAggBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithGroupingBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithKeyAndWindowImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithWindowImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/RollingAggregateTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/RollingAggregateP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/RollingAggregatePTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: critical, defect, pipeline-api

#1067 Add pointer from aggregating stage builders to AggregateOperation builder
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/AggregateBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/AggregateBuilder1.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GroupAggregateBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GroupAggregateBuilder1.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowAggregateBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowAggregateBuilder1.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowGroupAggregateBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowGroupAggregateBuilder1.java
Labels: enhancement, javadoc, pipeline-api

#1071 Fix service for ReadMetricsOperation
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/ReadMetricsOperation.java
Labels: defect

#1072 Make WmCoalescingTest timing insensitive
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalP_WmCoalescingTest.java
Labels: test-failure

#1073 Processor should not process any more items after terminal snapshot
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_TerminalSnapshotTest.java
Labels: core, defect

#1078 Include Kafka's commitSync in try-catch block
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
Labels: enhancement

#1081 make sure replicated map has correct size before starting the execution
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
Labels: core, defect, test-failure

#1084 Removes unnecessary cancellation check
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
Labels: core, defect, test-failure

#1077 Fail job on RestartableExc if not snapshotting
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalPTest.java
Labels: core, enhancement

#1086 Fix possibly infinite loop in stealWork()
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
Labels: core, defect, test-failure

#1083 Traverser.over -> Traversers.traverseItems
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Traverser.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Traversers.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/TraverserTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/TraversersTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/AbstractProcessorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/AppendableTraverserTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ProcessorsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_TerminalSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/FlatMappingTraverserTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/WindowGroupAggregateTest.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/KafkaSinkTest.java
Labels: breaking-change, enhancement, pipeline-api
