Repository hazelcast/hazelcast-jet, pull requests merged in 2018-05, with the labels that each got.

#863 Re-add the password field that was removed previously
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JetConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/SerializableClientConfig.java
  hazelcast-jet-core/src/main/resources/hazelcast-jet-client-default.xml
  hazelcast-jet-core/src/main/resources/hazelcast-jet-member-default.xml
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/config/XmlConfigTest.java
  hazelcast-jet-core/src/test/resources/hazelcast-jet-member-test.xml
  hazelcast-jet-distribution/src/main/resources/bin/cluster.sh
  hazelcast-jet-spring/src/main/java/com/hazelcast/jet/spring/JetClientBeanDefinitionParser.java
  hazelcast-jet-spring/src/main/java/com/hazelcast/jet/spring/JetInstanceBeanDefinitionParser.java
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/TestApplicationContext.java
  hazelcast-jet-spring/src/test/resources/com/hazelcast/jet/spring/application-context-jet.xml
Labels: core, defect

#864 Re-add the password field that was removed previously
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JetConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/SerializableClientConfig.java
  hazelcast-jet-core/src/main/resources/hazelcast-jet-client-default.xml
  hazelcast-jet-core/src/main/resources/hazelcast-jet-member-default.xml
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/config/XmlConfigTest.java
  hazelcast-jet-core/src/test/resources/hazelcast-jet-member-test.xml
  hazelcast-jet-distribution/src/main/resources/bin/cluster.sh
  hazelcast-jet-spring/src/main/java/com/hazelcast/jet/spring/JetClientBeanDefinitionParser.java
  hazelcast-jet-spring/src/main/java/com/hazelcast/jet/spring/JetInstanceBeanDefinitionParser.java
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/TestApplicationContext.java
  hazelcast-jet-spring/src/test/resources/com/hazelcast/jet/spring/application-context-jet.xml
Labels: core, defect

#870 Catch InterruptException in `StreamKafkaP.close`
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
Labels: defect, kafka

#868 Fix race when snapshot started after job was done
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
Labels: core, test-failure

#872 Improve WM coalescing logging in CIES
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStream.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
Labels: core, enhancement

#879 Lazy initialisation of JobRepository
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJetInstance.java
Labels: core, defect

#877 Converted logger-sink test to use mockito
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/LoggerSinkTest.java
Labels: test-coverage, test-failure

#874 Introduce jms connectors
  hazelcast-jet-core/pom.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsIntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamJmsPTest.java
  pom.xml
Labels: core

#881 Fix setting local parallelism for jms source builder
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSourceBuilder.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamJmsPTest.java
Labels: core, defect

#883 Close jms objects explicitly, without casting to AutoClosable for backward compatibility
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
Labels: core, enhancement

#882 Remove InstanceConfig.tempDir
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/InstanceConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/XmlJetConfigBuilder.java
  hazelcast-jet-core/src/main/resources/hazelcast-jet-config-0.7.xsd
  hazelcast-jet-core/src/main/resources/hazelcast-jet-full-example.xml
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/InstanceConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/config/XmlConfigTest.java
  hazelcast-jet-core/src/test/resources/hazelcast-jet-full.xml
  hazelcast-jet-core/src/test/resources/hazelcast-jet-test.xml
  hazelcast-jet-core/src/test/resources/hazelcast-jet-with-variables.xml
  hazelcast-jet-spring/src/main/resources/hazelcast-jet-spring-0.7.xsd
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/TestApplicationContext.java
  hazelcast-jet-spring/src/test/resources/com/hazelcast/jet/spring/application-context-jet.xml
Labels: core

#886 Convert argument of SinkBuilder createFn to Processor.Context
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SinkBuilderTest.java
Labels: core, enhancement

#888 Simplify JMS builder APIs
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsIntegrationTest.java
Labels: enhancement
