Repository hazelcast/hazelcast-jet, pull requests merged in 2018-11, with the labels that each got.

#1130 [BACKPORT] Change invocation builder to send invocation to master member instead…
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/AbstractJetMessageTask.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/CancellationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/GracefulShutdownTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ManualRestartTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SuspendResumeTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TerminalSnapshotSynchronizationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsIntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/NonSmartClientTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_TerminalSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SinksTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourcesTest.java
Labels: core, defect

#1129 Change invocation builder to send invocation to master member instead…
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/AbstractJetMessageTask.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/CancellationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/GracefulShutdownTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ManualRestartTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SuspendResumeTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TerminalSnapshotSynchronizationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsIntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP_MigrationDetectionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/NonSmartClientTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_TerminalSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SinksTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourcesTest.java
Labels: core, defect

#1131 Document batch sources about reading mutating data
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
Labels: enhancement

#1132 Fix test_getJobRecordFromClient
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
Labels: test-failure

#1133 Fix when_shutDownInProgressFromInit_then_restarts
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/GracefulShutdownTest.java
Labels: test-failure

#1138 Align example metrics configuration with its defaults
  hazelcast-jet-core/src/main/resources/hazelcast-jet-full-example.xml
Labels: enhancement

#1135 Fix PostponedSnapshotTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/PostponedSnapshotTest.java
Labels: test-failure

#1125 Start job scan after HZ init is done
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/JetTestInstanceFactory.java
Labels: core, defect

#1141 Align Hot Restart enablement with global setting
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
Labels: core, critical, defect

#1140 Add topN and bottomN aggregate operations
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperations.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/PriorityQueueHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/SerializerHookConstants.java
  hazelcast-jet-core/src/main/resources/META-INF/services/com.hazelcast.SerializerHook
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/aggregate/AggregateOperationsTest.java
Labels: enhancement, pipeline-api

#1144 Remove WMs in a pipeline without windowing (#1091)
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkEmissionPolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkGenerationParams.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/StreamSourceTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SessionWindowDef.java
Labels: core, enhancement

#1143 Add scaleUpDelay config option to XML
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/XmlJetConfigBuilder.java
  hazelcast-jet-core/src/main/resources/hazelcast-jet-config-0.8.xsd
  hazelcast-jet-core/src/main/resources/hazelcast-jet-default.xml
  hazelcast-jet-core/src/main/resources/hazelcast-jet-full-example.xml
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JetConfigTest_loadFromClassPath.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/XmlConfigTest.java
  hazelcast-jet-core/src/test/resources/hazelcast-jet-test.xml
  hazelcast-jet-core/src/test/resources/hazelcast-jet-with-variables.xml
  hazelcast-jet-spring/src/main/resources/hazelcast-jet-spring-0.8.xsd
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/TestApplicationContext.java
  hazelcast-jet-spring/src/test/resources/com/hazelcast/jet/spring/application-context-jet.xml
Labels: core, defect

#1148 Add scaleUpDelay config option to XML (backport of #1143)
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/XmlJetConfigBuilder.java
  hazelcast-jet-core/src/main/resources/hazelcast-jet-config-0.7.1.xsd
  hazelcast-jet-core/src/main/resources/hazelcast-jet-default.xml
  hazelcast-jet-core/src/main/resources/hazelcast-jet-full-example.xml
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JetConfigTest_loadFromClassPath.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/XmlConfigTest.java
  hazelcast-jet-core/src/test/resources/hazelcast-jet-test.xml
  hazelcast-jet-core/src/test/resources/hazelcast-jet-with-variables.xml
  hazelcast-jet-spring/src/main/resources/META-INF/spring.schemas
  hazelcast-jet-spring/src/main/resources/hazelcast-jet-spring-0.7.1.xsd
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/TestApplicationContext.java
  hazelcast-jet-spring/src/test/resources/com/hazelcast/jet/spring/application-context-jet.xml
  hazelcast-jet-spring/src/test/resources/com/hazelcast/jet/spring/application-context-processor.xml
Labels: defect

#1147 Add ClientConfigXmlGenerator
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/ClientConfigXmlGenerator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/SerializableClientConfig.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/ClientConfigXmlGeneratorTest.java
Labels: core, enhancement

#1151 Remove SerializableClientConfig
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadIListP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/SerializableClientConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/ClientConfigXmlGeneratorTest.java
Labels: core, enhancement

#1153 Add ClientConfigXmlGenerator
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/ClientConfigXmlGenerator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadIListP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/SerializableClientConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/ClientConfigXmlGeneratorTest.java
Labels: core, enhancement

#1155 Sort methods by visibility in JobCoordinationService
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
Labels: core, enhancement

#1157 Fix GracefulShutdownTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/GracefulShutdownTest.java
Labels: test-failure

#1163 Fix compilation error
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
Labels: core
