Repository hazelcast/hazelcast-jet, pull requests merged in 2018-12, with the labels that each got.

#1170 Create priority queue with capacity as 1 if queue size is 0
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/PriorityQueueHook.java
Labels: core, defect, test-failure

#1171 [FORWARD-PORT] Create priority queue with capacity as 1 if queue size is 0
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/PriorityQueueHook.java
Labels: core, defect, test-failure

#1172 Should use max, not min
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/PriorityQueueHook.java
Labels: core, defect, test-failure

#1175 Partially revert "Add partition migration detection (#1076)"
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP_MigrationDetectionTest.java
Labels: breaking-change, defect

#1177 add workaround for including javadoc from core module into distribution
  hazelcast-jet-distribution/pom.xml
Labels: defect, javadoc

#1166 Make watermarks source explicit in Pipeline API
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Job.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/DAG.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/EventTimePolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkSourceUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ConvenientSourceP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/PipelineImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/SourceBufferImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamSourceStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/StreamSourceTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/TimestampTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/InsertWatermarksP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Pipeline.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamSource.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamSourceStage.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobDagUpdateTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/WatermarkSourceUtilTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobSummaryTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsIntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamJmsPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/NonSmartClientTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_TerminalSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/PipelineStreamTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourceBuilderTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourcesTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/Sources_withEventJournalTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTestBase.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/WindowAggregateTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/WindowGroupAggregateTest.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSources.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/KafkaSinkTest.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/KafkaTestSupport.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaP_TimestampModesTest.java
Labels: breaking-change, pipeline-api

#1173 Add more metrics for WM debugging
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStream.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/InboundEdgeStream.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/MockInboundStream.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Blocking.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Snapshots.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Watermarks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescerTest.java
Labels: enhancement

#1174 Improve support for testing, needed for Hot Restart tests
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/NodeExtensionCommon.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/JetTestInstanceFactory.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExportSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/GracefulShutdownTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ManualRestartTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TerminalSnapshotSynchronizationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/UtilTest.java
Labels: core, enhancement

#1168 Don't store Throwable in JobResult
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Job.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobResult.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobSummary.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/MulticastDiscoveryTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/CancellationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExportSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SuspendResumeTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobSummaryTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsIntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP_MigrationDetectionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteJdbcPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/NonSmartClientTest.java
Labels: breaking-change, enhancement

#1178 Ensure minimum WM rate to improve WM debugging
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkEmissionPolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkSourceUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/Processors_slidingWindowingIntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TerminalSnapshotSynchronizationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/WatermarkEmissionPolicyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/InsertWatermarksPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/InsertWatermarksP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/UtilTest.java
Labels: enhancement

#1186 Simplify watermark max gap
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkEmissionPolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/Processors_slidingWindowingIntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/WatermarkEmissionPolicyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/InsertWatermarksPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/InsertWatermarksP_IntegrationTest.java
Labels: core, enhancement

#1183 Don't scale up to members with no partitions
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTestBase.java
Labels: core, defect

#1190 Increment xsd version to 0.7.3
  hazelcast-jet-core/src/main/resources/hazelcast-jet-config-0.7.3.xsd
  hazelcast-jet-core/src/main/resources/hazelcast-jet-default.xml
  hazelcast-jet-core/src/main/resources/hazelcast-jet-full-example.xml
  hazelcast-jet-core/src/test/resources/hazelcast-jet-test.xml
  hazelcast-jet-core/src/test/resources/hazelcast-jet-with-variables.xml
  hazelcast-jet-spring/src/main/resources/META-INF/spring.schemas
  hazelcast-jet-spring/src/main/resources/hazelcast-jet-spring-0.7.3.xsd
  hazelcast-jet-spring/src/test/resources/com/hazelcast/jet/spring/application-context-jet.xml
  hazelcast-jet-spring/src/test/resources/com/hazelcast/jet/spring/application-context-processor.xml
Labels: core, defect
