Repository hazelcast/hazelcast-jet, pull requests merged in 2018-06, with the labels that each got.

#893 Javadoc cleanup in aggregate operation builders
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/CoAggregateOperationBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowAggregateBuilder1.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowGroupAggregateBuilder1.java
Labels: defect, javadoc

#894 Add name to sink builder
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SinkBuilderTest.java
Labels: core, enhancement

#891 Add DOT visualization for DAGs and Pipelines
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/DAG.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/PipelineImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Pipeline.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/DotTest.java
Labels: core, enhancement, pipeline-api

#895 Add jms builder tests for coverage
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsIntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/PipelineTestSupport.java
Labels: core, test-coverage

#903 Fix JobRestartWithSnapshotTest.stressTest failure
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
Labels: test-failure

#890 Introduce Avro Connector
  hazelcast-jet-avro/pom.xml
  hazelcast-jet-avro/src/main/java/com/hazelcast/jet/avro/AvroProcessors.java
  hazelcast-jet-avro/src/main/java/com/hazelcast/jet/avro/AvroSinks.java
  hazelcast-jet-avro/src/main/java/com/hazelcast/jet/avro/AvroSources.java
  hazelcast-jet-avro/src/main/java/com/hazelcast/jet/avro/package-info.java
  hazelcast-jet-avro/src/test/java/com/hazelcast/jet/avro/AvroSinkTest.java
  hazelcast-jet-avro/src/test/java/com/hazelcast/jet/avro/AvroSourceTest.java
  hazelcast-jet-avro/src/test/java/com/hazelcast/jet/avro/model/SpecificUser.java
  hazelcast-jet-avro/src/test/java/com/hazelcast/jet/avro/model/User.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestProcessorContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/PeekWrappedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadFilesPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Blocking.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Snapshots.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Watermarks.java
  pom.xml
Labels: core, enhancement

#905 Assert that JMS queue has enough elements before starting the test
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamJmsPTest.java
Labels: core, test-failure

#906 SinkBuilder - Obsolete JavaDoc updated
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SinkBuilder.java
Labels: javadoc

#908 Update checkstyle version to 8.10.1
  checkstyle/checkstyle.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Traverser.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperations.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/AbstractProcessor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkEmissionPolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/TimestampedEntry.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/TimestampedItem.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/Tuple2.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/SerializationConstants.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/SerializableClientConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteBufferedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteLoggerP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ReceiverTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SnapshotContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/StoreSnapshotTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/Transform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/HashJoinP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/InsertWatermarksP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/PeekWrappedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SlidingWindowP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-hadoop/src/main/java/com/hazelcast/jet/hadoop/HdfsSinks.java
  hazelcast-jet-hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/WriteHdfsP.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaProcessors.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSources.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/WriteKafkaP.java
  pom.xml
Labels: enhancement

#909 Proactively check serializability in Pipeline API
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperationBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperations.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AllOfAggregationBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/DiagnosticProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/aggregate/AggregateOperation1Impl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/aggregate/AggregateOperation2Impl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/aggregate/AggregateOperation3Impl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/aggregate/AggregateOperationImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/AggBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithGroupingAndWindowImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithGroupingBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithGroupingImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithGrouping.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JoinClause.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SinkBuilder.java
Labels: defect, enhancement

#904 Add test when one of two jobs fails
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
Labels: enhancement

#900 Usability improvements
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Edge.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/TimestampedEntry.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/TimestampedItem.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StageWithGroupingAndWindow.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StageWithWindow.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowAggregateBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowAggregateBuilder1.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowGroupAggregateBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowGroupAggregateBuilder1.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/Processors_slidingWindowingIntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/SlidingWindowPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/SlidingWindowP_CoGroupTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/SlidingWindowP_FrameCombiningTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/SlidingWindowP_failoverTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/SlidingWindowP_twoStageSnapshotTest.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaProcessors.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSources.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: enhancement

#914 Bring back removed javadoc
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
Labels: enhancement

#913 Introduce file source/sink builders
  hazelcast-jet-avro/src/main/java/com/hazelcast/jet/avro/AvroProcessors.java
  hazelcast-jet-avro/src/main/java/com/hazelcast/jet/avro/AvroSinks.java
  hazelcast-jet-avro/src/main/java/com/hazelcast/jet/avro/AvroSources.java
  hazelcast-jet-avro/src/test/java/com/hazelcast/jet/avro/AvroSourceTest.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamFilesP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ContextFactory.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/FileSinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/FileSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadFilesPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamFilesPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamFilesP_integrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamFilesP_readCompleteLineTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamJmsPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteFilePTest.java
  hazelcast-jet-hadoop/src/main/java/com/hazelcast/jet/hadoop/HdfsSources.java
Labels: breaking-change, core, enhancement

#920 Fix StreamJmsPTest.when_topic
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamJmsPTest.java
Labels: core, test-failure

#921 Make metrics collection interval configurable
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/MetricsConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/XmlJetConfigBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/JetMetricsService.java
  hazelcast-jet-core/src/main/resources/hazelcast-jet-config-0.7.xsd
  hazelcast-jet-core/src/main/resources/hazelcast-jet-default.xml
  hazelcast-jet-core/src/main/resources/hazelcast-jet-full-example.xml
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JetConfigTest_loadFromClassPath.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/config/XmlConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/metrics/MetricsTest.java
  hazelcast-jet-core/src/test/resources/hazelcast-jet-full.xml
  hazelcast-jet-core/src/test/resources/hazelcast-jet-test.xml
  hazelcast-jet-core/src/test/resources/hazelcast-jet-with-variables.xml
  hazelcast-jet-spring/src/main/resources/hazelcast-jet-spring-0.7.xsd
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/TestApplicationContext.java
  hazelcast-jet-spring/src/test/resources/com/hazelcast/jet/spring/application-context-jet.xml
Labels: core, enhancement

#916 Revert KafkaSources API
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaProcessors.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSources.java
Labels: enhancement

#923 Implement ReadMetrics as a blocking operation
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetMessageTaskFactoryProvider.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/JetMetricsService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/JetReadMetricsMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/ReadMetricsOperation.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/metrics/MetricsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/metrics/ReadMetricsTest.java
Labels: core, enhancement

#925 Add explicit source builder for Avro
  hazelcast-jet-avro/src/main/java/com/hazelcast/jet/avro/AvroProcessors.java
  hazelcast-jet-avro/src/main/java/com/hazelcast/jet/avro/AvroSourceBuilder.java
  hazelcast-jet-avro/src/main/java/com/hazelcast/jet/avro/AvroSources.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/FileSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsIntegrationTest.java
Labels: core, enhancement

#919 Fix quorum protection test failure
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
Labels: test-failure

#907 Add RestartableException & fix HazelcastWriters
  checkstyle/suppressions.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/RestartableException.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/AsyncOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/CancelExecutionOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/CompleteExecutionOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/InitExecutionOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycle_RestartableExceptionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestProcessors.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnector_RestartTest.java
Labels: core, defect

#915 Add SnapshotRepository.getAllSnapshotRecords
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/SnapshotRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/JetReadMetricsMessageTask.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/SnapshotRepositoryTest.java
Labels: enhancement

#926 Expose metrics through JMX
  checkstyle/ClassHeader.txt
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/MetricsConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetMessageTaskFactoryProvider.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/XmlJetConfigBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/XmlJetConfigLocator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/JetMetricsService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/MetricsPublisher.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/jmx/JmxPublisher.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/jmx/MetricsMBean.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/mancenter/ConcurrentArrayRingbuffer.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/mancenter/JetReadMetricsMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/mancenter/ManCenterPublisher.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/mancenter/Metric.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/mancenter/MetricsResultSet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/mancenter/MetricsSerializerHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/mancenter/ReadMetricsOperation.java
  hazelcast-jet-core/src/main/resources/META-INF/services/com.hazelcast.DataSerializerHook
  hazelcast-jet-core/src/main/resources/META-INF/services/com.hazelcast.SerializerHook
  hazelcast-jet-core/src/main/resources/hazelcast-jet-config-0.7.xsd
  hazelcast-jet-core/src/main/resources/hazelcast-jet-default.xml
  hazelcast-jet-core/src/main/resources/hazelcast-jet-full-example.xml
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JetConfigTest_loadFromClassPath.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/XmlConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/metrics/ConcurrentArrayRingbufferTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/metrics/ReadMetricsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/metrics/jmx/JmxPublisherTest.java
  hazelcast-jet-core/src/test/resources/hazelcast-jet-test.xml
  hazelcast-jet-core/src/test/resources/hazelcast-jet-with-variables.xml
  hazelcast-jet-spring/src/main/resources/hazelcast-jet-spring-0.7.xsd
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/TestApplicationContext.java
  hazelcast-jet-spring/src/test/resources/com/hazelcast/jet/spring/application-context-jet.xml
Labels: enhancement

#929 Add getter for end time in SnapshotRecord
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SnapshotRecord.java
Labels: enhancement

#928 Improve TestSupport
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestInbox.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ProcessorsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadIListPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/SlidingWindowP_stage1Test.java
Labels: enhancement

#932 Fix aggregation of window aggregation results
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/FunctionAdapter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/PeekWrappedP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/PeekingWrapperTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/WindowGroupAggregateTest.java
Labels: core, defect

#940 Add missing method overrides to the stages
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStage.java
Labels: enhancement, pipeline-api

#934 Eagerly close processors
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Util.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/JobNotFoundException.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestProcessorMetaSupplierContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRecord.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobResult.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/Networking.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/SnapshotRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadIListP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamFilesP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamSocketP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteBufferedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SnapshotRecord.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/Tasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/CompleteExecutionOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/SnapshotOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/PeekWrappedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ProcessorWrapper.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformUsingContextP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/UtilTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/CancellationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestProcessors.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamJmsPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteBufferedPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Blocking.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Snapshots.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Watermarks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/init/DetermineLocalParallelismTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/TransformUsingContextPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/UtilTest.java
  hazelcast-jet-hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/WriteHdfsP.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
Labels: breaking-change, core, enhancement

#941 Add executionId to job metric names
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
Labels: core, enhancement

#943 Improve Pipeline API Javadoc
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java
Labels: enhancement, javadoc

#944 Keyed mapUsingContext operations should take key as one of the parameters
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/function/DistributedTriPredicate.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/function/TriPredicate.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithGroupingBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStageWithKey.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: enhancement, pipeline-api

#939 Prefer using job name in logs
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/JetInstance.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJetInstance.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRecord.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobResult.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/LiveOperationRegistry.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SnapshotContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/AsyncJobOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/CompleteExecutionOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/InitExecutionOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/JoinSubmittedJobOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/SnapshotOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/StartExecutionOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ConcurrentMemoizingSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/LiveOperationRegistryTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Snapshots.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Watermarks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/SnapshotContextTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/StoreSnapshotTaskletTest.java
Labels: core, enhancement

#938 Consistent behaviour of `mapToOutputFn`
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/function/KeyedWindowResult2Function.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/function/KeyedWindowResult3Function.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/function/KeyedWindowResultFunction.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/function/WindowResult2Function.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/function/WindowResult3Function.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/function/WindowResultFunction.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/FunctionAdapter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/JetEvent.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/HashJoinP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/RollingAggregateP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SessionWindowP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/WindowAggregateTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/WindowGroupAggregateTest.java
Labels: enhancement

#935 Add test jar
  hazelcast-jet-all/pom.xml
  pom.xml
Labels: core
