Repository hazelcast/hazelcast-jet, pull requests merged in 2018-02, with the labels that each got.

#705 Obsolete JavaDoc updated
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ProgressTracker.java
Labels: defect

#708 Fix Sonar Build Issues
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/annotation/IgnoredForCoverage.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/AbstractDeploymentTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/LoadPersonIsolated.java
  pom.xml
Labels: test-failure

#704 Increased test-coverage around Sources
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/PipelineTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/SinksTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/SourcesTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/Sources_withEventJournalTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/TestInClusterSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadFilesPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamFilesP_integrationTest.java
Labels: enhancement, pipeline-api, test-coverage

#714 Log WMs at FINE level in WriteLoggerP
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Sinks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/DiagnosticProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteLoggerP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteLoggerPTest.java
Labels: defect, javadoc

#715 Test topological failures during job submission
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TopologyChangeDuringJobSubmissionTest.java
Labels: test-coverage

#718 Increased coverage on config package
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ResourceUploader.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/deployment/ClassLoaderEntry.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/InstanceConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JetConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JobConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastRemoteConnectorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/AbstractDeploymentTest.java
Labels: core, enhancement, test-coverage

#722 Fix incorrect flow control packet
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/Networking.java
Labels: core, defect

#720 Add automodule names and update javadoc plugin to 3.0
  hazelcast-jet-all/pom.xml
  hazelcast-jet-core/pom.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AllOfAggregationBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-hadoop/pom.xml
  hazelcast-jet-kafka/pom.xml
  pom.xml
Labels: enhancement

#729 Add ability to emit file name from file sources
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Sources.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamFilesP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadFilesPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamFilesPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamFilesP_integrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamFilesP_readCompleteLineTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/stream/impl/sources/SourcesTest.java
Labels: enhancement

#728 Attempt to fix #723
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_IntegrationTest.java
Labels: core, test-failure

#738 Attempt to fix test failure
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnectorTest.java
Labels: test-failure

#742 Move ICacheJet.distributedStream() to DistributedStream.Cache
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/ICacheJet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/stream/DistributedStream.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/stream/impl/ICacheDecorator.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/stream/AbstractStreamTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/stream/CollectorsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/stream/FindAnyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/stream/FindFirstTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/stream/JetCollectorTest.java
Labels: breaking-change, core

#748 Logging / toString improvements for windowing types
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Watermark.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/TimestampedEntry.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/TimestampedItem.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/WindowResult.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/JetEventImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SlidingWindowP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
Labels: core, enhancement

#746 Add dontDistribute as a ProcessorMetaSupplier convenience
  checkstyle/checkstyle.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/CloseableProcessorSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/DiagnosticProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadIListP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamSocketP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteFileP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestProcessors.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadIListPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_IntegrationTest.java
Labels: core, enhancement

#752 Added TimestampedItem serializer hook and increased test coverage
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/DataModelSerializerHooks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/SerializerHookConstants.java
  hazelcast-jet-core/src/main/resources/META-INF/services/com.hazelcast.SerializerHook
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/pipeline/transform/AggregateTransform_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/pipeline/transform/WindowAggregateTransform_IntegrationTest.java
Labels: enhancement, pipeline-api, test-coverage

#754 Make parallelism available to ProcessorSupplier.Context and Processor.Context
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestProcessorContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestProcessorMetaSupplierContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestProcessorSupplierContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/VertexDef.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/PeekWrappedP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Blocking.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Snapshots.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Watermarks.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/core/processor/KafkaProcessors.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/impl/connector/kafka/StreamKafkaP.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/impl/connector/kafka/StreamKafkaPTest.java
Labels: core, enhancement

#756 Drop late events in SessionWindowP
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SessionWindowP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SlidingWindowP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/SessionWindowPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/SessionWindowP_failoverTest.java
Labels: defect

#753 Add automatic WM throttling to Pipeline API
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/SlidingWindowPolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkEmissionPolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkGenerationParams.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkSourceUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/TopologicalSorter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/AbstractTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/StreamSourceTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/TimestampTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/Transform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/WindowAggregateTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/WindowGroupTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SessionWindowDef.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SlidingWindowDef.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/TumblingWindowDef.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowDefinition.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/WatermarkEmissionPolicyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/WatermarkSourceUtilTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnectorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastRemoteConnectorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalP_WmCoalescingTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/InsertWatermarksPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/InsertWatermarksP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/UtilTest.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/impl/connector/kafka/StreamKafkaPTest.java
Labels: enhancement
