Repository hazelcast/hazelcast-jet, pull requests merged in 2018-03, with the labels that each got.

#760 Fix intermittent failure in SnapshotFailureTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SnapshotFailureTest.java
Labels: test-failure

#761 Fix JobRestartWithSnapshotTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
Labels: test-failure

#755 Add and fix Javadoc
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/GenericPredicates.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation1.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation2.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation3.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkEmissionPolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkGenerationParams.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkPolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/TimestampedItem.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/function/KeyedWindowResultFunction.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/function/WindowResultFunction.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/aggregate/AggregateOperationImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/FunctionAdapter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/JetEvent.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/JetEventImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/PipelineSerializerHooks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithWindowImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageWithGroupingImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/AbstractTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/StreamSourceTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/TimestampTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SnapshotKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/ObjectArrayHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/SerializerHookConstants.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralHashJoinBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
Labels: defect, javadoc

#744 Add mapWithContext operations
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/CloseableProcessorSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestProcessorMetaSupplierContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadIListP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamFilesP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamSocketP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteBufferedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/InitExecutionOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/FunctionAdapter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/PipelineSerializerHooks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/FilterUsingContextTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/FlatMapUsingContextTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/MapUsingContextTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformUsingContextP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ContextFactories.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ContextFactory.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStage.java
  hazelcast-jet-core/src/main/resources/META-INF/services/com.hazelcast.SerializerHook
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/CancellationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ProcessorsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/test/TestSupportTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalP_WmCoalescingTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamFilesPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteBufferedPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/SessionWindowPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/TransformUsingContextPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/impl/connector/kafka/StreamKafkaP.java
Labels: core, enhancement, pipeline-api

#762 Sink Builder
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/CloseableProcessorSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteBufferedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteFileP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/PipelineTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SinkBuilderTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SinksTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourcesTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/Sources_withEventJournalTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: enhancement, pipeline-api

#765 Extract timestamp only once in WSU
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkSourceUtil.java
Labels: core, defect

#766 Fix totalParallelism passing in PeekWrappedP
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/PeekWrappedP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/impl/connector/kafka/StreamKafkaP.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/impl/connector/kafka/KafkaPartitionAssignerTest.java
Labels: defect

#769 Fix a few packet filter calls in tests
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/CancellationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ManualRestartTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
Labels: core, test-failure

#772 Set Kafka parallelism to 4, javadoc updates
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformUsingContextP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-distribution/src/main/resources/bin/jet-submit.bat
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaProcessors.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSources.java
Labels: enhancement, kafka

#773 Fix situation DONE_ITEM generated a WM
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStream.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Watermarks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_IntegrationTest.java
Labels: core, defect

#776 Increased code coverage around aggregate and hash join builders
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/pipeline/transform/WindowAggregateTransform_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/pipeline/transform/WindowGroupTransform_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: core, enhancement, test-coverage

#779 Increased code coverage around sinks
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/AbstractStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastRemoteConnectorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteFilePTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteSocketTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/LoggerSinkTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SinksTest.java
Labels: core, enhancement, pipeline-api, test-coverage

#782 Adapt functions passed to peek
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/FunctionAdapter.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: defect, pipeline-api

#750 Follow changes in EventJournal
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalPTest.java
Labels: core, defect

#781 Increased code coverage and introduced EqualsVerifier
  hazelcast-jet-core/pom.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/accumulator/DoubleAccumulator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/accumulator/LinTrendAccumulator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/accumulator/LongDoubleAccumulator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/BagsByTag.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/ItemsByTag.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/ThreeBags.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/TimestampedItem.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/Tuple2.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/Tuple3.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/TwoBags.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/WindowResult.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SnapshotKey.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/GenericPredicatesTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/accumulator/EqualityTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/test/TestSupportTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/datamodel/DataModelSerializerHooksTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/datamodel/EqualityTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/datamodel/Tuple2Test.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalP_WmCoalescingTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/EqualityTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/pipeline/EqualityTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/EqualityTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/SerializerHooksTest.java
  hazelcast-jet-hadoop/src/test/java/com/hazelcast/jet/hadoop/impl/ReadHdfsPTest.java
  hazelcast-jet-hadoop/src/test/java/com/hazelcast/jet/hadoop/impl/WriteHdfsPTest.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/KafkaSinkTest.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/KafkaPartitionAssignerTest.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: core, enhancement, test-coverage

#784 Logging improvements
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStream.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ReceiverTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/StoreSnapshotTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStreamTest_WmRetainDisabled.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStreamTest_WmRetainEnabled.java
Labels: core, enhancement

#789 Update Hazelcast to 3.10-BETA-2
  pom.xml
Labels: core, enhancement

#788 Minor sonar fixes
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/HashJoinTransform.java
Labels: enhancement

#787 Fix TopologyChangeTest failure
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
Labels: core, test-failure

#791 Fix test categories for sonar build
  pom.xml
Labels: test-coverage

#792 Minor javadoc link fix
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
Labels: javadoc

#793 Fix #790 test failure
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_IntegrationTest.java
Labels: test-failure

#794 Fix deserialization error reporting from master
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExceptionHandlingTest.java
Labels: core, defect

#795 First class support for Processor.close
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/CloseableProcessorSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadIListP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamFilesP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamSocketP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteBufferedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ProcessorWrapper.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformUsingContextP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/WrappingProcessorMetaSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/WrappingProcessorSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SinkBuilder.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/AbstractProcessorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/CancellationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExceptionHandlingTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ManualRestartTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestProcessors.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TopologyChangeDuringJobSubmissionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/test/TestSupportTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamFilesPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteBufferedPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/TransformUsingContextPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/ExceptionUtilTest.java
  hazelcast-jet-hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/WriteHdfsP.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/WriteKafkaP.java
Labels: breaking-change, enhancement

#797 Touchups in Javadoc
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperations.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/AggregateBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StageWithGrouping.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StageWithGroupingAndWindow.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StageWithWindow.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowGroupAggregateBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/stream/DistributedCollectors.java
  hazelcast-jet-core/src/main/resources/hazelcast-jet-full-example.xml
Labels: enhancement, javadoc
