Repository hazelcast/hazelcast-jet, pull requests merged in 2018-10, with the labels that each got.

#1088 Fix WatermarkCoalescer_TerminalSnapshotTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_TerminalSnapshotTest.java
Labels: test-failure

#1090 Changed assertion to check whether all the items are flushed or not.
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImplTest.java
Labels: core, defect, test-failure

#1093 Remove work-stealing and improve work balance
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/TaskletExecutionServiceTest.java
Labels: core, defect, enhancement

#1096 Test fixes
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_TerminalSnapshotTest.java
Labels: test-failure

#1098 Have NotifyMemberShutdownOp registered on live operations registry
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/AbstractJobOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/AsyncJobOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/AsyncOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/NotifyMemberShutdownOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/SnapshotOperation.java
Labels: core, defect

#1099 Convert assertEquals to assertEventually
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
Labels: test-failure

#1091 Remove watermarks from a pipeline with no windowing stages
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/EventTimePolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkEmissionPolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkPolicies.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkSourceUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ConvenientSourceP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/AbstractTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/StreamSourceTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/TimestampTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/Transform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/WindowAggregateTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/WindowGroupTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/InsertWatermarksP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SessionWindowDef.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SlidingWindowDef.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowDefinition.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/Processors_slidingWindowingIntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/WatermarkSourceUtilTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnectorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastRemoteConnectorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalP_WmCoalescingTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/InsertWatermarksPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/InsertWatermarksP_IntegrationTest.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaProcessors.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: breaking-change, core, defect

#1102 Make single SnapshotRestore input higher priority
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/VertexDef.java
Labels: core, defect

#1076 Add partition migration detection
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/RestartableException.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP_MigrationDetectionTest.java
Labels: defect

#1109 Call out.writeObject instead of MemberInfo.writeData
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/InitExecutionOperation.java
Labels: core, defect

#1110 Extract lambdas
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SenderTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/StoreSnapshotTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/jmx/JmxPublisher.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SessionWindowP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SlidingWindowP.java
Labels: enhancement

#1107 Use submitToKeys to merge to IMap
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/AsyncMapWriter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/test/TestSupportTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP_MigrationDetectionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SinksTest.java
Labels: core, enhancement

#1104 Reuse snapshot maps
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJetInstance.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ExplodeSnapshotP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionRecord.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRecord.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/SnapshotRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SnapshotContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SnapshotRecord.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/StoreSnapshotTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/SnapshotOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SlidingWindowP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SnapshotKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/GracefulShutdownTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ManualRestartTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/PostponedSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SnapshotFailureTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SuspendResumeTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/SnapshotRepositoryTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Snapshots.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Watermarks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/SnapshotContextSimpleTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/SnapshotContextTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/StoreSnapshotTaskletTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/init/DetermineLocalParallelismTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHookTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/EqualityTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImplTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/MockAsyncSnapshotWriter.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: core, enhancement

#1119 Fix snapshot stats reporting
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionRecord.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/StoreSnapshotTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImpl.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHookTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImplTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/MockAsyncSnapshotWriter.java
Labels: core, defect

#1122 Upgrade to HZ release 3.11
  pom.xml
Labels: core, enhancement

#1121 Don't materialize `distinctKeys` in SessionWindowP
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SessionWindowP.java
Labels: enhancement
