Repository hazelcast/hazelcast-jet, pull requests merged in 2019-08, with the labels that each got.

#1511 Regression test for job submission slowness
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/job/JobSubmissionSlownessRegressionTest.java
  pom.xml
Labels: test-coverage

#1513 Add adapter from AggregateOperation1 to Aggregator
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation1.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperations.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/aggregate/AggregateOpAggregator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/aggregate/AggregateOperationToAggregatorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/aggregate/AggregateOperationsTest.java
Labels: breaking-change, enhancement, pipeline-api

#1515 Update Hazelcast to 3.12.2
  pom.xml
Labels: build, enhancement

#1459 Metrics for Completed Jobs
  hazelcast-jet-client-protocol/src/main/java/com/hazelcast/client/impl/protocol/template/JetCodecTemplate.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/JetCacheManager.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Job.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/MetricsConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/JobMetrics.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/Measurement.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/MeasurementPredicates.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/MetricNames.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/MetricTags.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/MetricsDataSerializerHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/package-info.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetFactoryIdHelper.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobMetricsUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobResult.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/AbstractJetMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobMetricsMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetMessageTaskFactoryProvider.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/JetMetricsDataSerializerHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/JetMetricsService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/RawJobMetrics.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/ConcurrentArrayRingbuffer.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/JetReadMetricsMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/ReadMetricsOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/CompleteExecutionOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/GetJobMetricsOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/GetLocalJobMetricsOperation.java
  hazelcast-jet-core/src/main/resources/META-INF/services/com.hazelcast.DataSerializerHook
  hazelcast-jet-core/src/main/resources/META-INF/services/com.hazelcast.SerializerHook
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/TestInClusterSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestProcessors.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_BatchTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_MiscTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_NonSharedClusterTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_StreamTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_StressTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobMetricsUtilTest.java
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/log-debug.adoc
  hazelcast-jet-reference-manual/src/main/java/integration/Metrics.java
Labels: core, metrics

#1530 Minor cleanup on JobMetrics
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/JobMetrics.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/Measurement.java
Labels: core

#1529 Make TestSourcesTest.test_itemStream_withWindowing less sensitive
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/test/TestSourcesTest.java
Labels: test-failure

#1524 Fixed wrong ordered pick-up logic when there is a default enterprise …
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/XmlJetMemberConfigLocator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/YamlJetMemberConfigLocator.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JetConfigLoadFromClasspathOrderTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/test/FilteringAndDelegatingResourceLoadingClassLoader.java
  hazelcast-jet-core/src/test/resources/config-test-xml-first/hazelcast-jet-enterprise-member-default.xml
  hazelcast-jet-core/src/test/resources/config-test-xml-first/hazelcast-jet-enterprise-member-default.yaml
  hazelcast-jet-core/src/test/resources/config-test-xml-first/hazelcast.xml
  hazelcast-jet-core/src/test/resources/config-test-yaml-first/hazelcast-jet-enterprise-member-default.xml
  hazelcast-jet-core/src/test/resources/config-test-yaml-first/hazelcast-jet-enterprise-member-default.yaml
  hazelcast-jet-core/src/test/resources/config-test-yaml-first/hazelcast.yaml
Labels: configuration, defect

#1526 Add parallelism information to DOT format
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/DAG.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/DotTest.java
Labels: core, enhancement

#1514 Improve map reader
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastReaders.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadIListP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/DotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/MapSource_MigrationDetectionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadMapOrCachePTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/UtilTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourcesTest.java
Labels: core, enhancement

#1542 Move JobMetrics to own map to avoid querying during job cleanup
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/JetProperties.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobResult.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycle_RestartableExceptionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
Labels: core, defect

#1539 Overhaul of map/cache sinks to make use of better parallelism
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Inbox.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/JetDataSerializerHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestInbox.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/AbstractHazelcastConnectorSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/AsyncHazelcastWriterP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/UpdateMapP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/UpdateMapWithEntryProcessorP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteBufferedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/FunctionAdapter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/SinkImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/SinkTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/PeekWrappedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ArrayDequeInbox.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/test/AssertionSinkBuilder.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/UpdateMapPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SinksTest.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaProcessors.java
Labels: enhancement, pipeline-api

#1543 Disable persistence of completed job metrics by default
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Job.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/JetProperties.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/TestInClusterSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_BatchTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_MiscTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_NonSharedClusterTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_StreamTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_StressTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/PipelineTestSupport.java
Labels: core, metrics

#1544 Fix cancellation race with RestartableException
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycle_RestartableExceptionTest.java
Labels: defect

#1516 {map/filter/flatMap}Stateful
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Traversers.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/AbstractProcessor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/DataModelSerializerHooks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/TimestampedItem.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/FunctionAdapter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithGroupingBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/FlatMapStatefulTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/GlobalFlatMapStatefulTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/GlobalMapStatefulTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/MapStatefulTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/TimestampTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/RollingAggregateP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformStatefulP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformUsingContextP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/test/AssertionSinks.java
  hazelcast-jet-core/src/main/resources/META-INF/services/com.hazelcast.SerializerHook
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/TraversersTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/RollingAggregatePTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/TransformStatefulPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchAggregateTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/PipelineStreamTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/PipelineTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
  hazelcast-jet-hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/ReadHdfsP.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
  hazelcast-jet-reference-manual/src/main/java/CheatSheet.java
  hazelcast-jet-reference-manual/src/main/java/expertzone/CustomSink.java
  hazelcast-jet-reference-manual/src/main/java/expertzone/ItemAndSuccessorP.java
Labels: enhancement, pipeline-api

#1548 Tweaks to stateful mapping
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Traversers.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformStatefulP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/TransformStatefulPTest.java
Labels: enhancement

#1553 Fix SourceBuilder's javadoc
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SourceBuilder.java
Labels: javadoc

#1555 Fix adapting keyFn for partitioned sink input
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/FunctionAdapter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/GrAggBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithKeyAndWindowImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithWindowImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/SinkTransform.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SinksTest.java
Labels: defect, pipeline-api

#1558 Fix OperationLossTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/OperationLossTest.java
Labels: test-failure

#1557 Fix race in JobCoordinationService.terminateJob()
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
Labels: core, defect

#1564 Drop unstable mapStateful_keyedWithTtl, add coverage
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformStatefulP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/TransformStatefulPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: test-failure

#1562 Replace Jet.newInstance() usage with ConfigProvider.locateAndGetJetCo…
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/XmlJetConfigWithSystemPropertyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/YamlJetConfigWithSystemPropertyTest.java
Labels: configuration, test-failure

#1563 Match upstream parallelism when adding timestamp transform
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/DAG.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Vertex.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/StreamSourceTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/TimestampTransform.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/PipelineStreamTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTestBase.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: core, defect, pipeline-api

#1556 Command line interface fixes
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
  hazelcast-jet-all/src/test/java/com/hazelcast/jet/server/JetCommandLineTest.java
  hazelcast-jet-distribution/src/main/resources/bin/jet-start.sh
Labels: cli, defect, enhancement

#1573 Reduce visibility of snapshot logs
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/LoggingUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartStressTestBase.java
Labels: core, enhancement

#1561 Compress job metrics for storage and transmission
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/JobMetrics.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobMetricsUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/JetMetricsService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/JobMetricsPublisher.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/Metric.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/MetricsCompressor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/RawJobMetrics.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/ManagementCenterPublisher.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/MetricsResultSet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/CompleteExecutionOperation.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/TestInClusterSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_StreamTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobMetricsUtilTest.java
Labels: enhancement, metrics

#1574 Replace unicode chars with images
  hazelcast-jet-reference-manual/src/main/asciidoc/images/check-mark.png
  hazelcast-jet-reference-manual/src/main/asciidoc/images/cross-mark.png
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/overview.adoc
Labels: enhancement, reference-manual

#1571 Default to a lower parallelism(2) in case of non-cooperative context factory
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/PartitionedProcessorTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/ProcessorTransform.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/ProcessorTransformParallelismTest.java
Labels: defect, pipeline-api

#1567 Fix race in JCS.getJobStatus, unify the logic
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/ResumeJobOperation.java
Labels: defect

#1578 Reintroduce method used only in enterprise
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
Labels: defect

#1577 Fix group name, password, remove tab indentation
  hazelcast-jet-distribution/src/main/resources/bin/cluster.sh
Labels: cli

#1579 Add SimpleTestInClusterSupport
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/OperationLossTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SlowSourceYieldTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnectorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/init/VertexDef_HigherPrioritySourceTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingContextP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/ImdgUtilTest.java
Labels: avro, test-coverage

#1576 Stop rendering metrics for jobs that don't have them enabled
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Job.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/CompleteExecutionOperation.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_MiscTest.java
Labels: core, metrics

#1585 Added kafka sink code sample
  examples/README.md
  examples/kafka/src/main/java/com/hazelcast/jet/examples/kafka/KafkaSink.java
Labels: code-samples, enhancement

#1587 Revert a change that's breaking MC tests
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/MetricsResultSet.java
Labels: core, metrics

#1586 Harmonize metrics related config params
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/MetricsConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/JetMetricsService.java
Labels: core, metrics

#1575 More details about Kafka's two modes of operation
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSources.java
Labels: reference-manual
