Repository hazelcast/hazelcast-jet, pull requests merged in 2019-01, with the labels that each got.

#1191 Fix possible race with exportSnapshot
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Job.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
Labels: defect

#1184 Remove max-retain and policies
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/EventTimeMapper.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/EventTimePolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/SlidingWindowPolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkEmissionPolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkPolicies.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkPolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ConvenientSourceP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStream.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/StreamSourceTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/InsertWatermarksP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/TimestampHistory.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/WatermarkPolicyUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JobConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/EventTimeMapperTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/Processors_slidingWindowingIntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/WatermarkEmissionPolicyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/WatermarkPolicies_limitingLagAndDelayTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/WatermarkPolicies_limitingLagAndLullTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/WatermarkPolicies_limitingTimestampAndWallClockLag.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/WatermarkPolicy_withFixedLagTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/WatermarkSourceUtilTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/WatermarkMaxRetention_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnectorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastRemoteConnectorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalP_WmCoalescingTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamJmsPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStreamTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStreamTest_WmRetainEnabled.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Blocking.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Snapshots.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Watermarks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescerTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/InsertWatermarksPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/InsertWatermarksP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/TimestampHistoryTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTest.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaProcessors.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: breaking-change, core

#1181 Fixes around going to passive
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/JobStateSnapshot.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ClusterStateChangeTest.java
Labels: core, defect

#1182 Add explanation to exc when lambda class missing
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/CustomClassLoadedObject.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
Labels: core, enhancement

#1204 Add guava and reflections as test dependency
  pom.xml
Labels: core, defect, test-failure

#1202 Jet CLI
  checkstyle/suppressions.xml
  hazelcast-jet-all/pom.xml
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetBootstrap.java
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/StartServer.java
  hazelcast-jet-all/src/main/resources/logging.properties
  hazelcast-jet-all/src/test/java/com/hazelcast/jet/server/JetCommandLineTest.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Job.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Util.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/main/resources/hazelcast-jet-client-default.xml
  hazelcast-jet-core/src/main/resources/hazelcast-jet-member-default.xml
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/UtilTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/UtilTest.java
  hazelcast-jet-core/src/test/resources/hazelcast-jet-member-test.xml
  hazelcast-jet-distribution/src/main/resources/bin/jet-submit.bat
  hazelcast-jet-distribution/src/main/resources/bin/jet-submit.sh
  hazelcast-jet-distribution/src/main/resources/bin/jet.bat
  hazelcast-jet-distribution/src/main/resources/bin/jet.sh
  hazelcast-jet-spring/src/main/resources/hazelcast-jet-spring-0.8.xsd
  hazelcast-jet-spring/src/test/resources/com/hazelcast/jet/spring/application-context-jet.xml
  hazelcast-jet-spring/src/test/resources/com/hazelcast/jet/spring/application-context-processor.xml
Labels: breaking-change, core, enhancement

#1212 Fix ManualRestartTest failure
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ManualRestartTest.java
Labels: test-failure

#1203 Implement exclusive job execution
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetBootstrap.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/JetInstance.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/JobAlreadyExistsException.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJetInstance.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetInstanceImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ClusterStateChangeTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TopologyChangeDuringJobSubmissionTest.java
Labels: breaking-change, core

#1213 Work around a deadlock in Hazelcast.shutdownAll
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastRemoteConnectorTest.java
Labels: test-failure

#1215 Follow changed handling of Jet packets in IMDG
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetNodeExtension.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/NodeExtensionCommon.java
Labels: core

#1225 Shutdown Jet client automatically when using JetBootstrap
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetBootstrap.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ConcurrentMemoizingSupplier.java
Labels: core
