Repository hazelcast/hazelcast-jet, pull requests merged in 2019-07, with the labels that each got.

#1461 Fix to read system property for shutdown hook
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
Labels: configuration, defect

#1463 Improvements for source code blocks and page width.
  hazelcast-jet-reference-manual/src/main/asciidoc/index.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/stylesheets/hazelcast.css
Labels: enhancement, reference-manual

#1474 Introduced ability to mix and match YAML and XML configs for Jet and …
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/ConfigProvider.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/XmlJetConfigBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/YamlJetConfigBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/YamlJetMemberConfigLocator.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JetConfigMixAndMatchTest.java
Labels: configuration

#1475 Introduced YAML configuration for CLI client
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
  hazelcast-jet-all/src/test/java/com/hazelcast/jet/server/JetCommandLineTest.java
  hazelcast-jet-all/src/test/resources/com/hazelcast/jet/server/hazelcast-client-test.xml
  hazelcast-jet-all/src/test/resources/com/hazelcast/jet/server/hazelcast-client-test.yaml
Labels: cli, configuration

#1477 Update xml configuration with yaml configuration
  hazelcast-jet-reference-manual/src/main/asciidoc/get-started.adoc
Labels: enhancement, reference-manual

#1476 Link to Connector hub
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/overview.adoc
Labels: enhancement, reference-manual

#1478 Doc: Fixed link from Testing Pipeline to Jet Version Compatibility
  hazelcast-jet-reference-manual/src/main/asciidoc/pipeline-api/pipeline-api.adoc
Labels: defect, reference-manual

#1481 Improve javadoc for TestSources and assertions
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/test/Assertions.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/test/TestSources.java
  hazelcast-jet-reference-manual/src/main/asciidoc/pipeline-api/pipeline-api.adoc
  hazelcast-jet-reference-manual/src/main/java/CheatSheet.java
  hazelcast-jet-reference-manual/src/main/java/Testing.java
Labels: enhancement, javadoc, reference-manual

#1487 Avoid using blocking client threads
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetJoinSubmittedJobMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetSubmitJobMessageTask.java
Labels: client, core, enhancement

#1490 Use random port for kafka tests
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/KafkaTestSupport.java
Labels: test-failure

#1485 Avoid using blocking client threads
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetJoinSubmittedJobMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetSubmitJobMessageTask.java
Labels: client, enhancement

#1493 Avoid creating the job resources map if the job won’t need it
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/deployment/JetClassLoader.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
Labels: core, enhancement

#1492 Update Hazelcast version to 3.12.2-SNAPSHOT
  pom.xml
Labels: core, enhancement

#1495 Cap number of job results in cluster to 10,000
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/JetProperties.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
Labels: core, enhancement

#1494 Do not attempt to clear snapshots maps on job start
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
Labels: core, enhancement

#1488 Replace job id generation with FlakeID
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionRecord.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
Labels: breaking-change-core, core, enhancement

#1497 Use address of the given JetInstance, if provided
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/test/TestSupportTest.java
Labels: enhancement

#1502 Fix enterprise dependency in refman
  hazelcast-jet-reference-manual/src/main/asciidoc/get-started.adoc
Labels: reference-manual

#1480 Extended AssertionsTest and TestSourcesTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/test/AssertionsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/test/TestSourcesTest.java
Labels: test-coverage

#1498 Use address of the given JetInstance, if provided
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/test/TestSupportTest.java
Labels: enhancement

#1332 Support multigraphs
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/DAG.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Edge.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/EdgeDef.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/DAGTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/MultigraphTest.java
Labels: core, enhancement

#1505 Simplify creation of queues when edge is not partitioned
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ConveyorCollector.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/OutboundCollector.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
Labels: core, enhancement

#1508 Simplify creation of queues when edge is not partitioned
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ConveyorCollector.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/OutboundCollector.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
Labels: core, enhancement

#1507 Make idling min and max both configurable
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JetConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/JetProperties.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/JetProperties.java
  hazelcast-jet-core/src/main/resources/hazelcast-jet-full-example.xml
  hazelcast-jet-core/src/main/resources/hazelcast-jet-full-example.yaml
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/TaskletExecutionServiceTest.java
Labels: core, enhancement

#1509 Make enabling job metrics optional
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/JetMetricsService.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/init/VertexDef_HigherPrioritySourceTest.java
Labels: core, metrics

#1512 Add quick profile
  pom.xml
Labels: build
