Repository hazelcast/hazelcast-jet, pull requests merged in 2019-03, with the labels that each got.

#1302 Remove deprecated password from Jet
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JetClientConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JetConfig.java
  hazelcast-jet-core/src/main/resources/hazelcast-jet-client-default.xml
  hazelcast-jet-core/src/main/resources/hazelcast-jet-member-default.xml
Labels: core

#1303 Better exception when instance shut down
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobProxy.java
Labels: enhancement

#1305 Moves tasks waiting for remote response
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetExportSnapshotMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobIdsByNameMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobIdsMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobStatusMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobSubmissionTimeMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobSummaryListMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetJoinSubmittedJobMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetResumeJobMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetSubmitJobMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetTerminateJobMessageTask.java
Labels: client, enhancement

#1296 Fix race in cooperative worker shutdown
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/InstanceConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/exception/ShutdownInProgressException.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/GracefulShutdownTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TerminalSnapshotSynchronizationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/TaskletExecutionServiceTest.java
Labels: core, defect

#1307 Remove TimestampedItem from API
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/DataModelSerializerHooks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ConvenientSourceP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/SourceBufferImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/TimestampedItem.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/datamodel/EqualityTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/pipeline/EqualityTest.java
Labels: breaking-change, pipeline-api

#1311 GetJobConfig should be BlockingMessageTask
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobConfigMessageTask.java
Labels: core, defect

#1300 Use localParallelism=1 for global windows
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/WindowAggregateTransform.java
Labels: enhancement, pipeline-api

#1313 Fixed creation of RecordWriter for HdfsWriteP
  hazelcast-jet-hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/WriteHdfsP.java
Labels: defect, hadoop

#1318 Change how maxWmLatency metric is calculated
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestOutbox.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/OutboxImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/OutboxInternal.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
Labels: core, enhancement

#1306 Fixes around missing classes in IMDG Map Journal
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Util.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/function/FunctionEx.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/function/PredicateEx.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP_MigrationDetectionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalP_WmCoalescingTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/AbstractDeploymentTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/DeploymentTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/LoadPersonIsolated.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourcesTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/Sources_withEventJournalTest.java
  hazelcast-jet-core/src/test/resources/deployment/sample-pojo-1.0-car.jar
  hazelcast-jet-core/src/test/resources/deployment/sample-pojo-1.0-deployment.jar
Labels: defect

#1316 Extract lambda in WriteBufferedP to reduce GC load
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteBufferedP.java
Labels: enhancement

#1321 Improve exception when bootstrap is used without submit command
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetBootstrap.java
Labels: cli, enhancement

#1324 Add test for picking up multiple additions
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/FileSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamFilesPTest.java
Labels: test-failure

#1317 Make minimum idle time configurable
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/JetGroupProperty.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/TaskletExecutionServiceTest.java
Labels: enhancement

#1322 Make configureJetService synchronized
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
Labels: core, defect

#1329 Reuse cluster in HazelcastConnectorTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnectorTest.java
Labels: test-failure

#1331 Update checkstyle version to mitigate security warning
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/HashMapHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/HashSetHook.java
  pom.xml
Labels: enhancement

#1334 Update dependencies
  pom.xml
Labels: core, test-failure

#1333 Exception util test
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorSupplier.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/ExceptionUtilTest.java
Labels: test-failure

#1337 add JetConfigXmlGenerator
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JetConfigXmlGenerator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/MetricsConfig.java
  hazelcast-jet-core/src/main/resources/hazelcast-jet-full-example.xml
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JetConfigXmlGeneratorTest.java
Labels: core, enhancement

#1341 Fix JetConfigXmlGeneratorTest backup-count
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JetConfigXmlGeneratorTest.java
Labels: test-failure

#1340 Offload blocking tasks from async thread
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Job.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobIdsByNameMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobIdsMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobStatusMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobSubmissionTimeMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobSummaryListMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetTerminateJobMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/management/ReadMetricsOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/AsyncOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/GetJobIdsByNameOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/GetJobIdsOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/GetJobStatusOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/GetJobSubmissionTimeOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/GetJobSummaryListOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/JoinSubmittedJobOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/NotifyMemberShutdownOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/PrepareForPassiveClusterOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/SnapshotOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/StartExecutionOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/SubmitJobOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/TerminateJobOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ParallelStressTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
Labels: core, defect

#1343 Updated Hazelcast version to 3.12-BETA-2
  pom.xml
Labels: enhancement

#1342 Auto-enable hot restart when lossless restart is enabled
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JetConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/XmlJetConfigLocator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/JetProperties.java
  hazelcast-jet-core/src/main/resources/hazelcast-jet-default.xml
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
  hazelcast-jet-distribution/src/main/resources/bin/common.sh
  hazelcast-jet-distribution/src/main/resources/bin/jet-start.bat
  hazelcast-jet-distribution/src/main/resources/bin/jet.bat
Labels: core, enhancement

#1344 Revive 3.0.xsd, fix spring.schemas
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JetConfigXmlGenerator.java
  hazelcast-jet-core/src/main/resources/hazelcast-jet-config-3.0.xsd
  hazelcast-jet-spring/src/main/resources/META-INF/spring.schemas
  hazelcast-jet-spring/src/main/resources/hazelcast-jet-spring-3.0.xsd
Labels: critical, defect, spring, test-failure
