Repository hazelcast/hazelcast-jet, pull requests merged in 2019-05, with the labels that each got.

#1328 Add StreamSource.setPartitionIdleTimeout
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/EventTimePolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamSourceStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/StreamSourceTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamSource.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/EventTimeMapperTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/Processors_slidingWindowingIntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/InsertWatermarksPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/InsertWatermarksP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceTest.java
Labels: enhancement

#1315 Shut down JetClassLoader to avoid leaks
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/deployment/JetClassLoader.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/JetClassLoaderTest.java
Labels: core, enhancement

#1388 Allow removing partitions from EventTimeMapper
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/EventTimeMapper.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ConvenientSourceP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/InsertWatermarksP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/EventTimeMapperTest.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
Labels: breaking-change-core, core, enhancement

#1384 Added YAML examples to the distribution.
  hazelcast-jet-distribution/pom.xml
  hazelcast-jet-distribution/src/assembly/zip.xml
Labels: configuration, enhancement

#1385 Added documentation to the yaml configurations
  hazelcast-jet-core/src/main/resources/hazelcast-jet-default.yaml
  hazelcast-jet-core/src/main/resources/hazelcast-jet-full-example.yaml
Labels: configuration, enhancement

#1394 Add fault-tolerant custom source
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ConvenientSourceP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/SourceBufferImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/StreamSourceTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SourceBuilder.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ConvenientSourcePTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/PipelineStreamTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourceBuilderTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSinks.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSources.java
Labels: enhancement

#1377 Fix issues related to operation packet loss
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SenderTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SnapshotContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/StoreSnapshotTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/OperationLossTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Snapshots.java
Labels: core, defect, test-coverage

#1396 Fix calling of singletonList.replaceAll
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/AbstractTransform.java
Labels: defect, pipeline-api

#1397 Fix snapshot creation after execution is done
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
Labels: core, defect

#1398 Improve the README
  README.md
Labels: enhancement

#1352 Add `.apply()` operator to stages
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/PipelineImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StageWithWindow.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStage.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: enhancement, pipeline-api

#1403 Fix SourceBuilderTest failure
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourceBuilderTest.java
Labels: test-failure

#1402 Improve SourceBuilder.restoreSnapshotFn() javadoc
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SourceBuilder.java
Labels: enhancement, javadoc

#1395 Make IMDG's class loader parent of JetClassLoader
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/AbstractDeploymentTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/ClientDeploymentTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/LoadPersonIsolated.java
  hazelcast-jet-core/src/test/resources/Car.class.gz
  hazelcast-jet-core/src/test/resources/Person$Appereance.class.gz
  hazelcast-jet-core/src/test/resources/Person.class.gz
  hazelcast-jet-core/src/test/resources/cp1/com/sample/pojo/person/Person.class
  hazelcast-jet-core/src/test/resources/cp2/com/sample/pojo/car/Car.class
Labels: core, defect

#1400 Fix snapshots without FT in SourceBuilder
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SourceBuilder.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartStressTestBase.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/OperationLossTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourceBuilderTest.java
Labels: defect, pipeline-api

#1408 Improve error messages in SnapshotValidator
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionRecord.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/SnapshotValidator.java
Labels: core, enhancement

#1409 Test `jet.sh submit` and fix options for the jar
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetBootstrap.java
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
  hazelcast-jet-all/src/test/java/com/hazelcast/jet/server/JetCommandLineTest.java
  hazelcast-jet-all/src/test/resources/com/hazelcast/jet/server/testjob.jar
Labels: cli, defect

#1411 Fix running jet scripts directory with space
  hazelcast-jet-distribution/src/main/resources/bin/common.sh
  hazelcast-jet-distribution/src/main/resources/bin/jet-start.sh
  hazelcast-jet-distribution/src/main/resources/bin/jet-stop.sh
  hazelcast-jet-distribution/src/main/resources/bin/jet.sh
Labels: cli, defect

#1416 Follow changes in example XML renames
  hazelcast-jet-distribution/src/assembly/zip.xml
Labels: core

#1417 Clean-up Maven repositories in pom.xml
  pom.xml
Labels: build, enhancement

#1410 Improved coverage for custom sources fault tolerance
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourceBuilderTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourceBuilder_TopologyChangeTest.java
Labels: test-coverage

#1418 Set the address of the created instance to the client
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/MulticastDiscoveryTest.java
Labels: test-failure

#1412 Add check for matching expected Hazelcast version with actual version in classpath
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/resources/jet-runtime.properties
Labels: core, enhancement

#1414 Fix BackpressureTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/benchmark/BackpressureTest.java
Labels: enhancement, test-failure

#1406 Add samples to javadoc in AggregateOperations
  checkstyle/suppressions.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperations.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/CoAggregateOperationBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/aggregate/AggregateOperationsTest.java
Labels: javadoc
