Repository hazelcast/hazelcast-jet, pull requests merged in 2019-09, with the labels that each got.

#1589 Update job metrics info in RefMan
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SessionWindowP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SlidingWindowP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformStatefulP.java
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/log-debug.adoc
  hazelcast-jet-reference-manual/src/main/java/integration/Metrics.java
Labels: metrics, reference-manual

#1583 Fix deadlock when many jobs restart
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/JetTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/TestInClusterSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ScaleUpTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImplTest.java
Labels: defect

#1593 Fix exception asserting in causes
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_MiscTest.java
Labels: test-failure

#1596 Fix intermittent test failure in StreamSourceStageTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTestBase.java
Labels: test-failure

#1599 Reduce memory usage of JobSubmissionRegressionTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/job/JobSubmissionSlownessRegressionTest.java
Labels: test-failure

#1595 Add causes from members to job failed with a TCE
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
Labels: core, enhancement

#1601 Copy-paste system properties list to refman
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/JetProperties.java
  hazelcast-jet-reference-manual/src/main/asciidoc/appendix.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/configuration.adoc
Labels: enhancement, reference-manual

#1603 Fix bad module name in spring
  examples/spring/src/main/java/com/hazelcast/jet/examples/spring/XmlConfigurationSample.java
  examples/spring/src/main/java/com/hazelcast/jet/examples/spring/XmlConfigurationWithSchemaSample.java
  examples/spring/src/main/java/com/hazelcast/jet/examples/spring/source/CustomSourceP.java
  hazelcast-jet-spring/pom.xml
Labels: defect, spring

#1600 Fix different exception from join if problem is same
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobSummaryTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/ExceptionUtilTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/test/AssertionsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/test/TestSourcesTest.java
  hazelcast-jet-reference-manual/src/main/java/Testing.java
Labels: defect

#1604 Change max parallel ops limit to 1 per processor for writeMapP
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteMapP.java
Labels: core

#1611 Fix race in JCS.getJobIds
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/StartExecutionOperation.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/NonSmartClientTest.java
Labels: core, defect

#1538 Add s3 module
  examples/README.md
  examples/files/pom.xml
  examples/files/src/main/java/com/hazelcast/jet/examples/files/s3/S3WordCount.java
  hazelcast-jet-distribution/pom.xml
  hazelcast-jet-distribution/src/assembly/zip.xml
  hazelcast-jet-reference-manual/pom.xml
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/s3.adoc
  hazelcast-jet-reference-manual/src/main/java/integration/S3.java
  hazelcast-jet-s3/pom.xml
  hazelcast-jet-s3/src/main/java/com/hazelcast/jet/s3/S3Sinks.java
  hazelcast-jet-s3/src/main/java/com/hazelcast/jet/s3/S3Sources.java
  hazelcast-jet-s3/src/main/java/com/hazelcast/jet/s3/package-info.java
  hazelcast-jet-s3/src/test/java/com/hazelcast/jet/s3/S3MockContainer.java
  hazelcast-jet-s3/src/test/java/com/hazelcast/jet/s3/S3MockTest.java
  hazelcast-jet-s3/src/test/java/com/hazelcast/jet/s3/S3SinkTest.java
  hazelcast-jet-s3/src/test/java/com/hazelcast/jet/s3/S3SourceTest.java
  hazelcast-jet-s3/src/test/java/com/hazelcast/jet/s3/S3TestBase.java
  pom.xml
Labels: core, enhancement

#1616 Replace Jet.newInstance() usage with ConfigProvider.locateAndGetJetCo…
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/XmlJetConfigWithSystemPropertyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/YamlJetConfigWithSystemPropertyTest.java
Labels: test-failure

#1614 Stateful mapping: add onEvict callback
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Traverser.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/FunctionAdapter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithGroupingBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/FlatMapStatefulTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/GlobalFlatMapStatefulTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/GlobalMapStatefulTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/MapStatefulTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SlidingWindowP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformStatefulP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStageWithKey.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/TransformStatefulPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/PipelineTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/WindowAggregateTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/WindowGroupAggregateTest.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
Labels: enhancement, pipeline-api

#1613 Fix javadoc for assertionCollectedEventually
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/test/AssertionSinks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/test/Assertions.java
Labels: defect, javadoc

#1612 Do not rewrap exception in JetException if already a JetException
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/PipelineTestSupport.java
Labels: core, defect

#1620 Added region property to S3 client in test
  hazelcast-jet-s3/src/test/java/com/hazelcast/jet/s3/S3SourceTest.java
Labels: test-failure

#1619 Mark some client operations as retryable
  hazelcast-jet-client-protocol/src/main/java/com/hazelcast/client/impl/protocol/template/JetCodecTemplate.java
Labels: defect

#1621 Jet Configuration and Kafka JSON code samples
  examples/README.md
  examples/configuration/README.md
  examples/configuration/configure-logging/README.md
  examples/configuration/configure-logging/pom.xml
  examples/configuration/configure-logging/src/main/java/com/hazelcast/jet/examples/configuration/logging/JetInstance.java
  examples/configuration/configure-logging/src/main/resources/log4j.properties
  examples/configuration/configure-logging/start-jdk.sh
  examples/configuration/configure-logging/start-log4j.sh
  examples/configuration/configure-logging/start-none.sh
  examples/configuration/configure-logging/start-slf4j.sh
  examples/configuration/configure-xml/README.md
  examples/configuration/configure-xml/pom.xml
  examples/configuration/configure-xml/src/main/java/com/hazelcast/jet/examples/configuration/xml/ConfigLookup.java
  examples/configuration/configure-xml/src/main/java/com/hazelcast/jet/examples/configuration/xml/XmlJetConfigClasspath.java
  examples/configuration/configure-xml/src/main/resources/hazelcast-client.xml
  examples/configuration/configure-xml/src/main/resources/hazelcast-jet-sample.xml
  examples/configuration/configure-xml/src/main/resources/hazelcast-jet.xml
  examples/configuration/configure-xml/src/main/resources/hazelcast-jet.yaml
  examples/configuration/configure-xml/src/main/resources/hazelcast.xml
  examples/configuration/configure-yaml/README.md
  examples/configuration/configure-yaml/pom.xml
  examples/configuration/configure-yaml/src/main/java/com/hazelcast/jet/examples/configuration/yaml/ConfigLookup.java
  examples/configuration/configure-yaml/src/main/java/com/hazelcast/jet/examples/configuration/yaml/YamlJetConfigClasspath.java
  examples/configuration/configure-yaml/src/main/resources/hazelcast-client.yaml
  examples/configuration/configure-yaml/src/main/resources/hazelcast-jet-sample.yaml
  examples/configuration/configure-yaml/src/main/resources/hazelcast-jet.xml
  examples/configuration/configure-yaml/src/main/resources/hazelcast-jet.yaml
  examples/configuration/configure-yaml/src/main/resources/hazelcast.yaml
  examples/configuration/pom.xml
  examples/kafka/pom.xml
  examples/kafka/src/main/java/com/hazelcast/jet/examples/kafka/json/KafkaJsonSource.java
  examples/kafka/src/main/java/com/hazelcast/jet/examples/kafka/json/User.java
  examples/pom.xml
Labels: code-samples

#1622 skip deployment of code samples
  examples/pom.xml
Labels: build

#1626 Update README.md
  README.md
Labels: enhancement

#1631 Update logger when wrapping a processor
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/PeekWrappedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ProcessorWrapper.java
Labels: defect

#1637 S3 sink should handle items larger than buffer size
  hazelcast-jet-s3/src/main/java/com/hazelcast/jet/s3/S3Sinks.java
  hazelcast-jet-s3/src/test/java/com/hazelcast/jet/s3/S3MockTest.java
  hazelcast-jet-s3/src/test/java/com/hazelcast/jet/s3/S3SinkTest.java
  hazelcast-jet-s3/src/test/java/com/hazelcast/jet/s3/S3SourceTest.java
  hazelcast-jet-s3/src/test/java/com/hazelcast/jet/s3/S3TestBase.java
Labels: s3

#1632 Code sample for stateful mapping
  README.md
  examples/README.md
  examples/pattern-matching/pom.xml
  examples/pattern-matching/src/main/java/com/hazelcast/jet/examples/patternmatching/TransactionTracking.java
  examples/pattern-matching/src/main/java/com/hazelcast/jet/examples/patternmatching/support/TransactionEvent.java
  examples/pattern-matching/src/main/java/com/hazelcast/jet/examples/patternmatching/support/TransactionGenerator.java
  examples/pattern-matching/src/main/java/com/hazelcast/jet/examples/patternmatching/support/TransactionStatusGui.java
  examples/pattern-matching/src/main/resources/hazelcast.yaml
  examples/pattern-matching/src/main/resources/log4j.properties
  examples/pom.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-reference-manual/src/main/asciidoc/pipeline-api/pipeline-api.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/pipeline-api/pipeline-cheatsheet.adoc
  hazelcast-jet-reference-manual/src/main/java/BuildComputation.java
  hazelcast-jet-reference-manual/src/main/java/CheatSheet.java
Labels: code-samples, enhancement

#1646 Stateful mapping: WM stride = TTL / 10
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/FlatMapStatefulTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/GlobalFlatMapStatefulTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/GlobalMapStatefulTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/MapStatefulTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/StatefulKeyedTransformBase.java
Labels: enhancement

#1644 Added more tests for stateful mapping
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/PipelineTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StatefulMappingEvictionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StatefulMappingStressTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StatefulMappingWindowingTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: test-coverage

#1648 Delete redundant tests, avoid static state in a test
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StatefulMappingEvictionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StatefulMappingStressTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StatefulMappingWindowingTest.java
Labels: enhancement, pipeline-api, test-coverage

#1649 Added more test scenarios to TransformStatefulPTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/TransformStatefulPTest.java
Labels: test-coverage

#1652 Fixed StatefulMappingStressTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StatefulMappingStressTest.java
Labels: test-failure

#1653 Fixed StatefulMappingStressTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StatefulMappingStressTest.java
Labels: test-failure

#1656 Client Join message should not be marked as retryable
  hazelcast-jet-client-protocol/src/main/java/com/hazelcast/client/impl/protocol/template/JetCodecTemplate.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
Labels: client, defect

#1657 Client Join message should not be marked as retryable (#1656)
  hazelcast-jet-client-protocol/src/main/java/com/hazelcast/client/impl/protocol/template/JetCodecTemplate.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
Labels: client, defect

#1658 Add support for creation of Jet blue/green client
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
Labels: client, core, enhancement

#1659 Fix for OperationTimeoutException when join request is sent to non-master
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
Labels: client, defect

#1662 Remove use of cancel() in JobTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
Labels: test-failure

#1661 Fix for OperationTimeoutException when join request is sent to non-master
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
Labels: client, defect
