Repository hazelcast/hazelcast-jet, pull requests merged in 2019-12, with the labels that each got.

#1771 Fix snapshot chunking
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImpl.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImplTest.java
Labels: core, defect

#1774 Update default parallelism of map/cache sources and sinks to 1
  examples/hello-world/src/main/java/com/hazelcast/jet/examples/helloworld/HelloWorld.java
  examples/session-windows/src/main/java/com/hazelcast/jet/examples/sessionwindow/SessionWindow.java
  hazelcast-jet-avro/src/main/java/com/hazelcast/jet/avro/AvroProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/AsyncHazelcastWriterP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamFilesP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/UpdateMapWithEntryProcessorP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteMapP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/benchmark/WordCountTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/DotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/PeekingWrapperPreferredParallelismTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTestBase.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaProcessors.java
Labels: enhancement

#1776 Fix merging of differently-timestamped streams
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ExplodeSnapshotP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/UpdateMapP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceOrderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceUnorderedP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/WindowGroupAggregateTest.java
Labels: defect, pipeline-api

#1779 Use temp directory for h2
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadJdbcPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteJdbcPTest.java
Labels: core, defect

#1782 Remove weaker access suppressions
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/MetricTags.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/Metrics.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/MetricsTest.java
Labels: test-coverage

#1780 Add Hadooop as a file connector option to the ref manual
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/file-socket.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/hdfs.adoc
Labels: enhancement, reference-manual

#1784 Increase assert timeout for initial snapshot
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
Labels: core, test-failure

#1786 Follow changes in IMDG
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MigrationWatcher.java
Labels: compile-fix

#1778 Improve the default config to add additional discovery options
  hazelcast-jet-distribution/src/bin-filemode-755/jet-cluster-admin
  hazelcast-jet-distribution/src/root/config/hazelcast-client.yaml
  hazelcast-jet-distribution/src/root/config/hazelcast-jet.yaml
  hazelcast-jet-distribution/src/root/config/hazelcast.yaml
Labels: build, cli, enhancement

#1785 Use context object instead of writer for sink-builder
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SinkBuilder.java
Labels: breaking-change, breaking-change-core, enhancement

#1764 Move Data to private API
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestOutbox.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRecord.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobConfigCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobMetricsCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobSummaryListCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetSubmitJobCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/AbstractJetMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobConfigMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobMetricsMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobSummaryListMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/UpdateMapP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/OutboxImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/StoreSnapshotTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/CustomClassLoadedObject.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/InitExecutionOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/SubmitJobOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImpl.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/accumulator/AccumulatorSerializerHooksTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/ConfigDataSerializerHookTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/CoreSerializerHooksTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/datamodel/DataModelSerializerHooksTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ExecutionSerializerHooksTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHookTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/SerializerHooksTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImplTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/MockAsyncSnapshotWriter.java
Labels: compile-fix

#1775 Add Blue/Green Documentation section to reference manual
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/configure-fault-tolerance.adoc
  hazelcast-jet-reference-manual/src/main/java/ConfigureFaultTolerance.java
Labels: enhancement, reference-manual

#1788 Removed ClusterMetadata operation and the checks around it
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClusterMetadata.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/GetClusterMetadataOperation.java
Labels: core, refactor

#1789 Improve the Refman with respect to the ZIP distribution package
  examples/hello-world/src/main/java/com/hazelcast/jet/examples/helloworld/HelloWorld.java
  hazelcast-jet-reference-manual/src/main/asciidoc/configuration.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/get-started.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/job-management.adoc
Labels: enhancement, reference-manual

#1794 Explain how to parametrise jobs
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/job-management.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/start-jet-submit-job.adoc
  hazelcast-jet-reference-manual/src/main/java/StartJet.java
Labels: enhancement, reference-manual

#1795 Document s3 sink behaviour and limitation for streaming jobs
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/s3.adoc
Labels: enhancement, reference-manual

#1783 Add daemon mode and rolling file logger
  hazelcast-jet-distribution/src/bin-filemode-755/jet-cluster-admin
  hazelcast-jet-distribution/src/bin-filemode-755/jet-start
  hazelcast-jet-distribution/src/root/README.md
  hazelcast-jet-distribution/src/root/config/log4j.properties
Labels: cli, enhancement

#1787 ServiceFactory provides a custom ServiceContext to createFn
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/PartitionedProcessorTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/ProcessorTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceOrderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceUnorderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ProcessorSupplierWithService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ServiceContextImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformUsingServiceP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ServiceFactories.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ServiceFactory.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SinkBuilder.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/MetricsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/TransformUsingServicePTest.java
Labels: breaking-change, pipeline-api

#1438 Two-phase commit for snapshots
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Job.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Outbox.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestOutbox.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestProcessorMetaSupplierContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionRecord.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorState.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SnapshotContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SnapshotFlags.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/StoreSnapshotTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/SnapshotPhase1Operation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/SnapshotPhase2Operation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ProcessorWrapper.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TwoPhaseSnapshotCommitUtility.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ProgressTracker.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SessionWindowDefinition.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SlidingWindowDefinition.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowDefinition.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/TestInClusterSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/CancellationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartStressTestBase.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ManualRestartTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/OperationLossTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ParallelStressTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SuspendResumeTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TerminalSnapshotSynchronizationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestProcessors.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/AbstractDeploymentTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Snapshots.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Watermarks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/SnapshotContextSimpleTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/SnapshotContextTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/StoreSnapshotTaskletTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/TransformStatefulPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourceBuilderTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourceBuilder_TopologyChangeTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceTest.java
Labels: enhancement

#1797 Change ServiceFactory to support instance wide init
  examples/grpc/src/main/java/com/hazelcast/jet/examples/grpc/GRPCEnrichment.java
  examples/grpc/src/main/resources/hazelcast.yaml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/AbstractProcessor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/function/RunnableEx.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithGroupingBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/DistinctTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/PartitionedProcessorTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/ProcessorTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AbstractTransformUsingServiceP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceOrderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceUnorderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ProcessorSupplierWithService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ServiceContextImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformUsingServiceP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ServiceFactories.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ServiceFactory.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStageWithKey.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ProcessorsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/MetricsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServicePTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/TransformUsingServicePTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/ProcessorTransformParallelismTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
  hazelcast-jet-reference-manual/src/main/java/BuildComputation.java
  hazelcast-jet-reference-manual/src/main/java/LogDebug.java
  hazelcast-jet-reference-manual/src/main/java/PerformanceConsiderations.java
  hazelcast-jet-reference-manual/src/main/java/StockExchangeCoreApi.java
  hazelcast-jet-reference-manual/src/main/java/TfIdfCoreApi.java
Labels: breaking-change, pipeline-api

#1791 Include Maven Wrapper
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  README.md
  mvnw
  mvnw.cmd
Labels: build

#1807 Remove too much flexibility from the JMS sink & improvements
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsIntegrationTest.java
Labels: breaking-change, pipeline-api

#1806 Fix exponential complexity in isHigherPrioritySrc
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/VertexDef.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/init/VertexDef_HigherPrioritySourceTest.java
Labels: core, defect

#1809 backport fix #1806 to 3.2
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/VertexDef.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/init/VertexDef_HigherPrioritySourceTest.java
Labels: core, defect

#1810 Fix snapshot chunking (#1771)
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImpl.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImplTest.java
Labels: backport, core, defect

#1812 Update IMDG version to 3.12.5
  pom.xml
Labels: enhancement

#1654 Transactional Kafka sink
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/ProcessingGuarantee.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransactionPoolSnapshotUtility.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/FlatMappingTraverser.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/TraverserTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/XmlJetConfigWithSystemPropertyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SnapshotFailureTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestProcessors.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/InsertWatermarksP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/UtilTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceTest.java
  hazelcast-jet-core/src/test/resources/log4j.properties
  hazelcast-jet-kafka/pom.xml
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaProcessors.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSinks.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/ResumeTransactionUtil.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/WriteKafkaP.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/KafkaSinkTest.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/KafkaTestSupport.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaP_StandaloneKafkaTest.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaP_TimestampModesTest.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/WriteKafkaPTest.java
  hazelcast-jet-reference-manual/src/main/java/integration/JMS.java
Labels: enhancement, kafka

#1816 Upgrade Hadoop to 2.10.0
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/hdfs.adoc
  pom.xml
Labels: enhancement, hadoop

#1818 Tidy up references to Management Center
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRecord.java
  pom.xml
Labels: enhancement, javadoc

#1655 Transactional file sink
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteFileP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/UnboundedTransactionsProcessorUtility.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/FileSinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteFilePTest.java
  hazelcast-jet-reference-manual/src/main/java/StockExchangeCoreApi.java
  hazelcast-jet-reference-manual/src/main/java/expertzone/BestPractices.java
Labels: enhancement

#1804 Exactly-once for JMS source
  examples/jms/pom.xml
  examples/jms/src/main/java/com/hazelcast/jet/examples/jms/ActiveMQBroker.java
  examples/jms/src/main/java/com/hazelcast/jet/examples/jms/JmsMessageProducer.java
  examples/jms/src/main/java/com/hazelcast/jet/examples/jms/JmsQueueSample.java
  examples/jms/src/main/java/com/hazelcast/jet/examples/jms/JmsTopicSample.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/JetInstance.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Job.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Util.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SnapshotFlags.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TwoPhaseSnapshotCommitUtility.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/FileSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestProcessors.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsIntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsIntegration_NonSharedClusterTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsTestUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamJmsPTest.java
  hazelcast-jet-hadoop/src/main/java/com/hazelcast/jet/hadoop/HadoopSinks.java
  hazelcast-jet-hadoop/src/main/java/com/hazelcast/jet/hadoop/HadoopSources.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSinks.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSources.java
  pom.xml
Labels: breaking-change, enhancement

#1820 jet CLI shouldn’t use log4j
  hazelcast-jet-distribution/src/bin-filemode-755/jet
  hazelcast-jet-distribution/src/bin-filemode-755/jet-start
  hazelcast-jet-distribution/src/bin-regular/common.sh
  hazelcast-jet-distribution/src/bin-regular/jet-start.bat
  hazelcast-jet-distribution/src/root/config/hazelcast-client.yaml
Labels: cli, defect

#1822 Suppress spotbugs false positive on java 11
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteFileP.java
  pom.xml
Labels: build

#1823 Add missing WriteFileP.tryProcessWatermark()
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteFileP.java
Labels: defect

#1828 Add assertEventually for s3 sink tests
  hazelcast-jet-s3/src/test/java/com/hazelcast/jet/s3/S3TestBase.java
Labels: s3, test-failure

#1826 fix typo
  hazelcast-jet-reference-manual/src/main/java/integration/HdfsAndKafka.java
Labels: defect, reference-manual

#1800 Introduced an option to pick main class from the JAR file
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetBootstrap.java
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
  hazelcast-jet-all/src/test/java/com/hazelcast/jet/server/JetCommandLineTest.java
Labels: cli, enhancement

#1831 Add random group.id if not set explicitly
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaProcessors.java
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSources.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: defect, kafka

#1832 Removed START_FROM_CURRENT usage since it is racy
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_StreamTest.java
Labels: metrics, test-failure
