Repository hazelcast/hazelcast-jet, pull requests merged in 2019-10, with the labels that each got.

#1664 Fix for intermittent test failure
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
Labels: test-failure

#1666 Add s3 to the index of source/sink connectors
  hazelcast-jet-reference-manual/src/main/asciidoc/pipeline-api/pipeline-api.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/index.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/overview.adoc
Labels: reference-manual, s3

#1667 Add s3 to the index of source/sink connectors
  hazelcast-jet-reference-manual/src/main/asciidoc/pipeline-api/pipeline-api.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/index.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/overview.adoc
Labels: reference-manual, s3

#1674 Update Hazelcast to 3.12.3
  hazelcast-jet-distribution/src/main/resources/changelog.txt
  hazelcast-jet-distribution/src/main/resources/release_notes.txt
  pom.xml
Labels: enhancement

#1679 Move executor-service registration to the constructor of JobCoordinationService to avoid race
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
Labels: backport, core, defect, test-failure

#1683 Fix WriteJdbcP in jobs with timestamps - backport
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteJdbcP.java
Labels: defect

#1668 Fix broken code sample links in ref manual
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/test/Assertions.java
  hazelcast-jet-reference-manual/src/main/asciidoc/appendix.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/attributes.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/configuration.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/expert-zone/dag-tutorial.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/expert-zone/dag.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/expert-zone/watermark-policy.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/get-started.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/jet-concepts.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/pipeline-api/pipeline-api.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/file-socket.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/overview.adoc
Labels: reference-manual

#1669 Fix broken code sample links in ref manual
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/test/Assertions.java
  hazelcast-jet-reference-manual/src/main/asciidoc/appendix.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/attributes.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/configuration.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/expert-zone/dag-tutorial.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/expert-zone/dag.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/expert-zone/watermark-policy.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/get-started.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/jet-concepts.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/pipeline-api/pipeline-api.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/file-socket.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/overview.adoc
Labels: defect, reference-manual

#1665 Fix for intermittent test failure
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
Labels: test-failure

#1680 Move executor-service registration to the constructor of JobCoordinationService to avoid race
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
Labels: core, defect, test-failure

#1671 Fix code sample
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/performance-considerations.adoc
  hazelcast-jet-reference-manual/src/main/java/Serialization.java
Labels: reference-manual

#1690 Add exception logging to JUL logging.properties
  hazelcast-jet-all/src/main/resources/logging.properties
Labels: backport, enhancement

#1688 Add exception logging to JUL logging.properties
  hazelcast-jet-all/src/main/resources/logging.properties
Labels: configuration, enhancement

#1687 Improve DOT format to include queue sizes for edges
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/DAG.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/DotTest.java
Labels: core, enhancement

#1691 Fix JDBC reconnection test
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteJdbcPTest.java
Labels: test-coverage

#1682 Fix WriteJdbcP in jobs with timestamps
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteJdbcP.java
Labels: defect

#1694 Update distribution's readme.html
  hazelcast-jet-distribution/src/dist/readme.html
Labels: defect

#1695 Further 4.0 cleanup
  checkstyle/suppressions.xml
  examples/co-group/src/main/java/com/hazelcast/jet/examples/cogroup/WindowedCoGroup.java
  examples/event-journal/src/main/java/com/hazelcast/jet/examples/eventjournal/RemoteCacheJournalSource.java
  examples/event-journal/src/main/java/com/hazelcast/jet/examples/eventjournal/RemoteMapJournalSource.java
  examples/fault-tolerance/src/main/java/com/hazelcast/jet/examples/faulttolerance/FaultTolerance.java
  examples/imdg-connectors/src/main/java/com/hazelcast/jet/examples/imdg/RemoteListSourceAndSink.java
  examples/imdg-connectors/src/main/java/com/hazelcast/jet/examples/imdg/RemoteMapSourceAndSink.java
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
  hazelcast-jet-all/src/test/java/com/hazelcast/jet/server/JetCommandLineTest.java
  hazelcast-jet-all/src/test/resources/com/hazelcast/jet/server/hazelcast-client-test.xml
  hazelcast-jet-all/src/test/resources/com/hazelcast/jet/server/hazelcast-client-test.yaml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JetClientConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetExistsDistributedObjectCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetExportSnapshotCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetClusterMetadataCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobConfigCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobIdsByNameCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobIdsCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobMetricsCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobStatusCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobSubmissionTimeCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobSummaryListCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetMemberXmlConfigurationCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetJoinSubmittedJobCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetResumeJobCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetSubmitJobCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetTerminateJobCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/main/resources/client-protocol-definition/Jet.yaml
  hazelcast-jet-core/src/main/resources/hazelcast-jet-client-default.xml
  hazelcast-jet-core/src/main/resources/hazelcast-jet-client-default.yaml
  hazelcast-jet-core/src/main/resources/hazelcast-jet-config-3.0.xsd
  hazelcast-jet-core/src/main/resources/hazelcast-jet-config-3.1.xsd
  hazelcast-jet-core/src/main/resources/hazelcast-jet-config-3.2.xsd
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/AbstractJetConfigWithSystemPropertyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/XmlJetClientConfigWithSystemPropertyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/YamlJetClientConfigWithSystemPropertyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastRemoteConnectorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/MapSource_MigrationDetectionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/NonSmartClientTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingContextP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/PipelineTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/Sources_withEventJournalTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTest.java
  hazelcast-jet-core/src/test/resources/hazelcast-client-test.xml
  hazelcast-jet-core/src/test/resources/hazelcast-client-test.yaml
  hazelcast-jet-core/src/test/resources/hazelcast-jet-client-with-variables.xml
  hazelcast-jet-core/src/test/resources/hazelcast-jet-client-with-variables.yaml
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSources.java
  hazelcast-jet-reference-manual/src/main/java/BuildComputation.java
  hazelcast-jet-reference-manual/src/main/java/CheatSheet.java
  hazelcast-jet-reference-manual/src/main/java/Configuration.java
  hazelcast-jet-reference-manual/src/main/java/integration/ImdgConnectors.java
  hazelcast-jet-spring/src/main/resources/hazelcast-jet-spring-4.0.xsd
  hazelcast-jet-spring/src/test/resources/com/hazelcast/jet/spring/application-context-jet.xml
Labels: breaking-change, core

#1696 mapUsingContext -> mapUsingService
  examples/grpc/src/main/java/com/hazelcast/jet/examples/grpc/GRPCEnrichment.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/FunctionAdapter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithGroupingBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/DistinctTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/PartitionedProcessorTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/ProcessorTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceOrderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceUnorderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ProcessorSupplierWithService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformUsingServiceP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ServiceFactories.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ServiceFactory.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStageWithKey.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ProcessorsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServicePTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/TransformUsingServicePTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/ProcessorTransformParallelismTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
  hazelcast-jet-reference-manual/src/main/asciidoc/expert-zone/dag-tutorial.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/pipeline-api/pipeline-api.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/log-debug.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/start-jet-submit-job.adoc
  hazelcast-jet-reference-manual/src/main/java/BuildComputation.java
  hazelcast-jet-reference-manual/src/main/java/PerformanceConsiderations.java
  hazelcast-jet-reference-manual/src/main/java/Serialization.java
  hazelcast-jet-reference-manual/src/main/java/StockExchangeCoreApi.java
  hazelcast-jet-reference-manual/src/main/java/TfIdfCoreApi.java
Labels: breaking-change, breaking-change-core, core, pipeline-api

#1698 Cleanup of type params regarding mapUsingService
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceOrderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceUnorderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ProcessorSupplierWithService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformUsingServiceP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStageWithKey.java
Labels: pipeline-api

#1700 More efficient empty traverser
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Traversers.java
Labels: enhancement

#1692 User metrics
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/Metric.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/MetricTags.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/Metrics.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/Unit.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/Tasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/MetricsContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/MetricsImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ServiceFactory.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/MetricsTest.java
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/log-debug.adoc
  hazelcast-jet-reference-manual/src/main/java/LogDebug.java
Labels: core, metrics

#1709 Propagate movement of IMDG classes
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Util.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/JetDomConfigProcessor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/XmlJetClientConfigLocator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/XmlJetConfigBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/XmlJetConfigLocator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/XmlJetMemberConfigLocator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/YamlJetClientConfigLocator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/YamlJetConfigLocator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/YamlJetDomConfigProcessor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/YamlJetMemberConfigLocator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/UpdateMapP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnectorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnector_RestartTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastRemoteConnectorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalP_WmCoalescingTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/Sources_withEventJournalTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTest.java
  hazelcast-jet-reference-manual/src/main/java/StockExchangeCoreApi.java
  hazelcast-jet-reference-manual/src/main/java/integration/ImdgConnectors.java
  hazelcast-jet-spring/src/main/java/com/hazelcast/jet/spring/JetInstanceBeanDefinitionParser.java
Labels: core, critical, defect, reference-manual

#1711 Follow changes in IMDG
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Util.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnectorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastRemoteConnectorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalP_WmCoalescingTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/Sources_withEventJournalTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTest.java
  hazelcast-jet-reference-manual/src/main/java/StockExchangeCoreApi.java
  hazelcast-jet-reference-manual/src/main/java/integration/ImdgConnectors.java
Labels: breaking-change, core

#1703 Jet distribution changes
  examples/hello-world/pom.xml
  examples/hello-world/src/main/java/com/hazelcast/jet/examples/helloworld/HelloWorld.java
  examples/hello-world/src/main/resources/log4j.properties
  examples/pom.xml
  hazelcast-jet-all/pom.xml
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetBootstrap.java
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
  hazelcast-jet-avro/pom.xml
  hazelcast-jet-distribution/pom.xml
  hazelcast-jet-distribution/src/assembly-descriptor.xml
  hazelcast-jet-distribution/src/assembly/zip.xml
  hazelcast-jet-distribution/src/bin-filemode-755/jet
  hazelcast-jet-distribution/src/bin-filemode-755/jet-cluster-admin
  hazelcast-jet-distribution/src/bin-filemode-755/jet-start
  hazelcast-jet-distribution/src/bin-filemode-755/jet-stop
  hazelcast-jet-distribution/src/bin-regular/common.sh
  hazelcast-jet-distribution/src/bin-regular/jet-start.bat
  hazelcast-jet-distribution/src/bin-regular/jet-stop.bat
  hazelcast-jet-distribution/src/bin-regular/jet.bat
  hazelcast-jet-distribution/src/dist/readme.html
  hazelcast-jet-distribution/src/main/resources/bin/cluster.sh
  hazelcast-jet-distribution/src/main/resources/bin/common.sh
  hazelcast-jet-distribution/src/main/resources/bin/jet-start.bat
  hazelcast-jet-distribution/src/main/resources/bin/jet-start.sh
  hazelcast-jet-distribution/src/main/resources/bin/jet.sh
  hazelcast-jet-distribution/src/root/changelog.txt
  hazelcast-jet-distribution/src/root/config/hazelcast-client.yaml
  hazelcast-jet-distribution/src/root/config/hazelcast-jet.yaml
  hazelcast-jet-distribution/src/root/config/hazelcast.yaml
  hazelcast-jet-distribution/src/root/config/log4j.properties
  hazelcast-jet-distribution/src/root/license/README.txt
  hazelcast-jet-distribution/src/root/license/apache-v2-license.txt
  hazelcast-jet-distribution/src/root/license/notice.txt
  hazelcast-jet-distribution/src/root/readme.md
  hazelcast-jet-distribution/src/root/release_notes.txt
  hazelcast-jet-hadoop/pom.xml
  hazelcast-jet-kafka/pom.xml
  hazelcast-jet-reference-manual/src/main/asciidoc/appendix.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/configure-fault-tolerance.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/job-management.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/start-jet-submit-job.adoc
  hazelcast-jet-s3/pom.xml
  hazelcast-jet-spring/pom.xml
  pom.xml
Labels: breaking-change, cli, enhancement
