Repository hazelcast/hazelcast-jet, pull requests merged in 2019-06, with the labels that each got.

#1424 Remove -server flag from start script
  hazelcast-jet-distribution/src/main/resources/bin/jet-start.sh
Labels: cli, defect

#1422 Improve test coverage of BatchStageWithKey
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GroupAggregateBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GroupAggregateBuilder1.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchAggregateTest.java
Labels: enhancement, test-coverage

#1430 Fix StackOverflowError with long path in DAG
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/VertexDef.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/init/VertexDef_HigherPrioritySourceTest.java
Labels: core, enhancement

#1433 Correctly handle TimeoutException in Kafka sink
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/WriteKafkaP.java
Labels: defect, kafka

#1429 Fix Kafka source responsiveness when broker down
  hazelcast-jet-kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  hazelcast-jet-kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: defect, kafka

#1435 Fix loss of SnapshotOperation
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SnapshotContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/StoreSnapshotTasklet.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/OperationLossTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestProcessors.java
Labels: core, defect

#1434 Improve documentation of windowing constructs
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowDefinition.java
Labels: javadoc

#1440 Fix test failure in ManualRestartTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ManualRestartTest.java
Labels: test-failure

#1437 Always initialize executionStartTime
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
Labels: defect

#1442 Bump IMDG version to 3.12.1
  pom.xml
Labels: enhancement

#1443 3.2 xsd fix
  hazelcast-jet-core/src/main/resources/hazelcast-jet-config-3.1.xsd
  hazelcast-jet-spring/src/main/resources/META-INF/spring.schemas
  hazelcast-jet-spring/src/main/resources/hazelcast-jet-spring-3.1.xsd
Labels: core, defect, spring

#1448 Fix space handling in JAVA_OPTS
  hazelcast-jet-distribution/src/main/resources/bin/common.sh
Labels: cli, defect

#1446 Fix issues in JetClassLoader
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/deployment/JetClassLoader.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/JetClassLoaderTest.java
Labels: core, defect

#1449 Fix space handling in JAVA_OPTS (#1448)
  hazelcast-jet-distribution/src/main/resources/bin/common.sh
Labels: backport, cli, enhancement

#1452 [BACKPORT] Add default yaml configurations to the distribution
  hazelcast-jet-distribution/src/assembly/zip.xml
Labels: backport, configuration, enhancement

#1451 Add default yaml configurations to the distribution
  hazelcast-jet-distribution/src/assembly/zip.xml
Labels: configuration, enhancement

#1445 Fix issues in JetClassLoader
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/deployment/JetClassLoader.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/JetClassLoaderTest.java
Labels: core, defect

#1455 Add missing and unify serialization checks for sources and sinks
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/EventTimePolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadIListP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadJdbcP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamFilesP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteBufferedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteJdbcP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
Labels: core, enhancement

#1456 Drop ParallelTest, clean up cluster after tests
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/TestInClusterSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SinksTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourceBuilderTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourcesTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/Sources_withEventJournalTest.java
Labels: enhancement

#1460 Add workaround for StreamSocketPTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamSocketPTest.java
Labels: test-failure
