Repository hazelcast/hazelcast-jet, pull requests merged in 2019-02, with the labels that each got.

#1218 Improvements to JetCommandLine
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetBootstrap.java
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
  hazelcast-jet-all/src/test/java/com/hazelcast/jet/server/JetCommandLineTest.java
  hazelcast-jet-distribution/src/dist/license/notice.txt
  hazelcast-jet-distribution/src/dist/readme.html
  hazelcast-jet-distribution/src/main/resources/bin/jet.sh
Labels: core, enhancement

#1230 fix for verbose mode on message
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
Labels: cli, defect

#1223 Fix java9+ build
  hazelcast-jet-spring/pom.xml
Labels: test-failure

#1232 Improve watermark debugging
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestOutbox.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/OutboxImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/OutboxInternal.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
Labels: core, enhancement

#1236 Disallow reusing same Source instance
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/PipelineImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/SinkImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/BatchSourceTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/StreamSourceTransform.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourcesTest.java
Labels: defect, pipeline-api

#1235 Fix validation record & data for large chunks
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/SnapshotValidationRecord.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/SnapshotValidator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImpl.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/SnapshotLargeChunk_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImplTest.java
Labels: core, critical, defect

#1237 Fix test asserting the DAG deserialization failure
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
Labels: test-failure

#1241 Fix an initialization race
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/NodeExtensionCommon.java
Labels: core, defect

#1246 Override initialSnapshotName and jobName only if they are passed as an argument to the cli
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetBootstrap.java
Labels: cli, defect

#1243 Add partition migration detection
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MigrationWatcher.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadWithPartitionIteratorP_MigrationDetectionTest.java
Labels: enhancement

#1239 Add missing tests for map/filterUsingContextAsyncP
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ProcessorsTest.java
Labels: enhancement

#1233 Always force JobConfig serialization
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetSubmitJobMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/SubmitJobOperation.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
Labels: core, defect

#1247 Include docker classpath entries to the classpath
  hazelcast-jet-distribution/src/main/resources/bin/common.sh
Labels: enhancement

#1252 Move processingGuarantee up from Processor.Context
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestProcessorContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestProcessorMetaSupplierContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestProcessorSupplierContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
Labels: enhancement

#1251 Fix `customTransform`
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/PartitionedProcessorTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/ProcessorTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStageWithKey.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: pipeline-api

#1256 Fix cooperative emission in unordered-async-mapP
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingContextOrderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingContextUnorderedP.java
Labels: critical, defect

#1257 Tweaks in exporting snapshot of a suspended job
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExportSnapshotTest.java
Labels: core, enhancement

#1249 Decrease allocation rate
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/SourceBufferImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SlidingWindowP.java
Labels: core, enhancement

#1255 Add in-flight items metric for map-async
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingContextOrderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingContextUnorderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SessionWindowP.java
Labels: enhancement

#1258 Improve `limitingLag` javadoc
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkPolicy.java
Labels: enhancement

#1259 Hazelcast Jet compiles with OpenJDK 11
  pom.xml
  spotbugs/spotbugs-exclude.xml
Labels: enhancement

#1253 Add context to ReceiverTasklet logs
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ReceiverTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ReceiverTaskletSendLimitTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ReceiverTaskletTest.java
Labels: core, enhancement

#1248 Added license key property to be injected by enterprise docker image
  hazelcast-jet-distribution/src/main/resources/bin/common.sh
Labels: enhancement

#1269 Split job & snapshot coordination in MasterContext
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Edge.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/EdgeDef.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/VertexDef.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
Labels: core, enhancement

#1271 Fix compilation errors caused by upstream change around connnection m…
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/GracefulShutdownTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetSplitBrainTestSupport.java
Labels: defect

#1270 fixes for DecoratorTest for JDK 11 support
  checkstyle/suppressions.xml
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/DecoratorTest.java
Labels: enhancement

#1264 Fix session window early results test
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/WindowAggregateTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/WindowGroupAggregateTest.java
Labels: test-failure

#1275 Fix for race in JetCommandLineTest
  hazelcast-jet-all/src/test/java/com/hazelcast/jet/server/JetCommandLineTest.java
Labels: test-failure

#1265 Move export snapshot code to jet-enterprise
  hazelcast-jet-all/src/test/java/com/hazelcast/jet/server/JetCommandLineTest.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JetConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetNodeExtension.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/LiveOperationRegistry.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/NodeExtensionCommon.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/SnapshotValidator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetExportSnapshotMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/ExportSnapshotOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/JetGroupProperty.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExportSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobDagUpdateTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartStressTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartStressTestBase.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/PostponedSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/PostponedSnapshotTestBase.java
Labels: core

#1277 Check cluster-state to be same for all members before submitting the jobs
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
Labels: core, critical, defect, test-failure

#1282 Bump-up the surefire plugin version
  pom.xml
Labels: defect, test-failure

#1281 Add JetConfig.losslessRecoveryEnabled
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/InstanceConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetNodeExtension.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/XmlJetConfigBuilder.java
  hazelcast-jet-core/src/main/resources/hazelcast-jet-config-0.8.xsd
  hazelcast-jet-core/src/main/resources/hazelcast-jet-default.xml
  hazelcast-jet-core/src/main/resources/hazelcast-jet-full-example.xml
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/InstanceConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JetConfigTest_loadFromClassPath.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JobConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/XmlConfigTest.java
  hazelcast-jet-core/src/test/resources/hazelcast-jet-test.xml
  hazelcast-jet-core/src/test/resources/hazelcast-jet-with-variables.xml
  hazelcast-jet-spring/src/main/resources/hazelcast-jet-spring-0.8.xsd
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/TestApplicationContext.java
  hazelcast-jet-spring/src/test/resources/com/hazelcast/jet/spring/application-context-jet.xml
Labels: core, enhancement

#1283 Rename losslessRecovery -> losslessRestart
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/InstanceConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetNodeExtension.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/XmlJetConfigBuilder.java
  hazelcast-jet-core/src/main/resources/hazelcast-jet-config-0.8.xsd
  hazelcast-jet-core/src/main/resources/hazelcast-jet-default.xml
  hazelcast-jet-core/src/main/resources/hazelcast-jet-full-example.xml
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/InstanceConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JetConfigTest_loadFromClassPath.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JobConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/XmlConfigTest.java
  hazelcast-jet-core/src/test/resources/hazelcast-jet-test.xml
  hazelcast-jet-core/src/test/resources/hazelcast-jet-with-variables.xml
  hazelcast-jet-spring/src/main/resources/hazelcast-jet-spring-0.8.xsd
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/TestApplicationContext.java
  hazelcast-jet-spring/src/test/resources/com/hazelcast/jet/spring/application-context-jet.xml
Labels: core, enhancement

#1280 Client Protocol Improvements
  hazelcast-jet-client-protocol/src/main/java/com/hazelcast/client/impl/protocol/template/JetCodecTemplate.java
  hazelcast-jet-client-protocol/src/main/java/com/hazelcast/client/impl/protocol/template/ResponseTemplate.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClusterMetadata.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetInstanceImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/AbstractJetMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetExistsDistributedObjectMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetExportSnapshotMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetClusterMetadataMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobConfigMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobIdsByNameMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobIdsMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobStatusMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobSubmissionTimeMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetJobSummaryListMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetGetMemberXmlConfigurationMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetJoinSubmittedJobMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetResumeJobMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetSubmitJobMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/JetTerminateJobMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/GetJobIdsOperation.java
  pom.xml
Labels: core, enhancement

#1286 Add try/catch to allMembersHaveSameState
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/GetClusterMetadataOperation.java
Labels: core, critical, defect, test-failure

#1284 Work around JDK11 type inference bug
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: defect

#1287 Simplify unbounded stream tests
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/PipelineStreamTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/WindowAggregateTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/WindowGroupAggregateTest.java
Labels: enhancement, test-failure

#1263 Add run-until-output-matches mode to TestSupport
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MigrationWatcher.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalP_WmCoalescingTest.java
Labels: breaking-change, test-failure

#1285 Stable api tweaks
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/JetCacheManager.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Job.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JetConfigDataSerializerHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/EventTimeMapper.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/JetDataSerializerHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/Tuple3.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/Tuple4.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/Tuple5.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/PipelineImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/WindowAggregateTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/WindowGroupTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingContextOrderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingContextUnorderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ProcessorSupplierWithContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformUsingContextP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/AggregateBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/AggregateBuilder1.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ContextFactories.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ContextFactory.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JoinClause.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Pipeline.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SessionWindowDefinition.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SlidingWindowDefinition.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowDefinition.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowDefinitionBase.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingContextPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingContextP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/TransformUsingContextPTest.java
Labels: breaking-change, pipeline-api

#1289 Introduced getDistributedObjects on JetClientInstanceImpl
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JetClientInstanceImplTest.java
Labels: enhancement

#1288 Set imdg version to 3.12-BETA-1
  pom.xml
Labels: enhancement

#1292 Simplify mapUsingIMap and mapUsingReplicatedMap
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ContextFactories.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StageWithWindow.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStageWithKey.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: breaking-change, enhancement, pipeline-api

#1291 Allow zero arguments
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
Labels: defect

#1299 Fix StreamKafkaP_TimestampModesTest failure
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTestBase.java
Labels: test-failure

#1295 Minor javadoc and checkstyle fixes
  checkstyle/suppressions.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/function/Functions.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/PeekingWrapperTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnectorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastRemoteConnectorTest.java
Labels: enhancement, javadoc
