Repository hazelcast/hazelcast-jet, pull requests merged in 2019-11, with the labels that each got.

#1713 Allow Throwable in user code
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/AbstractProcessorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestProcessors.java
Labels: core, defect

#1708 Increased Metrics test coverage
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/MetricsTest.java
Labels: test-coverage

#1714 Add `JetConfig.configureHazelcast()` method
  examples/event-journal/src/main/java/com/hazelcast/jet/examples/eventjournal/CacheJournalSource.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JetConfig.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ScaleUpTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_NonSharedClusterTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_TerminalSnapshotTest.java
Labels: configuration, enhancement

#1718 Include slf4j-logj12 in the distribution
  hazelcast-jet-distribution/pom.xml
  hazelcast-jet-distribution/src/assembly-descriptor.xml
Labels: build

#1720 Upgrade plugin versions which are compatible with 4.0-SNAPSHOT
  pom.xml
Labels: defect

#1719 Don't assert unfinished item after completeEdge
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceOrderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceUnorderedP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/MetricsTest.java
Labels: core, defect

#1710 Fixed MapSourceAndSinks mapWithUpdating example
  examples/imdg-connectors/src/main/java/com/hazelcast/jet/examples/imdg/MapSourceAndSinks.java
Labels: code-samples

#1725 Increased capacity for journals in event-journal code sample
  examples/event-journal/src/main/java/com/hazelcast/jet/examples/eventjournal/CacheJournalSource.java
  examples/event-journal/src/main/java/com/hazelcast/jet/examples/eventjournal/MapJournalSource.java
  examples/event-journal/src/main/java/com/hazelcast/jet/examples/eventjournal/RemoteCacheJournalSource.java
  examples/event-journal/src/main/java/com/hazelcast/jet/examples/eventjournal/RemoteMapJournalSource.java
Labels: code-samples

#1727 Fixed enrichment code sample
  examples/enrichment/src/main/java/com/hazelcast/jet/examples/enrichment/Enrichment.java
  examples/enrichment/src/main/resources/hazelcast.yaml
Labels: code-samples

#1726 Improve the README in the distribution package
  hazelcast-jet-distribution/src/root/readme.md
Labels: enhancement

#1721 Improve user-defined metrics related code & documentation
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/Metric.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/Metrics.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/Unit.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/MetricsContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/MetricsImpl.java
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/log-debug.adoc
Labels: core, metrics, reference-manual

#1732 Add brief comments to HelloWorld example
  examples/hello-world/src/main/java/com/hazelcast/jet/examples/helloworld/HelloWorld.java
Labels: code-samples

#1730 Adapt metric changes from IMDG
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/JobMetrics.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/Measurement.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/MeasurementPredicates.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/MetricTags.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobMetricsUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ReceiverTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SenderTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/Tasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/JobMetricsPublisher.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/MetricsContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/CompleteExecutionOperation.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_BatchTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_StreamTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_StressTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/MetricsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobMetricsUtilTest.java
  hazelcast-jet-reference-manual/src/main/java/integration/Metrics.java
Labels: breaking-change-core, enhancement, metrics

#1728 Use different source and sink map in refman
  hazelcast-jet-reference-manual/src/main/java/integration/ImdgConnectors.java
Labels: defect, reference-manual

#1734 Use new MetricDescriptor methods for garbage-free iteration
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobMetricsUtil.java
Labels: enhancement, metrics

#1736 Avoid nested wildcards in flatMap
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Traverser.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Traversers.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SlidingWindowP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformStatefulP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStageWithKey.java
Labels: breaking-change, breaking-change-core, core, enhancement, pipeline-api

#1624 Fix few Job methods when master is going down
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/AbstractJetMessageTask.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/Job_SeparateClusterTest.java
Labels: defect

#1738 Follow MetricCompressor changes
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/JobMetrics.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobMetricsUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/JobMetricsPublisher.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/CompleteExecutionOperation.java
Labels: core, metrics

#1737 Auto import modules in JDK9+ in start script
  hazelcast-jet-distribution/src/bin-regular/common.sh
Labels: cli, enhancement

#1741 Fix output of hello-world example
  examples/hello-world/src/main/java/com/hazelcast/jet/examples/helloworld/HelloWorld.java
Labels: code-samples

#1742 Fixed HadoopWordCount
  examples/hadoop/src/main/java/com/hazelcast/jet/examples/hadoop/HadoopWordCount.java
Labels: code-samples

#1743 Don't call two processor methods w/o outbox.reset
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Outbox.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceOrderedP.java
Labels: core, enhancement

#1744 Follow changes in metrics, remove stale code
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/JetConfigSections.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/JetDomConfigProcessor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/YamlJetDomConfigProcessor.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/TestInClusterSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_NonSharedClusterTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_StressTest.java
  hazelcast-jet-reference-manual/src/main/java/integration/Metrics.java
Labels: core, enhancement

#1745 Adapt changes on client protocol
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobConfigMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobSummaryListMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetJoinSubmittedJobMessageTask.java
Labels: client, compile-fix

#1740 Parallelize tasklet initialization
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/TaskletExecutionServiceTest.java
Labels: core, enhancement

#1747 Follow changes in IMDG
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/JetProperties.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRecord.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/UpdateMapP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/InitExecutionOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/SubmitJobOperation.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetSplitBrainTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/OperationLossTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/OperationTimeoutTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalP_WmCoalescingTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_TerminalSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTestBase.java
Labels: compile-fix, critical

#1748 Some minor tweaks to hello-world example
  examples/hello-world/src/main/java/com/hazelcast/jet/examples/helloworld/HelloWorld.java
  examples/hello-world/src/main/resources/hazelcast.yaml
Labels: code-samples

#1681 Introduce ability to add Jars in ZIP files as job resources
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/ResourceConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/ResourceType.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JobConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/AbstractDeploymentTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/ResourceConfigTest.java
  hazelcast-jet-core/src/test/resources/zip-resources/person-jar.zip
Labels: configuration

#1739 Use avro-class-generator tool
  hazelcast-jet-avro/pom.xml
  hazelcast-jet-avro/src/test/avro/user.avsc
  hazelcast-jet-avro/src/test/java/com/hazelcast/jet/avro/AvroSinkTest.java
  hazelcast-jet-avro/src/test/java/com/hazelcast/jet/avro/AvroSourceTest.java
  hazelcast-jet-avro/src/test/java/com/hazelcast/jet/avro/model/SpecificUser.java
  hazelcast-jet-avro/src/test/java/com/hazelcast/jet/avro/model/User.java
Labels: avro, enhancement

#1749 Fix @Nullable name in BatchStage
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/AbstractTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
Labels: defect

#1752 Set aws plugin version to 3.0.1-SNAPSHOT
  pom.xml
Labels: compile-fix, core, enhancement

#1755 Check in the generated files
  examples/hadoop/src/main/java/com/hazelcast/jet/examples/hadoop/generated/User.java
  hazelcast-jet-avro/src/test/java/com/hazelcast/jet/avro/generated/SpecificUser.java
Labels: code-samples, enhancement

#1756 Remove unused variables from common.sh
  hazelcast-jet-distribution/src/bin-regular/common.sh
Labels: cli, enhancement

#1758 Remove MapEntry and PriorityQeueu hooks since they are on IMDG side
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/MapEntryHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/QueryEntryHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/SerializerHookConstants.java
  hazelcast-jet-core/src/main/resources/META-INF/services/com.hazelcast.SerializerHook
Labels: core, refactor

#1623 Add examples for Cloud Object Storages using Hadoop
  examples/README.md
  examples/hadoop/pom.xml
  examples/hadoop/src/main/java/com/hazelcast/jet/examples/hadoop/HadoopWordCount.java
  examples/hadoop/src/main/java/com/hazelcast/jet/examples/hadoop/avro/HadoopAvro.java
  examples/hadoop/src/main/java/com/hazelcast/jet/examples/hadoop/cloud/AmazonS3.java
  examples/hadoop/src/main/java/com/hazelcast/jet/examples/hadoop/cloud/AzureCloudStorage.java
  examples/hadoop/src/main/java/com/hazelcast/jet/examples/hadoop/cloud/AzureDataLake.java
  examples/hadoop/src/main/java/com/hazelcast/jet/examples/hadoop/cloud/GoogleCloudStorage.java
Labels: code-samples, hadoop, s3

#1761 Address the services config change to private API
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnector_RestartTest.java
Labels: core, refactor

#1754 Follow changes on client protocol and remove client messages
  generate_client_protocol.sh
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetExistsDistributedObjectCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetExportSnapshotCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetClusterMetadataCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobConfigCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobIdsByNameCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobIdsCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobMetricsCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobStatusCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobSubmissionTimeCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobSummaryListCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetMemberXmlConfigurationCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetJoinSubmittedJobCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetResumeJobCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetSubmitJobCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetTerminateJobCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetClusterMetadataMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetMemberXmlConfigurationMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetMessageTaskFactoryProvider.java
  hazelcast-jet-core/src/main/resources/client-protocol-definition/Jet.yaml
Labels: client, refactor

#1763 Remove specific serializers for Map.Entry and QueryEntry
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/MapEntryHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/QueryEntryHook.java
  hazelcast-jet-core/src/main/resources/META-INF/services/com.hazelcast.SerializerHook
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnectorTest.java
Labels: core, refactor

#1762 Add Hadoop New API to reference manual
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/hdfs.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/kafka.adoc
  hazelcast-jet-reference-manual/src/main/java/integration/HdfsAndKafka.java
Labels: enhancement, reference-manual

#1765 Fixed streaming source must not close the buffer in code samples
  examples/early-window-results/src/main/java/com/hazelcast/jet/examples/earlyresults/support/TradeGenerator.java
  examples/rolling-aggregation/src/main/java/com/hazelcast/jet/examples/rollingaggregation/TradeGenerator.java
Labels: code-samples

#1766 Add option to use UNICAST for the edge
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Edge.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/EdgeTest.java
Labels: core, enhancement

#1767 Add books directory on classpath in word-count examples
  examples/hadoop/pom.xml
  examples/source-sink-builder/pom.xml
  examples/tf-idf/pom.xml
Labels: code-samples
