Repository hazelcast/hazelcast-jet, pull requests merged in 2020-12, with the labels that each got.

#2720 Fix HazelcastConnector_RestartTest
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/retry/RetryStrategies.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/retry/RetryStrategy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/retry/impl/RetryStrategyImpl.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnector_RestartTest.java
Labels: test-failure

#2728 Mqtt design decision regarding fault tolerence
  site/docs/design-docs/015-mqtt-connector.md
Labels: docs, docs-no-build

#2736 Implement noop removeLogger for MockLoggingFactory
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/MockLoggingFactory.java
Labels: compile-fix

#2733 Update info about file compression in TDD, add link to TDD to sidebar
  site/docs/design-docs/017-file-data-ingestion.md
  site/website/sidebars.json
Labels: docs-no-build

#2741 Change hazelcast-sql dependency to use the new non-shaded hazelcast-sql-core
  hazelcast-jet-sql/pom.xml
Labels: build, dependencies, sql

#2716 Improve test coverage for file format of file data ingestion
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/AvroFileFormatTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/BaseFileFormatTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/CsvFileFormatTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/JsonFileFormatTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/ParquetFileFormatTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/PathAndGlobFileSourceTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/RawBytesFileFormatTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/TextFileFormatTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/model/IncorrectUser.java
  extensions/hadoop/src/test/resources/file-empty.csv
  extensions/hadoop/src/test/resources/file-empty.jsonl
  extensions/hadoop/src/test/resources/file-empty.txt
  extensions/hadoop/src/test/resources/file-invalid.csv
  extensions/hadoop/src/test/resources/file-invalid.jsonl
  extensions/hadoop/src/test/resources/file-less-attributes.jsonl
  extensions/hadoop/src/test/resources/file-less-columns.csv
  extensions/hadoop/src/test/resources/file-more-attributes.jsonl
  extensions/hadoop/src/test/resources/file-more-columns.csv
  extensions/hadoop/src/test/resources/globpath1/globpath/file
  extensions/hadoop/src/test/resources/globpath2/globpath/file
  extensions/hadoop/src/test/resources/invalid-data.png
  extensions/hadoop/src/test/resources/pretty-printed-file-1.json
  extensions/hadoop/src/test/resources/pretty-printed-file-2.json
Labels: test-coverage

#2743 Remove the remains of hazelcast-sql slim jar references
  hazelcast-jet-sql/pom.xml
Labels: build, sql

#2732 Reduce poll and init timeout in Kafka source
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/KafkaPartitionAssignerTest.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/KafkaPartitionAssignmentTest.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/KafkaTestSupport.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/MockLoggingFactory.java
Labels: defect

#2725 Fix SqlResult.close when there are no rows
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetQueryResultProducer.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/RootResultConsumerSink.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/SqlClientTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestEmptyStreamSqlConnector.java
  hazelcast-jet-sql/src/test/resources/META-INF/services/com.hazelcast.sql.Connectors
Labels: defect, sql

#2742 Fix copy-paste error in Kafka SQL docs
  site/docs/sql/kafka-connector.md
Labels: defect, docs-no-build, reference-manual

#2740 Fix peek transform that previously disrupts LP propagation
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/PeekTransform.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/OrderedBatchParallelismTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/OrderedStreamParallelismTest.java
Labels: defect

#2752 Fix ParquetFileFormatTest.shouldThrowWhenIncorrectSchema
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/ParquetFileFormatTest.java
Labels: test-coverage

#2750 Fix issue related to generalizing isolated edge
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/RoutingPolicyTest.java
Labels: defect

#2751 Kafka fixes
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: defect, kafka, test-failure

#2727 [Website] Fix the case of a link pointing to an anchor in the same document
  site/docs/api/stateless-transforms.md
Labels: docs-no-build

#2745 Fix local parallelism determination issue
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/AbstractTransform.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/OrderedBatchParallelismTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/OrderedBatchProcessingTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/OrderedStreamParallelismTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/OrderedStreamProcessingTest.java
Labels: defect

#2755 Fix relocation of jackson packages in sql module
  hazelcast-jet-sql/pom.xml
Labels: sql

#2754 Add FANOUT routing policy
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Edge.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/OutboundCollector.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/EdgeDef.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/RoutingPolicyDistributedTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/RoutingPolicyTest.java
Labels: core, enhancement, sql

#2746 Fix Hadoop tests on Windows
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/BaseFileFormatTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/PathAndGlobFileSourceTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/TextFileFormatTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/impl/HadoopTestSupport.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/file/FileFormat.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/file/FileSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/file/FileSources.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/MetadataResolver.java
Labels: hadoop, test-coverage

#2722 Don't reuse operations and fix error handling
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/MemberReconnectionStressTest.java
Labels: defect

#2737 Use static loggers and log with prefix
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStream.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ReceiverTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ProcessorWrapper.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/PrefixedLogger.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SuspendExecutionOnFailureTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ReceiverTaskletSendLimitTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ReceiverTaskletTest.java
  site/docs/sql/file-connector.md
Labels: core, defect

#2757 Fix SQL JSON inner OBJECTs serialization
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/JsonInputFormat.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/JsonFileFormatTest.java
  hazelcast-jet-all/pom.xml
  hazelcast-jet-core/pom.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/json/JsonUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/file/FileFormat.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/file/JsonFileFormat.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/file/impl/LocalFileSourceFactory.java
  hazelcast-jet-distribution/pom.xml
  hazelcast-jet-distribution/src/root/NOTICE
  hazelcast-jet-sql/pom.xml
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/JsonMetadataResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/JsonResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/extract/JsonQueryTarget.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/JsonUpsertTarget.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/JsonResolverTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlAvroTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlJsonTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlJsonTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/extract/JsonQueryTargetTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/inject/JsonUpsertTargetTest.java
Labels: defect, sql

#2610 Config option to disable the IMDG version check
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/JetProperties.java
Labels: core, enhancement

#2654 Add SQL CLI as jet sql command
  hazelcast-jet-all/pom.xml
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Util.java
  hazelcast-jet-distribution/pom.xml
  hazelcast-jet-distribution/src/assembly-descriptor.xml
  hazelcast-jet-distribution/src/root/NOTICE
  pom.xml
  site/docs/sql/intro.md
Labels: cli, sql
