Repository hazelcast/hazelcast-jet, pull requests merged in 2020-01, with the labels that each got.

#1827 Replace JetBoostrap.getInstance() with Jet.bootstrappedInstance()
  examples/hello-world/src/main/java/com/hazelcast/jet/examples/helloworld/HelloWorld.java
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetMemberStarter.java
  hazelcast-jet-all/src/test/resources/com/hazelcast/jet/server/testjob.jar
  hazelcast-jet-all/src/test/resources/com/hazelcast/jet/server/testjob/pom.xml
  hazelcast-jet-all/src/test/resources/com/hazelcast/jet/server/testjob/src/main/java/com/hazelcast/jet/testjob/TestJob.java
  hazelcast-jet-all/src/test/resources/com/hazelcast/jet/server/testjob_sources.zip
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetBootstrap.java
  hazelcast-jet-core/src/main/resources/logging.properties
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/start-jet-submit-job.adoc
  hazelcast-jet-reference-manual/src/main/java/StartJet.java
Labels: breaking-change, core, enhancement

#1825 Make job scanning delay adaptable
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
Labels: core, enhancement

#1830 Enhance Hadoop JARs and Classpath chapter in reference manual
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/hdfs.adoc
Labels: enhancement, reference-manual

#1838 Do not use log4j for HelloWorld example
  examples/hello-world/src/main/java/com/hazelcast/jet/examples/helloworld/HelloWorld.java
Labels: defect

#1839 Follow changes in map/cache iterators
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
Labels: core, enhancement

#1824 Introduce non-classpath resource upload mechanism
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/ResourceConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/ResourceType.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestProcessorSupplierContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/deployment/IMapInputStream.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/deployment/IMapOutputStream.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/deployment/JetClassLoader.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ProcessorWrapper.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/IOUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JetConfigXmlGeneratorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JobConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/ResourceConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/XmlConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/XmlJetClientConfigWithSystemPropertyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/XmlJetConfigImportVariableReplacementTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/XmlJetConfigLoadFromFileSystemOrClasspathTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/XmlJetConfigWithSystemPropertyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/YamlJetClientConfigWithSystemPropertyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/YamlJetConfigImportVariableReplacementTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/YamlJetConfigLoadFromFileSystemOrClasspathTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/YamlJetConfigWithSystemPropertyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/AbstractDeploymentTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/ClientDeploymentTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/ClientDeployment_StandaloneClusterTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/DeploymentTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/IMapInputOutputStreamTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/ResourceConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/init/VertexDef_HigherPrioritySourceTest.java
Labels: breaking-change, breaking-change-core, configuration, enhancement, refactor

#1843 Clean-up some redundant code
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/MulticastDiscoveryTest.java
Labels: core

#1840 Remove MigrationWatcher
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MigrationWatcher.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/MapSource_ConsistencyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/MapSource_MigrationDetectionTest.java
Labels: core, enhancement, javadoc

#1847 ReadMapOrCacheP_ConsistencyTest fix & touchups
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP_ConsistencyTest.java
Labels: test-coverage

#1846 Fixed issue with the unzipping the nested directories.
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/IOUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/IOUtilTest.java
  hazelcast-jet-core/src/test/resources/nested/folder/test
  hazelcast-jet-core/src/test/resources/nested/folder1/test1
  hazelcast-jet-core/src/test/resources/nested/folder2/test2
Labels: defect

#1850 update codecs with recent changes
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetExistsDistributedObjectCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetExportSnapshotCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobConfigCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobIdsByNameCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobIdsCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobMetricsCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobStatusCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobSubmissionTimeCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobSummaryListCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetJoinSubmittedJobCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetResumeJobCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetSubmitJobCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetTerminateJobCodec.java
Labels: client, core, follow-upstream-changes

#1841 Make JobConfig.resourceConfigs private
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/ResourceConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/ResourceType.java
Labels: breaking-change, enhancement

#1833 Initialize the context object created by createContextFn of ServiceFactory with configured ManagedContext
  examples/spring/src/main/java/com/hazelcast/jet/examples/spring/BeanAsAServiceSample.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ProcessorSupplierWithService.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ManagedContextTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ProcessorsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServicePTest.java
  hazelcast-jet-spring/src/main/java/com/hazelcast/jet/spring/JetSpringServiceFactories.java
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/Calculator.java
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/SillyCalculator.java
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/SpringServiceFactoriesTest.java
  hazelcast-jet-spring/src/test/resources/com/hazelcast/jet/spring/application-context-processor.xml
Labels: core, enhancement, spring

#1715 Populate metrics based on job & snapshotting statistics
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/MetricNames.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestOutbox.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobMetricsUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/OutboxImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ReceiverTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SenderTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SnapshotContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/StoreSnapshotTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/CompleteExecutionOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceOrderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceUnorderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SessionWindowP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SlidingWindowP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformStatefulP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobLifecycleMetricsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_MiscTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/OutboxImplTest.java
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/log-debug.adoc
Labels: core, metrics

#1849 Expose read function
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/FileSourceBuilder.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadFilesPTest.java
  hazelcast-jet-s3/src/main/java/com/hazelcast/jet/s3/S3Sources.java
  pom.xml
Labels: enhancement, pipeline-api, s3

#1852 Remove cloning of iteration pointers
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
Labels: core, enhancement

#1729 Return result to caller
  examples/README.md
  examples/hello-world/src/main/java/com/hazelcast/jet/examples/helloworld/HelloWorld.java
  examples/wordcount/src/main/java/com/hazelcast/jet/examples/wordcount/WordCount.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/JetInstance.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Job.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Observable.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Inbox.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/function/Observer.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJetInstance.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetBootstrap.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetFactoryIdHelper.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetInstanceImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRecord.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobResult.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteObservableP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/DoneItem.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/observer/BlockingIteratorObserver.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/observer/JetObserverDataSerializerHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/observer/ObservableImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/observer/WrappedThrowable.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ImdgUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/WrappingProcessorMetaSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/main/resources/META-INF/services/com.hazelcast.DataSerializerHook
  hazelcast-jet-core/src/main/resources/META-INF/services/com.hazelcast.SerializerHook
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ObservableResultsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobLifecycleMetricsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHookTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SinksTest.java
  hazelcast-jet-reference-manual/src/main/asciidoc/appendix.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/pipeline-api/pipeline-api.adoc
  hazelcast-jet-reference-manual/src/main/java/BuildComputation.java
Labels: core, pipeline-api

#1848 Fix ex-once mode in StreamJmsP
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Outbox.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
Labels: test-failure

#1858 Print collection contents in case of failure
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
Labels: test-failure

#1834 Initialize Source/Sink contexts with ManagedContext
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ConvenientSourceP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteBufferedP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ManagedContextTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteBufferedPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteSocketTest.java
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/SourceSinkBuilderTest.java
  hazelcast-jet-spring/src/test/resources/com/hazelcast/jet/spring/application-context-builder.xml
Labels: enhancement, spring

#1859 Make TestSourceTest more tolerant to hiccups
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/test/TestSourcesTest.java
Labels: core

#1867 Fixes file cleanup on the test and runs them in serial, fixes #1851
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/IOUtilTest.java
Labels: test-failure

#1866 Spring module should not depend on jet-core
  hazelcast-jet-spring/pom.xml
Labels: build, defect

#1865 Add a type check for the initilized object by ManagedContext
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ConvenientSourceP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ProcessorSupplierWithService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ProcessorWrapper.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ManagedContextTest.java
Labels: core, spring

#1864 Don't call Processor.close on cooperative thread
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorState.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Blocking.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Snapshots.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Watermarks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/TaskletExecutionServiceTest.java
Labels: core, enhancement

#1871 JobSubmissionSlownessRegressionTest: decrease and fix thread count, decrease per run duration
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/job/JobSubmissionSlownessRegressionTest.java
Labels: test-failure

#1869 Add support for .yml files located in work dir or in classpath
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/YamlJetClientConfigLocator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/YamlJetConfigLocator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/YamlJetMemberConfigLocator.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/YamlJetConfigResolutionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/YamlJetMemberConfigResolutionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/test/JetDeclarativeConfigFileHelper.java
Labels: configuration, enhancement

#1861 Execute evictFn after completion
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransformStatefulP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/TransformStatefulPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: enhancement

#1868 Improve return-results-to-caller related sections of RefMan
  hazelcast-jet-reference-manual/src/main/asciidoc/pipeline-api/pipeline-api.adoc
  hazelcast-jet-reference-manual/src/main/asciidoc/source-sink-connectors/overview.adoc
  hazelcast-jet-reference-manual/src/main/java/BuildComputation.java
Labels: core, reference-manual

#1875 Add names to the probes
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobLifecycleMetricsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_StressTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/MetricsTest.java
Labels: compile-fix, metrics

#1878 Add missing annotation and tests to metrics related code
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/MeasurementPredicates.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/Metric.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/MetricNames.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/MetricTags.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/Metrics.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/Unit.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/MeasurementPredicatesTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/MetricsTest.java
Labels: core, metrics

#1873 Add admin script for CP subsystem
  hazelcast-jet-distribution/src/bin-filemode-755/jet-cluster-cp-admin
  hazelcast-jet-distribution/src/root/README.md
  hazelcast-jet-distribution/src/root/config/hazelcast.yaml
Labels: cli, enhancement

#1879 Fix emission of older watermark
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/OutboxImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceUnorderedP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/PeekingWrapperTest.java
Labels: defect

#1880 Fix ThrottleWrappedP
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/ThrottleWrappedP.java
Labels: test-failure

#1882 Fix emission of older watermark (backport of #1879)
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/OutboxImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingContextUnorderedP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/PeekingWrapperTest.java
Labels: backport, core, defect

#1885 Fix minor Javadoc issues in Blue/Green client code
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/configure-fault-tolerance.adoc
Labels: client, configuration, javadoc

#1886 Add RabbitMQ tests and fix issues with it
  hazelcast-jet-core/pom.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSourceBuilder.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsIntegrationTestBase.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsIntegrationTest_ActiveMQ.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsIntegrationTest_RabbitMQ.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamJmsPTest.java
Labels: defect

#1876 Add missing metrics to RefMan
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_MiscTest.java
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/log-debug.adoc
Labels: core, metrics

#1889 Added test for create/destroy Observable repeatedly
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ObservableResultsTest.java
Labels: test-coverage

#1891 Make P.Context available in (non)sharedService
  examples/grpc/src/main/java/com/hazelcast/jet/examples/grpc/GRPCEnrichment.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/DistinctTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ServiceFactories.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ManagedContextTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ProcessorsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/MetricsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/AbstractDeploymentTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceBatchP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceBatchedPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServicePTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
  hazelcast-jet-reference-manual/src/main/java/BuildComputation.java
  hazelcast-jet-reference-manual/src/main/java/LogDebug.java
  hazelcast-jet-reference-manual/src/main/java/PerformanceConsiderations.java
  hazelcast-jet-reference-manual/src/main/java/StockExchangeCoreApi.java
  hazelcast-jet-reference-manual/src/main/java/TfIdfCoreApi.java
Labels: breaking-change, pipeline-api

#1890 Added JSON and CSV parsing examples
  examples/README.md
  examples/files/data/sales.csv
  examples/files/data/sales.json
  examples/files/pom.xml
  examples/files/src/main/java/com/hazelcast/jet/examples/files/SalesCsvAnalyzer.java
  examples/files/src/main/java/com/hazelcast/jet/examples/files/SalesJsonAnalyzer.java
Labels: code-samples

#1883 Fix outbox blocking in snapshot phase 2
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorState.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceP_IntegrationTest.java
  hazelcast-jet-reference-manual/src/main/asciidoc/work-with-jet/configure-fault-tolerance.adoc
Labels: core, defect

#1893 Simplify ReadFilesP, simpler java9 code in sample
  examples/files/src/main/java/com/hazelcast/jet/examples/files/SalesJsonAnalyzer.java
  hazelcast-jet-avro/src/main/java/com/hazelcast/jet/avro/AvroProcessors.java
  hazelcast-jet-avro/src/test/java/com/hazelcast/jet/avro/AvroSourceTest.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
Labels: enhancement

#1898 Add NOTICE about used open-source code
  NOTICE
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/ResumeTransactionUtil.java
Labels: javadoc

#1888 Added a new category to the tests which should not be run in parallel…
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JetConfigLoadFromClasspathOrderTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JetConfigMixAndMatchTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/XmlJetClientConfigWithSystemPropertyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/XmlJetConfigWithSystemPropertyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/YamlJetClientConfigWithSystemPropertyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/YamlJetConfigResolutionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/YamlJetConfigWithSystemPropertyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/YamlJetMemberConfigResolutionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/test/SerialTest.java
  pom.xml
Labels: build, test-failure

#1903 Uncheck JobConfig add/attach methods
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/JetInstance.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetBootstrap.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/ResourceConfigTest.java
Labels: core, enhancement

#1901 Proper exception for wrong ID in attachedFile()
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/AbstractDeploymentTest.java
Labels: core, defect

#1902 Make files writable before cleanup
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonServiceContext.java
Labels: defect, python

#1904 Mark additional tests as serial
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/MulticastDiscoveryTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/HazelcastRemoteConnectorTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP_ConsistencyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/test/SerialTest.java
  hazelcast-jet-distribution/src/root/README.md
Labels: test-failure

#1684 Unified naming of the enterprise features.
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/JetProperties.java
  reference-manual/src/main/asciidoc/appendix.adoc
  reference-manual/src/main/asciidoc/configuration.adoc
  reference-manual/src/main/asciidoc/get-started.adoc
  reference-manual/src/main/asciidoc/work-with-jet/start-jet-submit-job.adoc
Labels: reference-manual

#1884 Use Util.mappedList in obvious places
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJetInstance.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/TopologicalSorter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/AggBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/FunctionAdapter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/GrAggBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/HashJoinTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransactionPoolSnapshotUtility.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/WrappingProcessorSupplier.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceBatchP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/test/AssertionsTest.java
Labels: enhancement

#1908 Update IMDG version to 3.12.6
  pom.xml
Labels: enhancement

#1910 Add some forgotten adaptations to Jet 4.0 changes
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/HadoopSources.java
  reference-manual/src/main/asciidoc/pipeline-api/pipeline-api.adoc
  reference-manual/src/main/asciidoc/source-sink-connectors/imdg.adoc
  reference-manual/src/main/asciidoc/source-sink-connectors/overview.adoc
  reference-manual/src/main/java/BuildComputation.java
Labels: reference-manual

#1912 fix the javadoc sample for mapUsingServiceAsyncBatched
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
Labels: defect, javadoc

#1916 Update Kubernetes plugin version
  pom.xml
Labels: build
