Repository hazelcast/hazelcast-jet, pull requests merged in 2020-09, with the labels that each got.

#2480 Update to IMDG 4.1-SNAPSHOT
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/Networking.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/DelegatingSerializationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ImdgUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/JetTestInstanceFactory.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/CancellationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetSplitBrainTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/init/DetermineLocalParallelismTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/init/VertexDef_HigherPrioritySourceTest.java
  hazelcast-jet-spring/pom.xml
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/CustomSpringJUnit4ClassRunner.java
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/SourceSinkBuilderTest.java
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/SpringServiceFactoriesTest.java
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/TestApplicationContext.java
  hazelcast-jet-spring/src/test/java/com/hazelcast/jet/spring/TestCustomProcessor.java
  pom.xml
Labels: sql

#2472 Add logging for stream socket test
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SourceBuilderTest.java
Labels: test-failure

#2476 Fix source=true tag in metrics
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/VertexDef.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/MetricsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Blocking.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Snapshots.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Watermarks.java
Labels: defect, metrics

#2489 Limit all ES 5 tests to `my-index`
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/CommonElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/ElasticClientsTest.java
Labels: test-failure

#2484 Fix JobCoordinationService race
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
Labels: core, defect

#2411 Suspend jobs on failure
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Job.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionRecord.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobSuspensionCauseCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobSuspensionCauseMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetMessageTaskFactoryProvider.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/GetJobSuspensionCauseOperation.java
  hazelcast-jet-core/src/main/resources/client-protocol-definition/Jet.yaml
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JobConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SuspendExecutionOnFailureTest.java
  site/docs/design-docs/012-improved-job-resilience.md
  site/website/sidebars.json
Labels: breaking-change-core, core

#2493 Use runOrder random for tests
  pom.xml
Labels: build

#2497 Fix versions in NOTICE files
  extensions/elasticsearch/elasticsearch-6/src/root/NOTICE
  hazelcast-jet-distribution/src/root/NOTICE
Labels: build

#2492 Add http connector to sources/sinks page
  site/docs/api/sources-sinks.md
Labels: docs, docs-no-build

#2494 Fix StreamSocketP failure
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamSocketP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamSocketPTest.java
Labels: test-failure

#2501 Set forkCount=4 for regular tests
  pom.xml
Labels: build

#2457 Upgrade gRPC and Hazelcast IMDG versions
  pom.xml
Labels: core, enhancement, grpc

#2499 Increase timeout for OperationLossTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/OperationLossTest.java
Labels: test-failure

#2485 Use real-time WMs with ingestion timestamps
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/EventTimeMapper.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/EventTimePolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/WatermarkPolicy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamSourceStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamSourceStage.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/EventTimeMapperTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/WatermarkPolicy_withFixedLagTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamJmsPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTestBase.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceTest.java
  site/docs/api/pipeline.md
Labels: breaking-change-core, enhancement, pipeline-api

#2502 Fix versions in NOTICE files
  hazelcast-jet-distribution/src/root/NOTICE
Labels: build

#2446 Relocate pipeline.toDag() transformation
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/JetInstance.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Vertex.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJetInstance.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetBootstrap.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetInstanceImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/StreamSourceTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/Transform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JoinClause.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Pipeline.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sink.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/WindowDefinition.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/init/DetermineLocalParallelismTest.java
Labels: breaking-change, client, core, enhancement

#2506 Remove unused CANCEL_GRACEFUL mode
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/TerminationMode.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SnapshotContext.java
Labels: core, enhancement

#2507 Fix race in Job.getStatus()
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
Labels: core, defect

#2508 Revert "Remove unused CANCEL_GRACEFUL mode (#2506)"
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/TerminationMode.java
Labels: core, defect

#2516 Fix the issue that some jobs cannot be sent to cluster.
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetBootstrap.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/GlobalFlatMapStatefulTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/GlobalMapStatefulTransform.java
Labels: critical, defect

#2515 Fix removing MC after cancelAndExportSnapshot
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
Labels: core, defect

#2517 Add test to check fixed thenApply behavior
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
  pom.xml
Labels: defect, pipeline-api

#2514 Add system-time WMs design
  site/docs/design-docs/013-system-time-watermarks.md
Labels: docs-no-build

#2505 Add logging to WriteFilePTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteFilePTest.java
Labels: core, test-coverage

#2503 Fix handling of late snapshot responses
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
Labels: core, defect

#2419 [005] Define behaviour and network tests for MySQL CDC
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/DebeziumCdcSources.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSource.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordCdcSource.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/DebeziumConfig.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/JsonCdcSource.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/AbstractCdcIntegrationTest.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
  extensions/cdc-mysql/pom.xml
  extensions/cdc-mysql/src/main/java/com/hazelcast/jet/cdc/mysql/MySqlCdcSources.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcAuthIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcListenBeforeExistIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcNetworkIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcWhiteBlackListIntegrationTest.java
  extensions/cdc-postgres/pom.xml
  extensions/cdc-postgres/src/main/java/com/hazelcast/jet/cdc/postgres/PostgresCdcSources.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcAuthAndConnectionIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcListenBeforeExistsIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcNetworkIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcWhiteBlackListIntegrationTest.java
  extensions/elasticsearch/elasticsearch-6/src/root/NOTICE
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/retry/IntervalFunction.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/retry/RetryStrategies.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/retry/RetryStrategy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/retry/impl/IntervalFunctions.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/retry/impl/RetryStrategyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/retry/impl/RetryTracker.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/retry/package-info.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/retry/impl/IntervalFunctionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/retry/impl/RetryTrackerTest.java
  hazelcast-jet-distribution/src/root/NOTICE
  pom.xml
  site/docs/operations/cdc.md
  site/website/blog/2020-08-05-gc-tuning-for-jet.md
Labels: cdc

#2520 [012] Add test for resume job after suspension on failure
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SuspendExecutionOnFailureTest.java
Labels: test-coverage

#2513 Improve default config file and docs on config options
  hazelcast-jet-distribution/src/root/config/hazelcast-jet.yaml
  site/docs/operations/configuration.md
Labels: configuration, docs, enhancement

#2523 Mark `getSuspensionCause` as evolving API
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Job.java
Labels: pipeline-api

#2469 In-Memory Sorting
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Edge.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStream.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/InboundEdgeStream.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/EdgeDef.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/SortTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/SortP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ProcessorsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/MockInboundStream.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  site/docs/api/stateful-transforms.md
Labels: enhancement, pipeline-api

#2524 Improve suspend-on-failure related documentation
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  site/docs/operations/job-management.md
Labels: docs

#2519 Change Evergreen Cache tutorial to proper CDC sink
  site/website/blog/2020-07-16-designing-evergreen-cache-cdc.md
Labels: docs-no-build

#2529 Convert JetCommandLineTest to serial
  hazelcast-jet-all/src/test/java/com/hazelcast/jet/server/JetCommandLineTest.java
Labels: cli, test-failure

#2530 CDC blog post
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/ChangeRecord.java
  site/website/blog/2020-04-01-upgrading-to-jet-40.md
  site/website/blog/2020-09-18-cdc-meets-stream-processing.md
Labels: docs

#2528 Disable access to external entities in XML parsing
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JetConfigXmlGenerator.java
Labels: enhancement

#2536 Close YamlJetConfigBuilder input on build()
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/YamlJetConfigBuilder.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/YamlJetConfigResolutionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/test/JetDeclarativeConfigFileHelper.java
Labels: core

#2535 Use host:port for client to connect to remote cluster
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP_ConsistencyTest.java
Labels: core, test-failure

#2532 Fix job hanging due to lost DONE_ITEM
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/Networking.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ReceiverTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SenderTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/MulticastDiscoveryTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/MemberReconnectionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ReceiverTaskletSendLimitTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ReceiverTaskletTest.java
Labels: core, defect

#2540 Improve documentation for serializer registration
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/DelegatingSerializationService.java
  site/docs/api/serialization.md
Labels: core, docs, enhancement

#2541 Improve AgregateOperationBuilder documentation
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperationBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/aggregate/AggregateOperation3Impl.java
Labels: docs, enhancement

#2543 Use the configured cluster name of the instance for client
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/MulticastDiscoveryTest.java
Labels: core, test-failure

#2546 Fix AbstractJobProxy issues
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
Labels: defect

#2551 Change license related wording of CDC blog post
  site/website/blog/2020-09-18-cdc-meets-stream-processing.md
Labels: cdc, docs-no-build

#2538 Add test for not emit windows too early with sparse events
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTest.java
  site/website/sidebars.json
Labels: test-coverage

#2544 TDD for BatchStage.sort()
  site/docs/design-docs/014-batchstage-sort.md
Labels: docs, docs-no-build

#2545 Fix CDC network related test timeouts (issue #2531)
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcNetworkIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcNetworkIntegrationTest.java
Labels: cdc, test-failure

#2548 Adjust blog post titles for improved readability
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part1.md
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part2.md
  site/website/blog/2020-06-23-jdk-gc-benchmarks-rematch.md
Labels: docs

#2537 Fix MySql related intermittent network test failures (issue #2534)
  extensions/cdc-mysql/pom.xml
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcNetworkIntegrationTest.java
  extensions/cdc-postgres/pom.xml
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcNetworkIntegrationTest.java
Labels: cdc, test-failure

#2554 Revert previous changes to the Evergreen Cache blog post
  site/website/blog/2020-07-16-designing-evergreen-cache-cdc.md
Labels: cdc, docs-no-build

#2556 Add test for sort batch stage
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SortBatchStageTest.java
Labels: test-coverage

#2558 Increase test timeout in JMS Sink test
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsSinkIntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/SinkStressTestUtil.java
Labels: core, test-failure

#2547 Use RestartableException when members reconnect
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ReceiverTasklet.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/MemberReconnectionTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/OperationLossTest.java
Labels: defect

#2559 Fix BatchStage.sort() javadoc
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
Labels: defect, javadoc

#2555 Add Jet licensing info to CDC blog post
  site/website/blog/2020-09-18-cdc-meets-stream-processing.md
Labels: cdc, docs-no-build

#2550 Fix remote ops failure handling in job coordination
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/MemberReconnectionStressTest.java
Labels: core, defect

#2561 Simplify ConcurrentInboundEdgeStream structure
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStream.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStreamTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStream_OrderedDrainTest.java
Labels: enhancement

#2564 Close stream in Python editPermissionsRecursively
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonServiceContext.java
Labels: defect

#2563 Fix config.attachAll(...) is calling twice when the job is submitted via newJobIfAbsent
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJetInstance.java
Labels: defect, test-failure

#2552 Fix S3SinkTest Issue
  extensions/s3/pom.xml
  extensions/s3/src/test/java/com/hazelcast/jet/s3/S3MockTest.java
  extensions/s3/src/test/java/com/hazelcast/jet/s3/S3SinkTest.java
  extensions/s3/src/test/java/com/hazelcast/jet/s3/S3TestBase.java
Labels: test-failure

#2565 Fix BatchStage.sort() design doc and javadoc
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStream.java
  site/docs/design-docs/014-batchstage-sort.md
  site/website/sidebars.json
Labels: docs, javadoc

#2557 Add programming guide for error handling
  site/docs/api/error-handling.md
  site/website/sidebars.json
Labels: docs-no-build

#2571 Suppress false positive RCN_REDUNDANT_NULLCHECK_WOULD_HAVE_BEEN_A_NPE
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonServiceContext.java
Labels: build

#2567 Fix global aggregation with no input
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperations.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/DAG.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/ItemsByTag.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/KeyedWindowResult.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/Tuple2.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/Tuple3.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/Tuple4.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/Tuple5.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/WindowResult.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/AggregateTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/SortTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AggregateP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/GroupP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/aggregate/AggregateOperationsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchAggregateTest.java
Labels: defect

#2573 Fix unintentional increase in CDC jar sizes
  extensions/cdc-mysql/pom.xml
  extensions/cdc-postgres/pom.xml
  hazelcast-jet-distribution/src/root/NOTICE
Labels: cdc

#2574 Fix unintentional increase in CDC jar sizes
  extensions/cdc-mysql/pom.xml
  extensions/cdc-postgres/pom.xml
  hazelcast-jet-distribution/src/root/NOTICE
Labels: cdc

#2575 Add extra logging to understand MetricsTest issues
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
Labels: test-failure
