Repository hazelcast/hazelcast-jet, pull requests merged in 2020-04, with the labels that each got.

#2129 Fix scope for test dependency apache-artemis
  hazelcast-jet-core/pom.xml
Labels: dependencies

#2127 Add spring boot starter design doc
  site/docs/design-docs/004-spring-boot-starter.md
  site/website/sidebars.json
Labels: docs, docs-no-build

#2131 Bump Classgraph version to 4.8.66
  pom.xml
Labels: defect

#2128 Write Migration Guide BLOG post for 4.0
  site/website/README.md
  site/website/blog/2020-04-01-upgrading-to-jet-40.md
Labels: docs

#2124 Add Protocol Buffers serialization docs
  site/docs/api/serialization.md
Labels: docs-no-build

#2100 Add Google Protocol Buffers serialization support
  checkstyle/suppressions.xml
  extensions/pom.xml
  extensions/protobuf/pom.xml
  extensions/protobuf/src/main/java/com/hazelcast/jet/protobuf/ProtobufSerializer.java
  extensions/protobuf/src/main/java/com/hazelcast/jet/protobuf/ProtobufSerializerHook.java
  extensions/protobuf/src/main/java/com/hazelcast/jet/protobuf/package-info.java
  extensions/protobuf/src/test/java/com/hazelcast/jet/protobuf/JobSerializerTest.java
  extensions/protobuf/src/test/java/com/hazelcast/jet/protobuf/ProtobufSerializerTest.java
  extensions/protobuf/src/test/resources/META-INF/services/com.hazelcast.SerializerHook
  extensions/protobuf/src/test/resources/messages.proto
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/DelegatingSerializationService.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobSerializerTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/DelegatingSerializationServiceTest.java
  hazelcast-jet-distribution/pom.xml
  hazelcast-jet-distribution/src/assembly-descriptor.xml
  pom.xml
Labels: configuration, core, enhancement

#2133 Add CDC Design Document
  site/docs/design-docs/005-cdc-sources.md
  site/website/sidebars.json
Labels: docs-no-build

#2134 Add declarative serialization design document
  site/docs/design-docs/006-declarative-serialization.md
  site/website/sidebars.json
  site/website/versioned_sidebars/version-4.0-sidebars.json
Labels: docs, docs-no-build

#2137 Fix compilation error
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
Labels: compile-fix

#2136 add link to next version docs, and tidy up design docs text
  site/docs/design-docs/index.md
  site/website/versioned_docs/version-4.0/design-docs/index.md
Labels: docs-no-build

#2135 Fix race asserting RUNNING status and restarting
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/SinkStressTestUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteJdbcPTest.java
Labels: test-failure

#2141 Various docs fixes
  site/docs/api/pipeline.md
  site/docs/api/serialization.md
  site/docs/api/sources-sinks.md
  site/docs/api/stateful-transforms.md
  site/docs/concepts/processing-guarantees.md
  site/docs/design-docs/index.md
  site/docs/how-tos/observables.md
  site/docs/how-tos/stream-imap.md
  site/docs/operations/kubernetes.md
  site/docs/operations/monitoring.md
  site/website/blog/2020-02-20-transactional-processors.md
  site/website/blog/2020-03-02-jet-40-is-released.md
  site/website/package.json
  site/website/versioned_docs/version-4.0/api/pipeline.md
  site/website/versioned_docs/version-4.0/api/serialization.md
  site/website/versioned_docs/version-4.0/api/sources-sinks.md
  site/website/versioned_docs/version-4.0/api/stateful-transforms.md
  site/website/versioned_docs/version-4.0/operations/monitoring.md
  site/website/versioned_sidebars/version-4.0-sidebars.json
Labels: docs-no-build

#2125 Add spring boot starter documentation
  site/docs/api/spring.md
  site/docs/tutorials/spring-boot.md
  site/website/sidebars.json
Labels: docs, docs-no-build

#2138 Update JMS & JDBC sink docs
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegrationTestBase.java
  site/docs/api/sources-sinks.md
Labels: docs

#2144 Turn off kotlin incremental compilation (removes build warning)
  hazelcast-jet-core/pom.xml
Labels: build

#2143 Turn off linkXRef option to remove build warning
  pom.xml
Labels: build

#2150 Changed wording
  site/docs/how-tos/xa.md
Labels: docs, docs-no-build

#2151 Add reference to xa-testing tool
  site/docs/api/sources-sinks.md
Labels: docs-no-build

#2153 Improve Declarative Serialization TDD
  site/docs/design-docs/006-declarative-serialization.md
Labels: docs, docs-no-build

#2157 Improve Declarative Serialization TDD
  site/docs/design-docs/006-declarative-serialization.md
Labels: docs, docs-no-build

#2154 [009] Add tutorial and TDD for Pulsar connector.
  site/docs/design-docs/009-pulsar-connector.md
  site/docs/tutorials/pulsar.md
  site/website/sidebars.json
Labels: docs, docs-no-build

#2152 issue_2126 : add toString() to JobConfig
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
Labels: configuration

#2164 Update Hazelcast to released 4.0.1
  pom.xml
Labels: core, enhancement

#2168 Remove CDC design doc from 'master'
  site/docs/design-docs/005-cdc-sources.md
  site/website/sidebars.json
Labels: docs-no-build

#2165 move Python grpc-generated classes to impl package
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonService.java
  extensions/python/src/main/proto/jet-to-python.proto
  spotbugs/spotbugs-exclude.xml
Labels: defect, python

#2169 Enable heap dump on OOM in tests
  pom.xml
Labels: build

#2161 Add checkNonNullAndSerializable util method
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/UtilTest.java
Labels: core

#2167 Shutdown gRPC channels cleanly
  extensions/grpc/src/main/java/com/hazelcast/jet/grpc/GrpcServices.java
  extensions/grpc/src/main/java/com/hazelcast/jet/grpc/impl/GrpcUtil.java
  extensions/grpc/src/test/java/com/hazelcast/jet/grpc/GrpcServiceTest.java
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonService.java
Labels: test-failure

#2173 Add javac param to stop package info files sabotaging incremental compilation
  pom.xml
Labels: build

#2163 [007] Add gRPC Design Doc
  site/docs/design-docs/007-grpc-support.md
  site/website/sidebars.json
Labels: docs-no-build

#2175 Make sure the JAR file exists before test execution
  hazelcast-jet-all/src/test/java/com/hazelcast/jet/server/JetCommandLineTest.java
Labels: defect, test-failure

#2178 Add check for missing @Override annotations
  checkstyle/checkstyle.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
Labels: build

#2170 Remove destroying Observables on JetInstance shutdown
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/AbstractJetInstance.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ObservableShutdownTest.java
Labels: core, defect, pipeline-api

#2182 Align order of serialization interface in benchmark
  site/docs/api/serialization.md
Labels: docs-no-build

#2172 Attempt to fix Observable tests
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ObservableResultsTest.java
Labels: test-failure

#2177 [004] Add IMDG configuration options for Jet Spring Boot Starter
  site/docs/api/spring.md
  site/docs/design-docs/004-spring-boot-starter.md
  site/docs/tutorials/spring-boot.md
Labels: docs, docs-no-build

#2171 Ignore durable topic test for RabbitMQ
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegrationTest_RabbitMQ.java
Labels: test-failure

#2187 Add azure discovery
  site/docs/operations/discovery.md
Labels: configuration, docs, docs-no-build

#2180 Fix NPE when checking executionId
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
Labels: test-failure

#2185 UnaryService for gRPC doesn't need `volatile` on StreamObserver
  extensions/grpc/src/main/java/com/hazelcast/jet/grpc/impl/UnaryService.java
Labels: grpc

#2192 Fix property name in Jet spring boot docs
  site/docs/api/spring.md
Labels: docs-no-build

#2179 Added script for version replacement
  site/website/package-lock.json
  site/website/package.json
  site/website/replace-version-config.js
Labels: docs, docs-no-build

#2190 Use job-level serializer to get partition id
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Partitioner.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
Labels: core, defect

#2186 Extract metrics related test utilities, simplify tests
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JmxMetricsChecker.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobExecutionMetricsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobLifecycleMetricsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetricsChecker.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobSnapshotMetricsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/MetricsTest.java
Labels: refactor, test-coverage

#2195 Add @params to JobConfig.registerSerializer()
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
Labels: client, configuration, docs

#2174 Put a safeguard around shutdown() in JetBootstrap
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetBootstrap.java
Labels: cli, defect

#2194 Introduce version replacement tags
  site/docs/api/data-structures.md
  site/docs/api/pipeline.md
  site/docs/api/serialization.md
  site/docs/api/sources-sinks.md
  site/docs/api/spring.md
  site/docs/api/stateful-transforms.md
  site/docs/api/testing.md
  site/docs/architecture/execution-engine.md
  site/docs/concepts/processing-guarantees.md
  site/docs/design-docs/004-spring-boot-starter.md
  site/docs/design-docs/006-declarative-serialization.md
  site/docs/enterprise/blue-green.md
  site/docs/enterprise/installation.md
  site/docs/enterprise/lossless-restart.md
  site/docs/enterprise/management-center.md
  site/docs/enterprise/off-heap.md
  site/docs/enterprise/security.md
  site/docs/get-started/first-job.md
  site/docs/get-started/installation.md
  site/docs/how-tos/observables.md
  site/docs/how-tos/stream-imap.md
  site/docs/operations/cluster-sizing.md
  site/docs/operations/installation.md
  site/docs/operations/kubernetes.md
  site/docs/operations/monitoring.md
  site/docs/tutorials/cdc.md
  site/docs/tutorials/kafka.md
  site/docs/tutorials/map-join.md
  site/docs/tutorials/pulsar.md
  site/docs/tutorials/python.md
  site/docs/tutorials/windowing.md
Labels: docs-no-build

#2197 Try to fix undeterministic behaviour in tests
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ObservableResultsTest.java
Labels: test-failure

#2183 Fix flaky test in ExecutionLifecycleTest
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/SuspendResumeTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/JobSummaryTest.java
Labels: test-failure

#2200 Create gRPC servers with fixed thread pool
  examples/grpc/src/main/java/com/hazelcast/jet/examples/grpc/GRPCEnrichment.java
  extensions/grpc/src/test/java/com/hazelcast/jet/grpc/GrpcServiceTest.java
Labels: test-failure

#2204 Reduce default maximum number of concurrent async ops per processor in mapUsingService
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AbstractAsyncTransformUsingServiceP.java
Labels: breaking-change, enhancement, pipeline-api

#2089 Inner join distinction
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/HashJoinTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/HashJoinP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralHashJoinBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/package-info.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/HashJoinPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: Source: Community, enhancement, pipeline-api

#2205 Improve Hash Join docs
  site/docs/api/stateless-transforms.md
  site/docs/architecture/distributed-computing.md
  site/docs/concepts/dag.md
  site/docs/design-docs/007-grpc-support.md
  site/docs/tutorials/spring-boot.md
  site/website/blog/2019-11-12-stream-deduplication.md
Labels: docs, enhancement

#2201 More logging for snapshot on member
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  site/docs/enterprise/lossless-restart.md
Labels: docs, enhancement

#2209 Improve Protobuf serialization docs
  site/docs/api/serialization.md
Labels: docs, docs-no-build

#2210 Added test for protobuf with distributed job
  extensions/protobuf/src/test/java/com/hazelcast/jet/protobuf/JobSerializerTest.java
Labels: test-coverage

#2211 Add protobuf samples
  examples/README.md
  examples/pom.xml
  examples/protobuf/pom.xml
  examples/protobuf/src/main/java/com/hazelcast/jet/examples/protobuf/ProtobufSerializerAdapter.java
  examples/protobuf/src/main/java/com/hazelcast/jet/examples/protobuf/ProtobufSerializerHookAdapter.java
  examples/protobuf/src/main/proto/messages.proto
  examples/protobuf/src/main/resources/META-INF/services/com.hazelcast.SerializerHook
Labels: code-samples

#2208 Grpc how to guide
  examples/grpc/src/main/java/com/hazelcast/jet/examples/grpc/BrokerServiceImpl.java
  examples/grpc/src/main/java/com/hazelcast/jet/examples/grpc/GRPCEnrichment.java
  examples/grpc/src/main/proto/enrichment.proto
  extensions/grpc/src/main/java/com/hazelcast/jet/grpc/GrpcServices.java
  site/docs/how-tos/grpc.md
  site/website/sidebars.json
Labels: docs, grpc

#2212 Clean up code sample and other docs
  site/docs/api/sources-sinks.md
  site/docs/how-tos/custom-batch-source.md
Labels: docs, docs-no-build

#2207 [010] Adds Hazelcast Jet Kubernetes Operator TDD
  site/docs/assets/operator-capability-level.png
  site/docs/assets/operator.svg
  site/docs/design-docs/010-operator-framework.md
  site/website/sidebars.json
Labels: docs, docs-no-build

#2215 Add test for gRPC with mapUsingServiceAsyncBatched
  extensions/grpc/src/test/java/com/hazelcast/jet/grpc/GrpcServiceTest.java
  extensions/grpc/src/test/proto/greeter.proto
Labels: test-coverage

#2216 Add test for mapUsingService stage with gRPC
  extensions/grpc/src/test/java/com/hazelcast/jet/grpc/GrpcServiceTest.java
Labels: test-coverage

#2213 Unify addressing the docs reader
  site/docs/api/serialization.md
  site/docs/api/testing.md
  site/docs/design-docs/002-job-level-serialization.md
  site/docs/design-docs/006-declarative-serialization.md
  site/docs/design-docs/009-pulsar-connector.md
  site/website/versioned_docs/version-4.0/design-docs/002-job-level-serialization.md
Labels: docs, docs-no-build

#2203 More logging for StreamJmsP
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegrationTestBase.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegrationTest_ActiveMqArtemis.java
Labels: test-failure

#2214 Separate replace script with attributes
  site/docs/api/testing.md
  site/docs/enterprise/management-center.md
  site/docs/operations/kubernetes.md
  site/website/attributes.json
  site/website/replace-version-config.js
Labels: docs-no-build

#2221 Fix jet version in docs
  site/docs/api/serialization.md
Labels: docs, docs-no-build

#2220 Fix jet version in docs
  site/docs/api/serialization.md
  site/website/versioned_docs/version-4.1/api/serialization.md
Labels: docs, docs-no-build

#2222 Add @SpringBootApplication tag to the example
  examples/spring-boot/src/main/java/com/hazelcast/jet/examples/spring/SpringBootSample.java
Labels: code-samples, defect, spring

#2225 Remove Pulsar from 4.1
  site/docs/design-docs/009-pulsar-connector.md
  site/docs/tutorials/pulsar.md
Labels: docs, docs-no-build

#2226 Fixed submitting jobs docs.
  site/docs/api/submitting-jobs.md
  site/website/versioned_docs/version-4.0/api/submitting-jobs.md
  site/website/versioned_docs/version-4.1/api/submitting-jobs.md
Labels: docs, docs-no-build

#2228 Release notes 4 1
  hazelcast-jet-distribution/src/root/changelog.txt
  hazelcast-jet-distribution/src/root/release_notes.txt
Labels: docs, enhancement

#2229 Fix links, improve content in Cluster Sizing
  site/docs/operations/cluster-sizing.md
  site/website/versioned_docs/version-4.1/operations/cluster-sizing.md
Labels: docs, docs-no-build

#2233 Fix ref manual link in README
  hazelcast-jet-distribution/src/root/README.md
Labels: docs

#2234 Address Serdar's review comments in closed PR
  hazelcast-jet-distribution/src/root/release_notes.txt
Labels: docs

#2231 Do not generate javadoc for internal packages
  pom.xml
Labels: build

#2230 Add 4.1 blog
  site/website/blog/2020-04-29-jet-41-is-released.md
Labels: docs-no-build

#2235 add @SpringBootApplication tag to the example
  examples/spring-boot/src/main/java/com/hazelcast/jet/examples/spring/SpringBootSample.java
Labels: code-samples, defect, spring

#2198 Add toKeyFn/toValueFn to WriteMapP
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteMapP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/json/JsonUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/json/package-info.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SinksTest.java
Labels: core, enhancement

#2196 Add Demos Page to the Website
  site/website/pages/en/demos.js
  site/website/siteConfig.js
  site/website/static/jss/card.js
Labels: docs, docs-no-build

#2236 Various minor fixes
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
  hazelcast-jet-distribution/src/root/changelog.txt
  site/website/all-versions.json
  site/website/blog/2020-04-29-jet-41-is-released.md
  site/website/javadoc.sh
  site/website/pages/en/download.js
  site/website/pages/en/versions.js
Labels: docs

#2237 Fixed bg color
  site/website/pages/en/demos.js
Labels: docs, docs-no-build

#2238 Fix linter issues in blog post
  site/website/blog/2020-04-29-jet-41-is-released.md
Labels: docs-no-build
