Repository hazelcast/hazelcast-jet, pull requests merged in 2020-02, with the labels that each got.

#1918 Remove client protocol version from pom.xml
  pom.xml
Labels: build

#1919 Service async cleanup
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/Metrics.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithGroupingBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/PartitionedProcessorTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/ProcessorTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AbstractAsyncTransformUsingServiceP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceBatchedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceOrderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceUnorderedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ServiceFactory.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStageWithKey.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ProcessorsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/MetricsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceBatchP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceBatchedPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServicePTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/ProcessorTransformParallelismTest.java
  reference-manual/src/main/asciidoc/work-with-jet/log-debug.adoc
  reference-manual/src/main/java/LogDebug.java
Labels: breaking-change, enhancement, pipeline-api

#1928 Freeze gRPC versions installed via pip
  examples/grpc/pom.xml
  examples/grpc/src/main/java/com/hazelcast/jet/examples/grpc/GRPCEnrichment.java
  extensions/python/pom.xml
  extensions/python/src/main/resources/jet_to_python_init.sh
  hazelcast-jet-core/src/main/resources/jet-runtime.properties
  hazelcast-jet-distribution/src/root/config/log4j.properties
  pom.xml
Labels: defect, python, test-failure

#1926 Upgrade Hazelcast version to 4.0 final
  pom.xml
Labels: core, enhancement

#1927 Fix return type in StreamStageWithKey
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStageWithKey.java
Labels: defect, pipeline-api

#1931 Fix exit-code checking for cluster-admin
  hazelcast-jet-distribution/src/bin-filemode-755/jet-cluster-admin
Labels: cli, defect

#1751 added links for the connectors
  README.md
Labels: enhancement

#1933 Update checkstyle to 8.29
  checkstyle/checkstyle.xml
  pom.xml
Labels: build

#1917 Python Code Sample and Reference Manual, Plus Some Improvements
  examples/README.md
  examples/pom.xml
  examples/python/pom.xml
  examples/python/src/main/java/com/hazelcast/jet/examples/python/Python.java
  examples/python/src/main/resources/hazelcast.yaml
  examples/python/src/main/resources/log4j.properties
  examples/python/src/main/resources/python/requirements.txt
  examples/python/src/main/resources/python/take_sqrt.py
  extensions/python/src/main/java/com/hazelcast/jet/python/JetToPythonServer.java
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonService.java
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonServiceConfig.java
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonServiceContext.java
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonTransforms.java
  extensions/python/src/main/java/com/hazelcast/jet/python/package-info.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/JetInstance.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Util.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/UtilTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/ResourceConfigTest.java
  reference-manual/pom.xml
  reference-manual/src/main/asciidoc/jet-concepts.adoc
  reference-manual/src/main/asciidoc/pipeline-api/pipeline-api.adoc
  reference-manual/src/main/java/PythonMapping.java
Labels: code-samples, defect, enhancement, python

#1929 Add keyed version of `mapUsingServiceAsyncBatched`
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithGroupingBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/PartitionedProcessorTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/ProcessorTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStageWithKey.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: enhancement, pipeline-api

#1939 Added test for job snapshot metrics
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobSnapshotMetricsTest.java
Labels: test-coverage

#1940 Suppress SpotBugs false positive on JDK11
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Util.java
Labels: build, core, defect

#1941 Added test for job execution metrics
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobExecutionMetricsTest.java
Labels: test-coverage

#1938 Improve `mapUsingServiceAsyncBatched` javadoc
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/AbstractAsyncTransformUsingServiceP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/ProcessorsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceBatchP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceBatchedPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServicePTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceP_IntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/ProcessorTransformParallelismTest.java
Labels: enhancement, javadoc, pipeline-api

#1936 Make sure mapUsingServiceAsyncBatched can do filtering
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: enhancement, pipeline-api

#1944 Improve log formatting, fix bad folder name
  hazelcast-jet-distribution/src/root/config/log4j.properties
Labels: cli, defect

#1942 Fix examples not working in cluster
  examples/hello-world/src/main/java/com/hazelcast/jet/examples/helloworld/HelloWorld.java
  examples/return-results/src/main/java/com/hazelcast/jet/examples/returnresults/BasicObservable.java
Labels: code-samples

#1934 Remove offset committing from Kafka source
  examples/kafka/src/main/java/com/hazelcast/jet/examples/kafka/KafkaSource.java
  examples/kafka/src/main/java/com/hazelcast/jet/examples/kafka/avro/KafkaAvroSource.java
  examples/kafka/src/main/java/com/hazelcast/jet/examples/kafka/json/KafkaJsonSource.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaProcessors.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSources.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaP_StandaloneKafkaTest.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaP_TimestampModesTest.java
  reference-manual/src/main/asciidoc/glossary.adoc
  reference-manual/src/main/asciidoc/source-sink-connectors/kafka.adoc
Labels: defect, kafka

#1922 Add refman for transactional sources
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSinks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/AsyncHazelcastWriterP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  reference-manual/pom.xml
  reference-manual/src/main/asciidoc/source-sink-connectors/file-socket.adoc
  reference-manual/src/main/asciidoc/source-sink-connectors/jms.adoc
  reference-manual/src/main/asciidoc/source-sink-connectors/kafka.adoc
  reference-manual/src/main/asciidoc/source-sink-connectors/overview.adoc
  reference-manual/src/main/asciidoc/work-with-jet/configure-fault-tolerance.adoc
  reference-manual/src/main/java/integration/JMS.java
Labels: reference-manual

#1937 Fix File sink with lp>1 or shared dir
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteFileP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TwoPhaseSnapshotCommitUtility.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/FileSinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/FileSourceBuilder.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteFilePTest.java
  reference-manual/src/main/java/StockExchangeCoreApi.java
  reference-manual/src/main/java/expertzone/BestPractices.java
Labels: defect

#1945 Add test for durable subscriber
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsIntegrationTestBase.java
Labels: test-coverage

#1949 Add smoke test for standalone bootstrappedInstance
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/JetBootstrappedStandaloneTest.java
Labels: test-coverage

#1952 Fix test for durableTopic
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsIntegrationTestBase.java
Labels: test-failure

#1953 Add test for loading more JARs in ZIP file
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/AbstractDeploymentTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/ClientDeployment_StandaloneClusterTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/LoadClassesIsolated.java
  hazelcast-jet-core/src/test/resources/zip-resources/person-car-jar.zip
Labels: test-coverage

#1948 Improve default log experience
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetBootstrap.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/JetLogHandler.java
  hazelcast-jet-core/src/main/resources/logging.properties
Labels: cli, enhancement

#1955 Shade/relocate picocli library.
  hazelcast-jet-all/pom.xml
  hazelcast-jet-core/pom.xml
  pom.xml
Labels: build

#1957 Add notice about picocli project usage.
  NOTICE
  hazelcast-jet-all/pom.xml
Labels: build

#1956 Add error message for invalid class
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetBootstrap.java
Labels: cli, enhancement

#1960 Link code samples from readme
  hazelcast-jet-distribution/src/root/README.md
Labels: enhancement

#1959 Add a code sample to Python Javadoc
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonServiceConfig.java
Labels: enhancement, javadoc, pipeline-api, python

#1965 Document which JMS implementations we test against
  reference-manual/src/main/asciidoc/source-sink-connectors/jms.adoc
Labels: reference-manual

#1966 Fix handling JET_LICENSE_KEY for jet-start.
  hazelcast-jet-distribution/src/bin-filemode-755/jet-start
  hazelcast-jet-distribution/src/bin-regular/common.sh
Labels: cli

#1962 Configure java.util.logging programmatically rather than config
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetBootstrap.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/JetConsoleLogHandler.java
  hazelcast-jet-core/src/main/resources/logging.properties
Labels: defect

#1968 Add timestamp to stdout filename
  hazelcast-jet-distribution/src/bin-filemode-755/jet-start
Labels: cli, defect

#1976 Increase attach file/dir test coverage
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/AbstractDeploymentTest.java
Labels: test-coverage

#1967 Added a section regarding ML model prediction
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  pom.xml
  reference-manual/pom.xml
  reference-manual/src/main/asciidoc/pipeline-api/pipeline-api.adoc
  reference-manual/src/main/java/MLModelPrediction.java
Labels: enhancement, reference-manual

#1947 Add migration guide to RefMan
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  reference-manual/src/main/asciidoc/appendix.adoc
  reference-manual/src/main/asciidoc/expert-zone/dag-tutorial.adoc
  reference-manual/src/main/asciidoc/expert-zone/dag.adoc
  reference-manual/src/main/asciidoc/source-sink-connectors/imdg.adoc
  reference-manual/src/main/java/migration/Migration.java
Labels: reference-manual

#1977 Only configure logging if type is set to JDK
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetBootstrap.java
Labels: defect

#1978 Document that SourceBuffer isn't thread-safe
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SourceBuilder.java
Labels: javadoc, pipeline-api

#1980 Improve test for and fix bug related to job lifecycle metrics
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/metrics/MetricNames.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobLifecycleMetricsTest.java
Labels: defect, metrics, test-coverage

#1975 (docs) Add kubernetes section to operations
  site/docs/assets/management-center-dashboard.png
  site/docs/assets/minikube-dashboard.png
  site/docs/operations/kubernetes.md
Labels: docs

#1979 (de)serialization page draft.
  site/docs/api/serialization.md
Labels: docs

#1974 Cluster sizing draft
  site/docs/operations/cluster-sizing.md
  site/website/sidebars.json
Labels: docs

#1986 Use more ports in default client config
  hazelcast-jet-distribution/src/root/config/hazelcast-client.yaml
Labels: cli, defect

#1989 Fix log4j classpath issues in code samples
  examples/hadoop/pom.xml
  examples/imdg-connectors/src/main/java/com/hazelcast/jet/examples/imdg/MapPredicateAndProjection.java
  examples/imdg-connectors/src/main/resources/log4j.properties
Labels: code-samples

#1988 Check init script return code
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonServiceContext.java
  extensions/python/src/main/resources/jet_to_python_init.sh
Labels: defect, python

#1985 Add serialization sample implementation.
  site/docs/api/serialization.md
Labels: docs

#1992 Fix nightly profile
  pom.xml
Labels: build, test-coverage

#1994 Replace serialization website section xml configuration with yaml.
  site/docs/api/serialization.md
Labels: docs

#1996 Increase python test coverage
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonServiceConfig.java
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonTransforms.java
  extensions/python/src/main/java/com/hazelcast/jet/python/package-info.java
  extensions/python/src/test/java/com/hazelcast/jet/python/PythonInitCleanupTest.java
  extensions/python/src/test/java/com/hazelcast/jet/python/PythonServiceTest.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
Labels: python, test-coverage

#1999 Fix deploy extensions artifacts
  extensions/pom.xml
Labels: build, defect

#2001 Fix another log4j classpath issues in code samples
  examples/event-journal/src/main/java/com/hazelcast/jet/examples/eventjournal/CacheJournalSource.java
  examples/event-journal/src/main/java/com/hazelcast/jet/examples/eventjournal/MapJournalSource.java
  examples/event-journal/src/main/java/com/hazelcast/jet/examples/eventjournal/RemoteCacheJournalSource.java
  examples/event-journal/src/main/java/com/hazelcast/jet/examples/eventjournal/RemoteMapJournalSource.java
  examples/fault-tolerance/src/main/resources/hazelcast.yaml
  examples/hello-world/src/main/resources/hazelcast.yaml
  examples/imdg-connectors/src/main/java/com/hazelcast/jet/examples/imdg/CacheSourceAndSink.java
  examples/imdg-connectors/src/main/java/com/hazelcast/jet/examples/imdg/ListSourceAndSink.java
  examples/imdg-connectors/src/main/java/com/hazelcast/jet/examples/imdg/MapSourceAndSinks.java
  examples/imdg-connectors/src/main/java/com/hazelcast/jet/examples/imdg/RemoteListSourceAndSink.java
  examples/imdg-connectors/src/main/java/com/hazelcast/jet/examples/imdg/RemoteMapSourceAndSink.java
  examples/job-management/src/main/resources/hazelcast.yaml
  examples/kafka/pom.xml
  examples/kafka/src/main/java/com/hazelcast/jet/examples/kafka/KafkaSink.java
  examples/tf-idf/src/main/java/com/hazelcast/jet/examples/tfidf/TfIdfJdkStreams.java
Labels: code-samples

#1998 Handle non-serializable exceptions in AsyncOperation
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonService.java
  extensions/python/src/test/java/com/hazelcast/jet/python/PythonInitCleanupTest.java
  extensions/python/src/test/java/com/hazelcast/jet/python/PythonServiceTest.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/operation/AsyncOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
Labels: core, defect

#2002 Standardize how extension modules import hazelcast-jet
  extensions/avro/pom.xml
  extensions/hadoop/pom.xml
  extensions/kafka/pom.xml
  extensions/pom.xml
  extensions/python/pom.xml
  extensions/s3/pom.xml
Labels: build, python

#1813 Exactly-once for JTA-based sinks (JMS, JDBC)
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/WriteKafkaP.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/WriteKafkaPTest.java
  hazelcast-jet-core/pom.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Job.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Inbox.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestInbox.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/DataSourceFromConnectionSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteFileP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteJdbcP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteJmsP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/XaSinkProcessorBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/FunctionAdapter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/PeekWrappedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TransactionPoolSnapshotUtility.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/TwoPhaseSnapshotCommitUtility.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ArrayDequeInbox.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JdbcSinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/PeekingWrapperTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsSinkIntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegrationTestBase.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegrationTest_ActiveMQ.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegrationTest_RabbitMQ.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsTestUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadJdbcPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/SinkStressTestUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteJdbcPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Blocking.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Snapshots.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/ArrayDequeInboxTest.java
  reference-manual/src/main/java/integration/JMS.java
Labels: enhancement

#2005 Replace Supplier<Schema> with Schema for Avro sink
  examples/files/src/main/java/com/hazelcast/jet/examples/files/SalesCsvAnalyzer.java
  examples/files/src/main/java/com/hazelcast/jet/examples/files/avro/AvroSink.java
  extensions/avro/src/main/java/com/hazelcast/jet/avro/AvroProcessors.java
  extensions/avro/src/main/java/com/hazelcast/jet/avro/AvroSinks.java
  extensions/avro/src/test/java/com/hazelcast/jet/avro/AvroSinkTest.java
  reference-manual/src/main/java/integration/Avro.java
Labels: avro, breaking-change

#2006 Replace Supplier<Schema> with Schema for Avro sink (#2005)
  examples/files/src/main/java/com/hazelcast/jet/examples/files/SalesCsvAnalyzer.java
  examples/files/src/main/java/com/hazelcast/jet/examples/files/avro/AvroSink.java
  extensions/avro/src/main/java/com/hazelcast/jet/avro/AvroProcessors.java
  extensions/avro/src/main/java/com/hazelcast/jet/avro/AvroSinks.java
  extensions/avro/src/test/java/com/hazelcast/jet/avro/AvroSinkTest.java
  hazelcast-jet-distribution/src/root/release_notes.txt
  reference-manual/src/main/java/integration/Avro.java
Labels: avro, breaking-change

#2007 Fix sonar build
  pom.xml
Labels: build

#2008 Remove dependency to nodeEngine from Jet tasks.
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobConfigMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobSummaryListMessageTask.java
Labels: refactor

#2004 Tweak the reference manual
  reference-manual/src/main/asciidoc/jet-concepts.adoc
Labels: reference-manual

#1971 Don't interrupt blocking threads when terminating
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
Labels: core, enhancement

#2011 Small fix on reference manual
  reference-manual/src/main/asciidoc/work-with-jet/log-debug.adoc
Labels: reference-manual

#1932 Add nested classes & packages to JobConfig
  NOTICE
  hazelcast-jet-all/pom.xml
  hazelcast-jet-core/pom.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ReflectionUtils.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/ResourceConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/ReflectionUtilsTest.java
  hazelcast-jet-core/src/test/kotlin/com/hazelcast/jet/impl/util/KotlinReflectionUtilsTest.kt
  hazelcast-jet-core/src/test/resources/com/hazelcast/jet/config/package.properties
  hazelcast-jet-core/src/test/resources/com/hazelcast/jet/impl/util/package.properties
Labels: client, enhancement

#2014 Improve nested classes tests.
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ReflectionUtils.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/AbstractDeploymentTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/NestedClassIsLoaded.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/ReflectionUtilsTest.java
  hazelcast-jet-core/src/test/resources/cp1/com/sample/lambda/Worker$InnerWorker.class
  hazelcast-jet-core/src/test/resources/cp1/com/sample/lambda/Worker.class
Labels: client, enhancement

#1981 replace log4j usage with log4j2
  examples/hello-world/src/main/resources/log4j.properties
  examples/job-management/src/main/resources/log4j.properties
  examples/python/src/main/resources/log4j.properties
  examples/sockets/src/main/resources/log4j.properties
  extensions/kafka/pom.xml
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/MulticastDiscoveryTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/LoggerSinkTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/MockLoggingFactory.java
  hazelcast-jet-core/src/test/resources/log4j.properties
  hazelcast-jet-core/src/test/resources/log4j2.color.properties
  hazelcast-jet-core/src/test/resources/log4j2.properties
  hazelcast-jet-distribution/pom.xml
  hazelcast-jet-distribution/src/assembly-descriptor.xml
  hazelcast-jet-distribution/src/bin-filemode-755/jet-start
  hazelcast-jet-distribution/src/bin-regular/jet-start.bat
  hazelcast-jet-distribution/src/root/config/log4j.properties
  hazelcast-jet-distribution/src/root/config/log4j2.properties
  pom.xml
Labels: cli, enhancement

#2023 Fix minor problems in Refman
  reference-manual/src/main/asciidoc/jet-concepts.adoc
  reference-manual/src/main/java/WhatIsDistributedComputing.java
Labels: enhancement, reference-manual

#2027 Bump protobuf-maven-plugin from 0.5.1 to 0.6.1
  examples/grpc/pom.xml
  extensions/python/pom.xml
Labels: dependencies

#2030 Improve WordCount example
  examples/wordcount/src/main/java/com/hazelcast/jet/examples/wordcount/WordCount.java
Labels: code-samples

#2031 Improve WordCount example
  examples/wordcount/src/main/java/com/hazelcast/jet/examples/wordcount/WordCount.java
Labels: code-samples
