Repository hazelcast/hazelcast-jet, pull requests merged in 2020-08, with the labels that each got.

#2394 Add distribute-to-one edge type
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/DAG.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Edge.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ConveyorCollector.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/OutboundCollector.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/EdgeDef.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/PartitionArrangement.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/DAGTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/RoutingPolicyDistributedTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/RoutingPolicyTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestProcessors.java
Labels: core, enhancement

#2408 Package elasticsearch-6 module as zip for a separate download
  extensions/assembly-descriptor-module.xml
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-6/src/root/NOTICE
  hazelcast-jet-distribution/pom.xml
  pom.xml
Labels: build

#2431 Fix markdown linter errors
  site/docs/api/pipeline.md
  site/website/blog/2020-07-16-designing-evergreen-cache-cdc.md
Labels: defect, docs, docs-no-build

#2382 Adding test data sources designed for benchmarking purposes
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/EventTimeMapper.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/test/LongStreamSourceP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/test/TestSources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/test/TestSourcesTest.java
Labels: community, enhancement

#2430 Package modules as tar.gz instead of zip
  extensions/assembly-descriptor-module.xml
Labels: build

#2429 Add elasticsearch-6 module to downloads
  site/website/modules.json
Labels: docs-no-build

#2423 "Sub-10 millisecond latency on Java: Concurrent GC with Green Threads"
  site/docs/api/more-transforms.md
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part1.md
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part2.md
  site/website/blog/2020-06-23-jdk-gc-benchmarks-rematch.md
  site/website/blog/2020-08-05-gc-tuning-for-jet.md
  site/website/blog/assets/2020-08-05-dag1-with-gc.svg
  site/website/blog/assets/2020-08-05-dag1.svg
  site/website/blog/assets/2020-08-05-dag2-with-gc.svg
  site/website/blog/assets/2020-08-05-dag2.svg
  site/website/blog/assets/2020-08-05-latency-10m.png
  site/website/blog/assets/2020-08-05-latency-1m.png
  site/website/pages/en/index.js
Labels: docs, docs-no-build

#2433 Fix client.close() verification in Elastic sink test
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/ElasticSinkBuilderTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/LocalElasticSinkTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ElasticSinkBuilderTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/LocalElasticSinkTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ElasticSinkBuilderTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/LocalElasticSinkTest.java
Labels: test-failure

#2417 Fix WriteKafkaPTest.test_resumeTransaction failure
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/WriteKafkaPTest.java
Labels: kafka, test-failure

#2435 Update README
  README.md
  images/hazelcast-jet.png
  images/latency.png
  images/storage.png
  images/watermarks.svg
  site/docs/concepts/event-time.md
Labels: docs

#2438 Fix a minor problem in the README code snippet
  README.md
Labels: defect, docs, docs-no-build

#2436 Improve the GC Concerns Operations Guide Page
  site/docs/operations/gc-concerns.md
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part1.md
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part2.md
  site/website/blog/2020-06-23-jdk-gc-benchmarks-rematch.md
  site/website/blog/2020-08-05-gc-tuning-for-jet.md
Labels: docs, docs-no-build, enhancement

#2434 Add ElasticClients#client(java.lang.String) convenience method
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/ElasticClients.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/ElasticSources.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/ElasticClientsTest.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/ElasticClients.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/ElasticSources.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ElasticClientsTest.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/ElasticClients.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/ElasticSources.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ElasticClientsTest.java
Labels: elastic

#2447 Fix cooperative emission in ReadMapP
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadMapOrCachePTest.java
Labels: defect

#2454 Fix stuck test due to stuck snapshot in AsyncTransformUsingServiceP_IntegrationTest
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetInstanceImpl.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceP_IntegrationTest.java
Labels: test-failure

#2455 Extend assertion timeouts in JmsSourceIntegration_NonSharedClusterTest.when_memberTerminated_then_transactionsRolledBack
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegration_NonSharedClusterTest.java
Labels: test-failure

#2459 [005] Upgrade Jackson jr version to get rid of null value bug
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/RecordPart.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/JsonUtilTest.java
  pom.xml
Labels: cdc, enhancement

#2453 Remove retries in a test, unify test across elastic versions
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/ElasticSinkBuilderTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ElasticSinkBuilderTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ElasticSinkBuilderTest.java
Labels: test-failure

#2464 Close all clients created in Elastic tests
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/BaseElasticTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/LocalElasticSinkTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/BaseElasticTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/BaseElasticTest.java
Labels: test-failure

#2463 Increase timeout in JobRestartWithSnapshotTest.when_nodeDown_then_jobRestartsFromSnapshot
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
Labels: test-failure

#2468 Increase the timeout in the CancellationTests
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/CancellationTest.java
Labels: test-failure

#2439 Improve TestSources.longStreamTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/test/TestSourcesTest.java
Labels: core, enhancement

#2474 Increase the idleTimeouts in StreamEventJournalP_WmCoalescingTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalP_WmCoalescingTest.java
Labels: test-failure

#2478 Decrease the itemsPerSecond from 1_000 to 250 in test_longStream.
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/test/TestSourcesTest.java
Labels: test-failure
