Repository hazelcast/hazelcast-jet, pull requests merged in 2020-06, with the labels that each got.

#2289 Fix shutdown in ElasticSinkExample
  examples/elastic/src/main/java/com/hazelcast/jet/examples/elastic/ElasticSinkExample.java
Labels: elastic

#2288 Add test for elastic and update/delete for non existing document
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/AuthElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/CommonElasticSinksTest.java
Labels: test-coverage

#2293 some docs improvements:
  site/docs/enterprise/installation.md
  site/docs/enterprise/management-center.md
  site/docs/enterprise/operator-openshift.md
  site/docs/operations/docker.md
  site/docs/operations/kubernetes.md
  site/website/core/Footer.js
  site/website/pages/en/docs.js
  site/website/sidebars.json
Labels: docs-no-build

#2295 Handle WM in XaSinkProcessorBase (backport of #2294)
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/XaSinkProcessorBase.java
Labels: backport, defect

#2294 Handle WM in XaSinkProcessorBase
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/XaSinkProcessorBase.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestProcessors.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_StressTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/init/VertexDef_HigherPrioritySourceTest.java
Labels: breaking-change-core, defect

#2297 Elastic nonmatching index alias fix
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourceP.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/CommonElasticSourcesTest.java
  hazelcast-jet-distribution/pom.xml
Labels: elastic, test-coverage

#2285 [005] - Improve CDC related documentation
  site/docs/api/sources-sinks.md
  site/docs/operations/cdc.md
  site/docs/tutorials/cdc.md
  site/website/versioned_docs/version-4.0/tutorials/cdc.md
  site/website/versioned_docs/version-4.1/tutorials/cdc.md
Labels: cdc, docs-no-build

#2304 fix a few code quality issues found by LGTM
  examples/kafka/pom.xml
  extensions/python/src/main/java/com/hazelcast/jet/python/JetToPythonServer.java
  site/website/pages/en/index.js
  site/website/siteConfig.js
Labels: enhancement

#2307 Use exec when starting Jet in jet-start
  hazelcast-jet-distribution/src/bin-filemode-755/jet-start
Labels: cli

#2305 Add opengraph image configuration
  site/website/siteConfig.js
Labels: docs, docs-no-build

#2306 [005] - Fix wrong name for deploy guide in sidebar
  site/website/sidebars.json
Labels: docs-no-build

#2308 Update image to PNG since SVG images are not supported
  site/website/siteConfig.js
  site/website/static/img/Hazelcast-Jet-Logo-Blue_Dark.png
Labels: docs, docs-no-build

#2298 Use hz-serialization for processor suppliers
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/CustomClassLoadedObject.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/MetaSupplierFromProcessorSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ProcessorSupplierFromSimpleSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/HzSerializableProcessorSuppliersTest.java
  hazelcast-jet-core/src/test/resources/com/hazelcast/jet/core/DataSerializableSuppliers.jar
Labels: enhancement

#2312 Update some 4.1->4.1.1 versions in docs
  site/docs/api/spring.md
  site/docs/enterprise/operator-openshift.md
  site/docs/how-tos/operator.md
  site/docs/operations/kubernetes.md
  site/javadoc/4.1.1.tar.gz
  site/website/attributes.json
  site/website/versioned_docs/version-4.1.1/api/pipeline.md
  site/website/versioned_docs/version-4.1.1/api/serialization.md
  site/website/versioned_docs/version-4.1.1/api/sources-sinks.md
  site/website/versioned_docs/version-4.1.1/api/stateful-transforms.md
  site/website/versioned_docs/version-4.1.1/api/testing.md
  site/website/versioned_docs/version-4.1.1/concepts/processing-guarantees.md
  site/website/versioned_docs/version-4.1.1/enterprise/installation.md
  site/website/versioned_docs/version-4.1.1/get-started/installation.md
  site/website/versioned_docs/version-4.1.1/how-tos/grpc.md
  site/website/versioned_docs/version-4.1.1/how-tos/observables.md
  site/website/versioned_docs/version-4.1.1/how-tos/operator.md
  site/website/versioned_docs/version-4.1.1/how-tos/stream-imap.md
  site/website/versioned_docs/version-4.1.1/operations/docker.md
  site/website/versioned_docs/version-4.1.1/operations/installation.md
  site/website/versioned_docs/version-4.1.1/operations/kubernetes.md
  site/website/versioned_docs/version-4.1.1/operations/monitoring.md
  site/website/versioned_docs/version-4.1.1/tutorials/cdc.md
  site/website/versioned_docs/version-4.1.1/tutorials/kafka.md
  site/website/versioned_docs/version-4.1.1/tutorials/map-join.md
  site/website/versioned_docs/version-4.1.1/tutorials/python.md
  site/website/versioned_docs/version-4.1.1/tutorials/windowing.md
Labels: docs-no-build

#2310 Typo. Add missing space in a message
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetBootstrap.java
Labels: defect

#2311 Resize image to 200x200 and convert to jpeg
  site/website/siteConfig.js
  site/website/static/img/Hazelcast-Jet-Logo-Blue_Dark.jpg
  site/website/static/img/Hazelcast-Jet-Logo-Blue_Dark.png
Labels: docs-no-build

#2272 Blog: Choice of JDK and GC
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part1.md
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part2.md
  site/website/blog/assets/2020-06-01-batch-boxed.png
  site/website/blog/assets/2020-06-01-batch-cluster-boxed.png
  site/website/blog/assets/2020-06-01-batch-cluster-mutable.png
  site/website/blog/assets/2020-06-01-batch-mutable.png
  site/website/blog/assets/2020-06-01-batch-parallel.png
  site/website/blog/assets/2020-06-01-light-streaming-latency.png
  site/website/blog/assets/2020-06-01-sliding-window-1.png
  site/website/blog/assets/2020-06-01-sliding-window-2.png
  site/website/blog/assets/2020-06-01-sliding-window-3.png
  site/website/blog/assets/2020-06-01-sliding-window-4.png
  site/website/blog/assets/2020-06-01-viable-combinations-jdk14.png
  site/website/blog/assets/2020-06-01-viable-combinations.png
  site/website/package-lock.json
  site/website/package.json
Labels: docs, docs-no-build

#2318 GC blog post: add author tags
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part1.md
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part2.md
Labels: docs, docs-no-build, enhancement

#2319 Blog post updates
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part1.md
Labels: docs, docs-no-build, enhancement

#2322 fix(search): filter on version & language
  site/website/siteConfig.js
Labels: docs-no-build

#2323 Small typo fix in the GC blog post.
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part2.md
Labels: defect, docs, docs-no-build

#2324 Add "table" and "database" fields to CDC records
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/ChangeRecord.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSource.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordImpl.java
Labels: cdc

#2325 Add JVM version recommendation
  site/docs/get-started/first-job.md
  site/website/pages/en/download.js
Labels: docs-no-build

#2327 Add tests for cdc-mysql connector
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/AbstractMySqlIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlAuthAndConnectionIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlListenBeforeExistIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlListenWhiteBlackListIntegrationTest.java
Labels: cdc, test-coverage

#2329 Operations Guide page on JDK and GC choice
  site/docs/operations/gc-concerns.md
  site/website/sidebars.json
Labels: docs, docs-no-build, enhancement

#2330 Fix heading levels in GC Concerns page
  site/docs/operations/gc-concerns.md
Labels: docs, docs-no-build, enhancement

#2314 Distribution improvements
  hazelcast-jet-distribution/src/bin-regular/common.sh
  hazelcast-jet-distribution/src/root/lib/hazelcast-download.properties
  site/docs/api/sources-sinks.md
  site/docs/operations/docker.md
Labels: build, enhancement

#2331 Fix typos in gc-concerns.md
  site/docs/operations/gc-concerns.md
Labels: docs-no-build

#2328 Add prometheus to base distribution
  hazelcast-jet-distribution/pom.xml
  hazelcast-jet-distribution/src/assembly-descriptor.xml
  hazelcast-jet-distribution/src/bin-filemode-755/jet-start
  hazelcast-jet-distribution/src/root/NOTICE
  hazelcast-jet-distribution/src/root/config/jmx_agent_config.yaml
  pom.xml
  site/docs/operations/monitoring.md
Labels: configuration, enhancement

#2335 Throw JetException from Elastic sink
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/ElasticSinkBuilder.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/CommonElasticSinksTest.java
Labels: test-failure

#2333 Use SerialTest for Elasticsearch integration tests
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/BaseElasticTest.java
Labels: test-coverage

#2287 [003] Elasticsearch 6 connector
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/ElasticClients.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/ElasticSinkBuilder.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/ElasticSinks.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/ElasticSourceBuilder.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/ElasticSources.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/impl/ElasticCatClient.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourceConfiguration.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourceP.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourcePMetaSupplier.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourcePSupplier.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/impl/Shard.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/package-info.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/AuthElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/AuthElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/BaseElasticTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/CommonElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/CommonElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ElasticSinkBuilderTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ElasticSourceBuilderTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/LocalClusterElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/LocalClusterElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/LocalElasticSinkTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/LocalElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/impl/ElasticCatClientTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/impl/ElasticSourcePMetaSupplierTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/impl/ElasticSourcePTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/resources/mock_es_responses/es2node_nodes.json
  extensions/elasticsearch/elasticsearch-6/src/test/resources/mock_es_responses/es2node_shards.json
  extensions/elasticsearch/elasticsearch-6/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  extensions/pom.xml
  site/docs/api/sources-sinks.md
Labels: elastic

#2315 [011] Add JsonUtil to more-transforms section
  site/docs/api/more-transforms.md
  site/docs/api/sources-sinks.md
Labels: docs, docs-no-build

#2332 Limit in-flight async operations to 1 in Processors using IMap.submitToKeys
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/WriteCdcP.java
Labels: cdc, defect, test-failure

#2338 Fix CCE in onSnapshotPhase2Complete()
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
Labels: core, defect

#2341 Fix sources/sinks summary after bad conflict resolution
  site/docs/api/sources-sinks.md
Labels: docs, docs-no-build

#2337 Management Center download link for the website
  site/website/pages/en/download.js
Labels: docs-no-build

#2340 Define raw debezium source
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/DebeziumCdcSources.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSource.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordCdcSource.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/DebeziumConfig.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/JsonCdcSource.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/AbstractIntegrationTest.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumIntegrationTest.java
  extensions/cdc-mysql/src/main/java/com/hazelcast/jet/cdc/mysql/MySqlCdcSources.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlAuthAndConnectionIntegrationTest.java
  site/docs/design-docs/005-cdc-sources.md
Labels: cdc

#2336 Upgrade spotbugs plugin to 4.0.0
  pom.xml
Labels: build

#2344 Shade and relocate also sources
  hazelcast-jet-all/pom.xml
Labels: build

#2343 Add missing docs from previous reference manual
  site/docs/api/pipeline.md
  site/docs/api/stateful-transforms.md
  site/docs/api/stateless-transforms.md
  site/docs/how-tos/custom-aggregate-operation.md
  site/website/core/Footer.js
  site/website/sidebars.json
Labels: docs-no-build

#2348 Add hazelcast official helm repository
  site/docs/operations/kubernetes.md
Labels: enhancement

#2345 GC blog post: latency rematch
  site/docs/operations/gc-concerns.md
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part1.md
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part2.md
  site/website/blog/2020-06-23-jdk-gc-benchmarks-rematch.md
  site/website/blog/assets/2020-06-23-histo-2m.png
  site/website/blog/assets/2020-06-23-histo-3m.png
  site/website/blog/assets/2020-06-23-latencies-jdk14.png
  site/website/blog/assets/2020-06-23-latencies-latest.png
Labels: docs, docs-no-build

#2351 GC Rematch Blog: Explain latency measurement
  site/website/blog/2020-06-23-jdk-gc-benchmarks-rematch.md
Labels: docs, docs-no-build, enhancement

#2342 Add code examples to ElasticSinks javadoc
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/ElasticSinks.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/ElasticSinks.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/ElasticSinks.java
Labels: elastic, javadoc

#2339 Document failure scenarios for Elasticsearch connector
  site/docs/api/sources-sinks.md
Labels: docs, docs-no-build

#2353 Blog post update according to G1 team feedback
  site/website/blog/2020-06-23-jdk-gc-benchmarks-rematch.md
Labels: docs, docs-no-build, enhancement

#2349 Add jvm.options file
  examples/hello-world/src/main/java/com/hazelcast/jet/examples/helloworld/HelloWorld.java
  hazelcast-jet-distribution/src/bin-filemode-755/jet
  hazelcast-jet-distribution/src/bin-filemode-755/jet-start
  hazelcast-jet-distribution/src/bin-regular/common.sh
  hazelcast-jet-distribution/src/root/config/jvm-client.options
  hazelcast-jet-distribution/src/root/config/jvm.options
  site/docs/operations/configuration.md
  site/docs/operations/installation.md
Labels: cli

#2358 Add serializer for avro Utf8 class
  extensions/avro/src/main/java/com/hazelcast/jet/avro/AvroSerializerHooks.java
  extensions/avro/src/main/resources/META-INF/services/com.hazelcast.SerializerHook
  extensions/avro/src/test/java/com/hazelcast/jet/avro/AvroSerializerTest.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/SerializerHookConstants.java
Labels: avro, defect

#2357 Fix file name extraction on Windows
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/IOUtil.java
Labels: core, defect

#2362 Fix markdown issues
  site/docs/operations/kubernetes.md
  site/website/blog/2020-06-23-jdk-gc-benchmarks-rematch.md
Labels: docs, docs-no-build

#2360 Add simpler gc logging options
  hazelcast-jet-distribution/src/root/config/jvm.options
Labels: cli

#2356 Remove the deprecated gradle object from the tutorial documents
  site/docs/tutorials/map-join.md
  site/docs/tutorials/pulsar.md
  site/docs/tutorials/windowing.md
Labels: docs, docs-no-build

#2363 Remove json extentsion from json sources
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  site/docs/design-docs/011-json-convenience.md
Labels: core, enhancement

#2359 Change default local parallelism from 2 to 4 for avro/file/json sources
  extensions/avro/src/main/java/com/hazelcast/jet/avro/AvroSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/FileSourceBuilder.java
Labels: avro, breaking-change-core, enhancement

#2354 Add retry logic to elastic client calls
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/ElasticSinkBuilder.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/ElasticSourceBuilder.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/impl/ElasticCatClient.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourceConfiguration.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourceP.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourcePMetaSupplier.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/impl/RetryUtils.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/AuthElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/AuthElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/CommonElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/CommonElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/impl/ElasticCatClientTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/impl/ElasticSourcePTest.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/ElasticSinkBuilder.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/ElasticSourceBuilder.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/impl/ElasticCatClient.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourceConfiguration.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourceP.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourcePMetaSupplier.java
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/impl/RetryUtils.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/AuthElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/AuthElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/CommonElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/CommonElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/impl/ElasticCatClientTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/impl/ElasticSourcePTest.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/ElasticSinkBuilder.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/ElasticSourceBuilder.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/ElasticCatClient.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourceConfiguration.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourceP.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourcePMetaSupplier.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/RetryUtils.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/AuthElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/AuthElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/CommonElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/CommonElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/impl/ElasticCatClientTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/impl/ElasticSourcePTest.java
Labels: elastic, test-failure

#2366 Test for cdc sink reordering
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/CdcSinksTest.java
Labels: cdc, test-coverage

#2368 Fix PostgresCdcAuthAndConnectionIntegrationTest
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcAuthAndConnectionIntegrationTest.java
Labels: test-coverage

#2372 Minor test improvements
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartStressTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobRestartStressTestBase.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/TestProcessors.java
Labels: enhancement

#2276 Add mixins to all commands to configure address and cluster name
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
  hazelcast-jet-all/src/test/java/com/hazelcast/jet/server/JetCommandLineTest.java
  site/docs/api/submitting-jobs.md
  site/docs/enterprise/installation.md
  site/docs/get-started/installation.md
  site/docs/get-started/scale-job.md
  site/docs/get-started/submit-job.md
  site/docs/operations/docker.md
Labels: cli, enhancement

#2374 Unify docker docs and readme
  site/docs/enterprise/docker-enterprise.md
  site/docs/operations/docker.md
Labels: docs-no-build

#2364 Add test for CDC join scenario
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/RecordPartImpl.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/AbstractPostgresCdcIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/MultiTableCacheIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcIntegrationTest.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
Labels: cdc

#2375 Add release notes
  hazelcast-jet-distribution/src/root/changelog.txt
  hazelcast-jet-distribution/src/root/release_notes.txt
Labels: docs

#2377 [005] Make website links backward compatible
  site/docs/tutorials/cdc-mysql.md
  site/docs/tutorials/cdc-postgres.md
  site/website/sidebars.json
Labels: cdc, docs-no-build

#2378 [005] Make Postgres dataloss on snapshot-stream sync less severe
  extensions/cdc-mysql/src/main/java/com/hazelcast/jet/cdc/mysql/MySqlCdcSources.java
  extensions/cdc-postgres/src/main/java/com/hazelcast/jet/cdc/postgres/PostgresCdcSources.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcIntegrationTest.java
Labels: cdc

#2379 [005] Make Postgres dataloss on snapshot-stream sync less severe (4.2 port)
  extensions/cdc-mysql/src/main/java/com/hazelcast/jet/cdc/mysql/MySqlCdcSources.java
  extensions/cdc-postgres/src/main/java/com/hazelcast/jet/cdc/postgres/PostgresCdcSources.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcIntegrationTest.java
Labels: cdc
