Repository hazelcast/hazelcast-jet, pull requests merged in 2020-03, with the labels that each got.

#2028 Fix minor problems in Refman
  reference-manual/src/main/asciidoc/jet-concepts.adoc
  reference-manual/src/main/java/WhatIsDistributedComputing.java
Labels: backport, enhancement, reference-manual

#2029 Fix minor issues with documentation
  reference-manual/src/main/asciidoc/work-with-jet/log-debug.adoc
Labels: docs

#2034 Fix minor issues with documentation
  reference-manual/src/main/asciidoc/work-with-jet/log-debug.adoc
Labels: docs

#2036 Change packaging of refman to pom
  reference-manual/pom.xml
Labels: build, reference-manual

#2035 Remove unused BetterByteArrayOutputStream
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/ReadHadoopNewApiP.java
Labels: refactor

#2020 Support job-level serializers in ReceiverTasklet
  checkstyle/suppressions.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/internal/serialization/impl/CustomInputOutputFactory.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/Networking.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ReceiverTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SenderTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/MemoryDataInput.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/MemoryDataOutput.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/MemoryReader.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/MemoryWriter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/PlainMemoryReader.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/PlainMemoryWriter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/UnsafeMemoryReader.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/UnsafeMemoryWriter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ImdgUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ReceiverTaskletSendLimitTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ReceiverTaskletTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/MemoryDataInputTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/MemoryDataOutputTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/PlainMemoryReaderTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/PlainMemoryWriterTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/UnsafeMemoryReaderTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/UnsafeMemoryWriterTest.java
  pom.xml
Labels: enhancement, refactor

#2038 Support job-level serializers in SenderTasklet
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/AbstractJetMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SenderTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ImdgUtil.java
Labels: core, enhancement, refactor

#2039 Support job-level serializers in Processors
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/ReadHadoopNewApiP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/ProcessorSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestProcessorContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestProcessorMetaSupplierContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestProcessorSupplierContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ExplodeSnapshotP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ConvenientSourceP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteBufferedP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ProcessorSupplierWithService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/processor/ProcessorWrapper.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImpl.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImplTest.java
Labels: core, enhancement, refactor

#2041 Rely on hazelcast 4.0.1 & remove CustomInputOutputFactory
  hazelcast-jet-core/src/main/java/com/hazelcast/internal/serialization/impl/CustomInputOutputFactory.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ReceiverTasklet.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/ReceiverTaskletSendLimitTest.java
  pom.xml
Labels: core, refactor

#2042 Simplify Networking
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/Networking.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/SenderTasklet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/MemoryDataInput.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/MemoryDataOutput.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/MemoryReader.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/MemoryWriter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/PlainMemoryReader.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/PlainMemoryWriter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/UnsafeMemoryReader.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/UnsafeMemoryWriter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ImdgUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/MemoryDataInputTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/MemoryDataOutputTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/PlainMemoryReaderTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/PlainMemoryWriterTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/UnsafeMemoryReaderTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/UnsafeMemoryWriterTest.java
Labels: core, refactor

#2044 Improve trade source
  examples/early-window-results/src/main/java/com/hazelcast/jet/examples/earlyresults/TradingVolumeGui.java
  examples/early-window-results/src/main/java/com/hazelcast/jet/examples/earlyresults/TradingVolumeOverTime.java
  examples/rolling-aggregation/src/main/java/com/hazelcast/jet/examples/rollingaggregation/TradingVolume.java
  examples/sliding-windows/src/main/java/com/hazelcast/jet/examples/slidingwindow/StockExchange.java
  examples/sliding-windows/src/main/java/com/hazelcast/jet/examples/slidingwindow/TopNStocks.java
  examples/trade-source/src/main/java/com/hazelcast/jet/examples/tradesource/Trade.java
  examples/trade-source/src/main/java/com/hazelcast/jet/examples/tradesource/TradeGenerator.java
  examples/trade-source/src/main/java/com/hazelcast/jet/examples/tradesource/TradeSource.java
Labels: code-samples

#2033 Pick yaml config file over xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/config/ConfigProvider.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/ConfigProviderPriorityTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/test/JetDeclarativeConfigFileHelper.java
Labels: configuration, defect

#2049 Set license of extension modules in pom
  extensions/pom.xml
Labels: enhancement

#2047 Disable logging details by default
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/JetConsoleLogHandler.java
  hazelcast-jet-core/src/main/resources/hazelcast-jet-member-default.xml
  pom.xml
Labels: cli, core

#2046 Generate javadoc in distribution module
  hazelcast-jet-all/pom.xml
  hazelcast-jet-distribution/pom.xml
  pom.xml
Labels: build, dependencies, javadoc

#2051 add missing dependencies and fix excluded names
  hazelcast-jet-distribution/pom.xml
Labels: build, javadoc

#2052 Exclude classgraph from javadocs
  hazelcast-jet-core/pom.xml
  hazelcast-jet-distribution/pom.xml
  pom.xml
Labels: build, javadoc

#2037 Document brokers/databases tested with XA
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
Labels: javadoc, pipeline-api

#2043 Support job-level serializers
  hazelcast-jet-core/src/main/java/com/hazelcast/internal/serialization/impl/JetSerializationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestProcessorSupplierContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ReflectionUtils.java
  hazelcast-jet-core/src/test/java/com/hazelcast/internal/serialization/impl/JetSerializationServiceTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JobConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/AbstractDeploymentTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/execution/init/VertexDef_HigherPrioritySourceTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/ReflectionUtilsTest.java
Labels: core, enhancement

#2056 Lossless Cluster Restart Docs
  site/docs/assets/management-center-shutdown.png
  site/docs/enterprise/lossless-restart.md
Labels: docs

#2057 Simplify Jet SerializationService
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/WritableSerializerHook.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/WritableSerializerHooks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/internal/serialization/impl/JetSerializationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/accumulator/AccumulatorSerializerHooks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/CoreSerializerHooks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/datamodel/DataModelSerializerHooks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/ExecutionSerializerHooks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/CustomClassLoadedObject.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/DelegatingSerializationService.java
  hazelcast-jet-core/src/test/java/com/hazelcast/internal/serialization/impl/JetSerializationServiceTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/JobConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/DelegatingSerializationServiceTest.java
Labels: core, enhancement, refactor, test-failure

#2060 Use job-level serializers for toData
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/DelegatingSerializationService.java
Labels: defect

#2061 Improve serialization exceptions
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/DelegatingSerializationService.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/DelegatingSerializationServiceTest.java
Labels: enhancement, refactor

#2065 Fix link in Jet JavaDoc
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
Labels: javadoc

#2064 Minor mistake in the documentation
  site/docs/architecture/in-memory-storage.md
Labels: docs

#2066 Format javadoc
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/Jet.java
Labels: javadoc

#2067 Adjust DelegatingSerializationService to latest IMDG API
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/DelegatingSerializationService.java
Labels: refactor

#2069 Add test for non-existing package for JobConfig
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/config/ResourceConfigTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/deployment/NestedClassIsLoaded.java
Labels: test-coverage

#2070 Fix code sample in "Streaming Source" section
  site/docs/api/testing.md
Labels: docs

#2076 Add how-to guide for XA compatibility testing
  site/docs/how-tos/xa.md
  site/website/sidebars.json
Labels: docs

#2079 Added hazelcast-azure plugin to the fat jar
  hazelcast-jet-all/pom.xml
  hazelcast-jet-distribution/src/root/config/hazelcast.yaml
  pom.xml
Labels: build, enhancement, follow-upstream-changes

#2080 Fix comment in job-management example
  examples/job-management/src/main/java/com/hazelcast/jet/examples/jobmanagement/JobSuspendResume.java
  examples/job-management/src/main/java/com/hazelcast/jet/examples/jobmanagement/JobTracking.java
Labels: code-samples

#2078 Remove local IMDG exposed IMap methods
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/UpdateMapP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteMapP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ImdgUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/ImdgUtilTest.java
Labels: core, refactor

#2083 Add @since to new JobConfig methods
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
Labels: javadoc

#2073 Cleanup IMDG connectors examples
  examples/imdg-connectors/src/main/java/com/hazelcast/jet/examples/imdg/CacheSourceAndSink.java
  examples/imdg-connectors/src/main/java/com/hazelcast/jet/examples/imdg/ListSourceAndSink.java
  examples/imdg-connectors/src/main/java/com/hazelcast/jet/examples/imdg/MapPredicateAndProjection.java
  examples/imdg-connectors/src/main/java/com/hazelcast/jet/examples/imdg/MapSourceAndSinks.java
  examples/imdg-connectors/src/main/java/com/hazelcast/jet/examples/imdg/RemoteListSourceAndSink.java
  examples/imdg-connectors/src/main/java/com/hazelcast/jet/examples/imdg/RemoteMapSourceAndSink.java
Labels: code-samples, refactor

#2077 Do not load classes while scanning packages
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/ResourceConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/deployment/JetClassLoader.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/ReflectionUtils.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/ReflectionUtilsTest.java
Labels: client, configuration, enhancement

#2062 Re-order jms source parameters to have the lambda as last parameter
  examples/jms/src/main/java/com/hazelcast/jet/examples/jms/JmsQueueSample.java
  examples/jms/src/main/java/com/hazelcast/jet/examples/jms/JmsTopicSample.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsIntegration_NonSharedClusterTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegrationTestBase.java
  reference-manual/src/main/java/integration/JMS.java
Labels: breaking-change, core, refactor

#2084 Fix sliding-windows TopNStocks code sample
  examples/sliding-windows/src/main/java/com/hazelcast/jet/examples/slidingwindow/TopNStocks.java
  examples/trade-source/src/main/java/com/hazelcast/jet/examples/tradesource/TradeSource.java
Labels: code-samples, defect

#2088 Fix small typo in monitoring.md
  site/docs/operations/monitoring.md
Labels: docs

#2071 Enable job-level serializer for IMDG Observables
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Inbox.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteObservableP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/ArrayDequeInboxTest.java
Labels: core, enhancement

#2075 Enable job-level serializer for IMDG Maps & Caches
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/AbstractHazelcastConnectorSupplier.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastReaders.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/UpdateMapP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/UpdateMapWithEntryProcessorP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteMapP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteObservableP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/TestContextSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadMapOrCachePTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SinksTest.java
Labels: core, enhancement

#2087 Update job-level serialization TDD
  site/docs/design-docs/001-code-deployment-improvements.md
  site/docs/design-docs/002-job-level-serialization.md
Labels: docs

#2092 Fix graceful atLeastOnce stress tests for JMS and JDBC sink
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JdbcSinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsSinkIntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/SinkStressTestUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteJdbcPTest.java
Labels: test-coverage

#2093 Remove ad-hoc development code
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteJdbcPTest.java
Labels: enhancement

#2090 Add job serializer IMDG Map, Cache & Observable tests
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobSerializerTest.java
Labels: test-coverage

#2094 Improve job serializers limitations section & fix couple of linter errors
  site/docs/design-docs/002-job-level-serialization.md
Labels: docs, docs-no-build

#2096 Add cooperative warning to mapUsingService
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ServiceFactories.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ServiceFactory.java
Labels: enhancement, pipeline-api

#2102 Update equalsverifier version to 3.1.13
  hazelcast-jet-core/pom.xml
Labels: test-failure

#2097 Add Elasticsearch connector TDD
  site/docs/design-docs/003-elasticsearch-connector.md
Labels: docs, docs-no-build

#2104 Disable smart routing by default
  hazelcast-jet-distribution/src/root/config/hazelcast-client.yaml
Labels: client, configuration

#2108 Improve error message in JobConfig.addClass() when class.getClassLoader() returns null
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/ResourceConfig.java
Labels: enhancement, pipeline-api

#2105 Add logging line with cluster name
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/NodeExtensionCommon.java
Labels: enhancement

#2082 Enable job-level serializer for IMDG Lists
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadIListP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/TestContextSupport.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobSerializerTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadIListPTest.java
Labels: core, enhancement

#2114 Replace ActiveMQ in tests
  hazelcast-jet-core/pom.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsSinkIntegrationTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegrationTest_ActiveMqArtemis.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegration_NonSharedClusterTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/StreamJmsPTest.java
  pom.xml
Labels: defect

#2117 Add 2pc to fault-tolerance.md
  site/docs/api/data-structures.md
  site/docs/api/stateless-transforms.md
  site/docs/api/testing.md
  site/docs/architecture/distributed-computing.md
  site/docs/architecture/fault-tolerance.md
  site/docs/concepts/dag.md
  site/docs/design-docs/002-job-level-serialization.md
  site/docs/enterprise/installation.md
  site/docs/operations/discovery.md
  site/docs/operations/job-management.md
  site/website/blog/2020-03-30-ml-inference.md
  site/website/versioned_docs/version-4.0/api/stateless-transforms.md
  site/website/versioned_docs/version-4.0/concepts/dag.md
  site/website/versioned_docs/version-4.0/enterprise/installation.md
Labels: docs-no-build

#2118 Fix markdown linter errors
  site/docs/architecture/fault-tolerance.md
  site/website/blog/2020-03-30-ml-inference.md
Labels: docs-no-build

#2122 Backport fault-tolerance.md to 4.0 docs
  site/website/versioned_docs/version-4.0/architecture/fault-tolerance.md
Labels: backport, docs-no-build

#2123 various typo and code fixes
  site/docs/api/data-structures.md
  site/docs/api/stateless-transforms.md
  site/website/blog/2020-03-30-ml-inference.md
  site/website/versioned_docs/version-4.0/api/data-structures.md
  site/website/versioned_docs/version-4.0/api/stateless-transforms.md
  site/website/versioned_docs/version-4.0/architecture/distributed-computing.md
  site/website/versioned_docs/version-4.0/concepts/dag.md
  site/website/versioned_docs/version-4.0/design-docs/002-job-level-serialization.md
  site/website/versioned_docs/version-4.0/operations/discovery.md
  site/website/versioned_docs/version-4.0/operations/job-management.md
Labels: docs-no-build

#2121 Align docs for xa-test with latest version
  site/docs/how-tos/xa.md
Labels: docs, docs-no-build

#2120 Add job-level serializer & addClass/addPackage docs
  site/docs/api/serialization.md
  site/website/versioned_docs/version-4.0/api/submitting-jobs.md
Labels: docs-no-build
