Repository hazelcast/hazelcast-jet, pull requests merged in 2020-11, with the labels that each got.

#2631 Format job duration
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobResult.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/UtilTest.java
Labels: core, enhancement

#2641 Fix javadoc generation under JDK 11+.
  hazelcast-jet-all/pom.xml
  pom.xml
Labels: build, javadoc

#2640 SQL leftovers
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/JobStatus.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalRules.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/type/converter/ToConverter.java
Labels: enhancement, sql

#2645 Fix Kafka Avro tests under JDK 11+
  hazelcast-jet-sql/pom.xml
Labels: build, sql, test-failure

#2642 Require OR REPLACE for CREATE SNAPSHOT
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlBackend.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/ParserResource.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateJob.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateMapping.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateSnapshot.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlDropMapping.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlExtendedInsert.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlOption.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlJobManagementTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/JetSqlParserTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/SqlMappingTest.java
Labels: enhancement, sql

#2646 Cleanup tests
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlJobManagementTest.java
Labels: refactor, sql

#2647 Add `FilterAggregateTransposeRule` rule
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalRules.java
Labels: enhancement, sql

#2650 Avoid closing System.out in JetConsoleLogHandler
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/JetConsoleLogHandler.java
  hazelcast-jet-distribution/src/root/release_notes.txt
Labels: core, defect

#2651 Link to IMDG Release Notes from Jet's
  hazelcast-jet-distribution/src/root/release_notes.txt
  site/website/blog/2020-10-23-jet-43-is-released.md
Labels: docs, docs-no-build, enhancement

#2652 Add links to EE release notes
  hazelcast-jet-distribution/src/root/release_notes.txt
  site/website/blog/2020-10-23-jet-43-is-released.md
Labels: docs, docs-no-build, enhancement

#2655 Tweak SQL error messages, javadoc
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/ParserResource.java
Labels: enhancement, sql

#2636 Add Jet SQL reference manual
  site/docs/roadmap.md
  site/docs/sql/00-intro.md
  site/docs/sql/00a-basic-commands.md
  site/docs/sql/01-ddl.md
  site/docs/sql/02-job-management.md
  site/docs/sql/03-imap-connector.md
  site/docs/sql/05-kafka-connector.md
  site/website/sidebars.json
Labels: docs-no-build, sql

#2668 Fix spurious empty SQL results
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetQueryResultProducer.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/JetQueryResultProducerTest.java
Labels: refactor, sql

#2666 Log IMDG version
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/NodeExtensionCommon.java
Labels: enhancement

#2670 Fix Kafka tests under JDK14+
  extensions/kafka/pom.xml
  hazelcast-jet-sql/pom.xml
  pom.xml
Labels: kafka

#2667 Unregister manually stopped container from resource reaper
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/AbstractCdcIntegrationTest.java
Labels: cdc, test-failure

#2673 Specify reconnect behavior in CDC integration tests
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/AbstractMySqlCdcIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/AbstractPostgresCdcIntegrationTest.java
Labels: cdc, test-failure

#2671 Fix race in MetricsContext
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/metrics/MetricsContext.java
Labels: defect, metrics, test-failure

#2679 Support byte[] json objects
  hazelcast-jet-sql/pom.xml
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/extract/JsonQueryTarget.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/JsonUpsertTarget.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlJsonTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/extract/JsonQueryTargetTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/inject/JsonUpsertTargetTest.java
Labels: enhancement, sql

#2680 Write JSON directly to stream in SQL
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/extract/JsonQueryTarget.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/JsonUpsertTarget.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/extract/JsonQueryTargetTest.java
Labels: enhancement, sql

#2681 Infer Kafka (de)serializers
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/PropertiesResolver.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/PropertiesResolverTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlJsonTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPrimitiveTest.java
Labels: enhancement, sql

#2682 Improve Kafka serde properties inference
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/PropertiesResolver.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/PropertiesResolverTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPrimitiveTest.java
Labels: enhancement, kafka, sql

#2678 Simplify container start/stop logic and how ports are assigned
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/AbstractCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcNetworkIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcNetworkIntegrationTest.java
Labels: cdc, test-failure

#2665 Improve SQL documentation
  extensions/kafka/pom.xml
  hazelcast-jet-distribution/src/root/NOTICE
  hazelcast-jet-sql/pom.xml
  site/docs/sql/00-intro.md
  site/docs/sql/basic-commands.md
  site/docs/sql/ddl.md
  site/docs/sql/imap-connector.md
  site/docs/sql/intro.md
  site/docs/sql/job-management.md
  site/docs/sql/kafka-connector.md
  site/website/sidebars.json
Labels: reference-manual, sql

#2686 Use FilterReduceRule
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalRules.java
Labels: enhancement, sql

#2296 [012] Mqtt Connector Design
  site/docs/design-docs/015-mqtt-connector.md
  site/website/sidebars.json
Labels: docs, docs-no-build

#2683 Add map entry removal usage to the docs
  site/docs/api/sources-sinks.md
Labels: docs, docs-no-build

#2689 Check IMap security for sql
  hazelcast-jet-all/src/test/java/com/hazelcast/jet/server/JetCommandLineTest.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlan.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlBackend.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/JetPlanExecutorTest.java
Labels: defect, security, sql

#2701 Follow IMDG change: Allow disabling XXE protection
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JetConfigXmlGenerator.java
Labels: enhancement

#2702 Run docs through spellchecker
  site/docs/api/serialization.md
  site/docs/api/sources-sinks.md
  site/docs/api/stateful-transforms.md
  site/docs/design-docs/004-spring-boot-starter.md
  site/docs/design-docs/005-cdc-sources.md
  site/docs/design-docs/006-declarative-serialization.md
  site/docs/design-docs/010-operator-framework.md
  site/docs/design-docs/011-json-convenience.md
  site/docs/enterprise/operator-openshift.md
  site/docs/operations/docker.md
  site/docs/sql/basic-commands.md
  site/docs/sql/imap-connector.md
  site/docs/sql/kafka-connector.md
  site/docs/tutorials/cdc-join.md
Labels: docs-no-build, enhancement, reference-manual

#2691 Use two strings for OPTIONS
  hazelcast-jet-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlResultImpl.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlOption.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/JetSqlBackendTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlJobManagementTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlJsonTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPojoTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPrimitiveTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlJsonTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPojoTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPortableTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPrimitiveTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestBatchSqlConnector.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/JetSqlParserTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/SqlMappingTest.java
  site/docs/sql/ddl.md
  site/docs/sql/imap-connector.md
  site/docs/sql/intro.md
  site/docs/sql/job-management.md
  site/docs/sql/kafka-connector.md
Labels: enhancement, sql

#2696 Add compatibility matrix for Jet and IMDG
  site/docs/api/sources-sinks.md
Labels: docs, docs-no-build

#2672 Check if python3 is available before initializing python service context
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonServiceContext.java
Labels: enhancement, python

#2707 Fix JetSqlResultImpl.close()
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetQueryResultProducer.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlResultImpl.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/JetSqlResultImplTest.java
Labels: defect, sql

#2674 Remove deprecated compile from gradle tutorials
  site/docs/tutorials/cdc-postgres.md
  site/docs/tutorials/cdc.md
  site/docs/tutorials/kafka.md
  site/docs/tutorials/map-join.md
  site/docs/tutorials/pulsar.md
  site/docs/tutorials/python.md
  site/docs/tutorials/spring-boot.md
  site/docs/tutorials/windowing.md
Labels: docs, docs-no-build, enhancement

#2664 Remove obsolete reference to old default local parallelism in Kafka source javadoc
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSources.java
Labels: defect, docs, kafka

#2709 Fix DROP JOB returning too early
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlanExecutor.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlJobManagementTest.java
  site/docs/design-docs/015-mqtt-connector.md
Labels: sql

#2712 Disable auto-detection to have standalone bootstrapped instance
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetBootstrap.java
Labels: cli, enhancement

#2522 Prevent Event Reordering
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Edge.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/PipelineImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/AbstractTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/AggregateTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/BatchSourceTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/DistinctTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/FlatMapStatefulTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/FlatMapTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/GlobalFlatMapStatefulTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/GlobalMapStatefulTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/GroupTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/HashJoinTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/MapStatefulTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/MapTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/MergeTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/PartitionedProcessorTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/PeekTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/ProcessorTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/SinkTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/SortTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/StreamSourceTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/TimestampTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/Transform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/WindowAggregateTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/WindowGroupTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Pipeline.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/test/ParallelBatchP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/test/ParallelStreamP.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/OrderedBatchParallelismTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/OrderedBatchProcessingTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/OrderedStreamParallelismTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/OrderedStreamProcessingTest.java
  site/docs/api/pipeline.md
  site/docs/assets/events_getting_reordered.svg
  site/docs/design-docs/016-event-reordering.md
  site/website/sidebars.json
Labels: core, enhancement

#2717 Improve Kafka properties resolution
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/PropertiesResolver.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/PropertiesResolverTest.java
Labels: enhancement, sql

#2719 Fix: TDD numbering
  site/docs/design-docs/016-event-reordering.md
Labels: docs, docs-no-build

#2669 Document function need to be stateless, cooperative
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation1.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation2.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation3.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperationBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperations.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AllOfAggregationBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/CoAggregateOperationBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/package-info.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/AggregateBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/FileSinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/FileSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GroupAggregateBuilder1.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/HashJoinBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JdbcSinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JmsSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JoinClause.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ServiceFactories.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/ServiceFactory.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/SourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StageWithWindow.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamHashJoinBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamSourceStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStageWithKey.java
Labels: javadoc, pipeline-api
