Repository hazelcast/hazelcast-jet, pull requests merged in 2020-05, with the labels that each got.

#2239 tidy up demos text and css
  site/website/pages/en/demos.js
  site/website/static/css/custom.css
  site/website/static/jss/card.js
Labels: docs-no-build

#2149 [008] Add Stage Rebalancing
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonTransforms.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/DAG.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/Networking.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/AbstractStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/AggBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/BatchStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/FunctionAdapter.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/GrAggBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/PipelineImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/SinkStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithGroupingBase.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithKeyAndWindowImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithWindowImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/StreamStageWithKeyImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/AbstractTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/AggregateTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/GroupTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/HashJoinTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/StreamSourceTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/Transform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/WindowAggregateTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/transform/WindowGroupTransform.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/AggregateBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/AggregateBuilder1.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralHashJoinBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStage.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/StreamStageWithKey.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchAggregateTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/BatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/RebalanceBatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/RebalanceStreamStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/SinksTest.java
  site/docs/api/more-transforms.md
  site/docs/design-docs/008-stage-rebalance.md
  site/website/package-lock.json
  site/website/package.json
  site/website/sidebars.json
Labels: breaking-change, enhancement, pipeline-api

#2218 [011] Json File Source
  NOTICE
  examples/files/pom.xml
  examples/files/src/main/java/com/hazelcast/jet/examples/files/SalesJsonAnalyzer.java
  hazelcast-jet-all/pom.xml
  hazelcast-jet-core/pom.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/json/JsonUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/FileSinkBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/FileSourceBuilder.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadFilesPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteFilePTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/JsonUtilTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/ReflectionUtilsTest.java
  hazelcast-jet-core/src/test/resources/com/hazelcast/jet/impl/util/file.json
  hazelcast-jet-distribution/pom.xml
  pom.xml
Labels: core, enhancement

#2241 Minor improvements for RebalanceBatchStageTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/RebalanceBatchStageTest.java
Labels: test-coverage

#2246 Add MissingJavadoc checks to checkstyle
  checkstyle/checkstyle.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/json/JsonUtil.java
Labels: build, enhancement

#2142 [005] Productionize CDC sources
  README.md
  extensions/cdc-debezium/pom.xml
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/CdcSinks.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/ChangeRecord.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/DebeziumCdcSources.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/Operation.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/ParsingException.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/RecordPart.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcJsonDataSerializerHook.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSource.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordImpl.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/DebeziumConfig.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/PropertyRules.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/RecordPartImpl.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/package-info.java
  extensions/cdc-debezium/src/main/resources/META-INF/services/com.hazelcast.DataSerializerHook
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/AbstractIntegrationTest.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/CdcSinksTest.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumIntegrationTest.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/OperationTest.java
  extensions/cdc-mysql/pom.xml
  extensions/cdc-mysql/src/main/java/com/hazelcast/jet/cdc/MySqlCdcSources.java
  extensions/cdc-mysql/src/main/java/com/hazelcast/jet/cdc/package-info.java
  extensions/cdc-mysql/src/main/resources/META-INF/services/com.hazelcast.DataSerializerHook
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/MySqlIntegrationTest.java
  extensions/grpc/pom.xml
  extensions/hadoop/pom.xml
  extensions/kafka/pom.xml
  extensions/pom.xml
  extensions/protobuf/pom.xml
  extensions/python/pom.xml
  extensions/s3/pom.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetFactoryIdHelper.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-distribution/pom.xml
  hazelcast-jet-distribution/src/assembly-descriptor.xml
  hazelcast-jet-distribution/src/root/changelog.txt
  hazelcast-jet-distribution/src/root/release_notes.txt
  site/docs/api/sources-sinks.md
  site/docs/design-docs/005-cdc-sources.md
  site/docs/how-tos/custom-stream-source.md
  site/docs/operations/cdc-deployment.md
  site/docs/tutorials/cdc.md
  site/website/sidebars.json
  site/website/versioned_docs/version-4.0/how-tos/custom-stream-source.md
Labels: cdc

#2112 [004] update spring-boot sample to use jet-starter
  examples/spring-boot/README.md
  examples/spring-boot/pom.xml
  examples/spring-boot/src/main/java/com/hazelcast/jet/examples/spring/SpringBootSample.java
  examples/spring-boot/src/main/resources/hazelcast-jet.yaml
Labels: code-samples, spring

#2250 Fix generating javadoc
  hazelcast-jet-distribution/pom.xml
Labels: build

#2249 add video capability to demos
  site/website/pages/en/demos.js
  site/website/static/css/custom.css
Labels: docs-no-build

#2251 Update Pulsar Documentation
  site/docs/design-docs/009-pulsar-connector.md
  site/docs/tutorials/pulsar.md
Labels: docs, docs-no-build

#2252 Add automated NOTICE file generation
  NOTICE
  checkstyle/suppressions.xml
  hazelcast-jet-distribution/pom.xml
  hazelcast-jet-distribution/src/NOTICE.ftl
  hazelcast-jet-distribution/src/root/NOTICE
  hazelcast-jet-distribution/src/root/licenses/notice.txt
  pom.xml
Labels: build

#2253 Do not skip deploy for trade-source
  examples/trade-source/pom.xml
Labels: build

#2256 Fix the markdown linter error.
  site/docs/operations/cdc-deployment.md
Labels: docs-no-build

#2260 Fix method name in JsonUtil
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/json/JsonUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/JsonUtilTest.java
Labels: core, defect

#2259 simplify download steps
  site/docs/get-started/installation.md
  site/docs/tutorials/cdc.md
  site/docs/tutorials/kafka.md
  site/docs/tutorials/map-join.md
  site/docs/tutorials/pulsar.md
  site/docs/tutorials/python.md
  site/docs/tutorials/windowing.md
Labels: docs-no-build

#2261 Spark blogpost
  site/website/blog/2020-05-18-spark-jet.md
  site/website/blog/assets/2020-05-18-jet-dag.svg
  site/website/blog/assets/2020-05-18-spark-dag-stages.svg
Labels: docs-no-build

#2248 [005] - Fix problems in productionalized CDC code
  checkstyle/ClassHeaderApache.txt
  extensions/cdc-debezium/pom.xml
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/CdcSinks.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/ChangeRecord.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/DebeziumCdcSources.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/Operation.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/ParsingException.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/RecordPart.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcJsonDataSerializerHook.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSerializerHooks.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSource.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordImpl.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/DebeziumConfig.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/PropertyRules.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/RecordPartImpl.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/package-info.java
  extensions/cdc-debezium/src/main/resources/META-INF/services/com.hazelcast.SerializerHook
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/AbstractIntegrationTest.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/CdcSinksTest.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumIntegrationTest.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/OperationTest.java
  extensions/cdc-mysql/pom.xml
  extensions/cdc-mysql/src/assembly-descriptor.xml
  extensions/cdc-mysql/src/main/java/com/hazelcast/jet/cdc/MySqlCdcSources.java
  extensions/cdc-mysql/src/main/java/com/hazelcast/jet/cdc/package-info.java
  extensions/cdc-mysql/src/main/resources/META-INF/services/com.hazelcast.SerializerHook
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/MySqlIntegrationTest.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetFactoryIdHelper.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/SerializerHookConstants.java
  hazelcast-jet-distribution/pom.xml
  hazelcast-jet-distribution/src/root/LICENSE
  hazelcast-jet-distribution/src/root/NOTICE
  pom.xml
  site/docs/api/sources-sinks.md
  site/docs/tutorials/cdc.md
  site/website/attributes.json
Labels: cdc

#2245 Improve gRPC module
  extensions/grpc/src/main/java/com/hazelcast/jet/grpc/GrpcProperties.java
  extensions/grpc/src/main/java/com/hazelcast/jet/grpc/GrpcServices.java
  extensions/grpc/src/main/java/com/hazelcast/jet/grpc/impl/BidirectionalStreamingService.java
  extensions/grpc/src/main/java/com/hazelcast/jet/grpc/impl/GrpcUtil.java
  extensions/grpc/src/main/java/com/hazelcast/jet/grpc/impl/UnaryService.java
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonService.java
  site/docs/how-tos/grpc.md
Labels: enhancement, grpc

#2243 Added Kubernetes operator installation instructions
  site/docs/assets/developer-jet-install-2.png
  site/docs/assets/developer-jet-install.png
  site/docs/assets/developer-jet-installed.png
  site/docs/assets/developer-jet-license.png
  site/docs/assets/developer-jet-topology-logs.png
  site/docs/assets/developer-jet-topology-mc-logs.png
  site/docs/assets/developer-jet-topology-mc-service.png
  site/docs/assets/developer-jet-topology-mc.png
  site/docs/assets/developer-jet-topology.png
  site/docs/assets/developer-jet.png
  site/docs/assets/developer.png
  site/docs/assets/mc-cluster.png
  site/docs/assets/mc-dashboard.png
  site/docs/assets/mc-job.png
  site/docs/assets/mc-login.png
  site/docs/assets/operatorhub-jet-install-all-ns.png
  site/docs/assets/operatorhub-jet-install-single-ns.png
  site/docs/assets/operatorhub-jet-install.png
  site/docs/assets/operatorhub-jet-installed.png
  site/docs/assets/operatorhub-jet.png
  site/docs/assets/operatorhub.png
  site/docs/enterprise/operator-openshift.md
  site/docs/how-tos/operator.md
  site/website/sidebars.json
Labels: docs, docs-no-build

#2268 Use sink map in WordCount code sample
  examples/wordcount/src/main/java/com/hazelcast/jet/examples/wordcount/WordCount.java
Labels: code-samples

#2269 Close gRPC server and executor, allowing example to finish
  examples/grpc/src/main/java/com/hazelcast/jet/examples/grpc/GRPCEnrichment.java
Labels: code-samples, grpc

#2270 Fix rolling log filename
  hazelcast-jet-distribution/src/root/config/log4j2.properties
Labels: cli, defect

#2254 Publish grpc blog
  site/website/blog/2020-05-25-grcp.md
  site/website/blog/assets/2020-05-18-grpc-vs-jet.png
  site/website/blog/assets/2020-05-25-10ms_unary_bidirectional.png
  site/website/blog/assets/2020-05-25-10ms_unary_bidirectional_batching.png
  site/website/blog/assets/2020-05-25-fast_unary_bidi.png
  site/website/blog/assets/2020-05-25-fast_unary_bidirectional_batching.png
  site/website/blog/assets/2020-05-25-grpc-channels.png
  site/website/blog/assets/2020-05-25-grpc-epoll_nio.png
Labels: docs-no-build

#2273 Fix link to the manual in gRPC blog
  site/website/blog/2020-05-25-grcp.md
Labels: docs-no-build

#2274 Typo fix
  site/website/blog/2020-05-18-spark-jet.md
Labels: docs-no-build

#2275 Use multiline JSON as default for Source
  examples/files/data/sales.json
  examples/files/pom.xml
  examples/files/src/main/java/com/hazelcast/jet/examples/files/SalesJsonAnalyzer.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/RecordPartImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/json/JsonUtil.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/JsonUtilTest.java
Labels: core, enhancement, refactor

#2265 Update Pulsar Related Content on Website
  site/docs/api/sources-sinks.md
  site/docs/design-docs/009-pulsar-connector.md
  site/docs/tutorials/pulsar.md
Labels: docs-no-build

#2267 Add tests for pretty printed json to JsonUtilTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/ReadFilesPTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/JsonUtilTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/ReflectionUtilsTest.java
  hazelcast-jet-core/src/test/resources/com/hazelcast/jet/impl/util/file_list_pretty_printed.json
  hazelcast-jet-core/src/test/resources/com/hazelcast/jet/impl/util/file_pretty_printed.json
Labels: test-coverage

#2098 [003] Elasticsearch connector
  examples/elastic/pom.xml
  examples/elastic/src/main/java/com/hazelcast/jet/examples/elastic/ElasticSinkExample.java
  examples/elastic/src/main/java/com/hazelcast/jet/examples/elastic/ElasticSourceExample.java
  examples/elastic/src/main/resources/documents/ali.json
  examples/elastic/src/main/resources/documents/can.json
  examples/elastic/src/main/resources/documents/emin.json
  examples/elastic/src/main/resources/documents/frantisek.json
  examples/elastic/src/main/resources/documents/grzegorz.json
  examples/elastic/src/main/resources/documents/jozsef.json
  examples/elastic/src/main/resources/documents/marko.json
  examples/elastic/src/main/resources/documents/ondrej.json
  examples/elastic/src/main/resources/documents/ufuk.json
  examples/elastic/src/main/resources/documents/viliam.json
  examples/elastic/src/main/resources/documents/vladimir.json
  examples/pom.xml
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/ElasticClients.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/ElasticSinkBuilder.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/ElasticSinks.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/ElasticSourceBuilder.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/ElasticSources.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/ElasticCatClient.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourceConfiguration.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourceP.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourcePMetaSupplier.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourcePSupplier.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/Shard.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/package-info.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/AuthElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/AuthElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/BaseElasticTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/CommonElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/CommonElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ElasticSinkBuilderTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ElasticSourceBuilderTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/LocalClusterElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/LocalClusterElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/LocalElasticSinkTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/LocalElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/impl/ElasticCatClientTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/impl/ElasticSourcePMetaSupplierTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/impl/ElasticSourcePTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/resources/mock_es_responses/es2node_nodes.json
  extensions/elasticsearch/elasticsearch-7/src/test/resources/mock_es_responses/es2node_shards.json
  extensions/elasticsearch/elasticsearch-7/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  extensions/pom.xml
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast-jet-distribution/pom.xml
  hazelcast-jet-distribution/src/assembly-descriptor.xml
  hazelcast-jet-distribution/src/root/NOTICE
  site/docs/api/sources-sinks.md
  site/docs/design-docs/003-elasticsearch-connector.md
  site/website/sidebars.json
Labels: elastic

#2278 Fix Elastic sink summary
  site/docs/api/sources-sinks.md
Labels: docs-no-build

#2263 Add documentation for Docker
  site/docs/operations/docker.md
  site/website/sidebars.json
  site/website/versioned_docs/version-4.1/operations/docker.md
  site/website/versioned_sidebars/version-4.1-sidebars.json
Labels: docs-no-build

#2280 Use same Kafka version for CDC as the rest of the project
  extensions/cdc-debezium/pom.xml
Labels: cdc, kafka
