Repository hazelcast/hazelcast-jet, pull requests merged in 2021-02, with the labels that each got.

#2861 Fixes to javadoc generation
  hazelcast-jet-distribution/pom.xml
Labels: javadoc

#2863 Workaround for missing hazelcast-jet-sql-javadoc.jar
  hazelcast-jet-sql/pom.xml
  hazelcast-jet-sql/src/main/javadoc/.gitkeep
Labels: build, sql

#2865 4.4 Release blogpost
  site/website/blog/2021-02-03-jet-44-is-released.md
Labels: docs, docs-no-build, enhancement

#2867 Fix absolute links in release blogpost
  site/website/blog/2021-02-03-jet-44-is-released.md
Labels: defect, docs, docs-no-build

#2868 Add slim distribution and modules to download page
  site/website/all-versions.json
  site/website/incubating-modules.json
  site/website/modules.json
  site/website/pages/en/download.js
Labels: docs-no-build

#2869 Adapt docs to distribution changes
  site/docs/api/sources-sinks.md
  site/docs/design-docs/005-cdc-sources.md
  site/docs/sql/kafka-connector.md
  site/docs/tutorials/kafka.md
  site/docs/tutorials/kinesis.md
  site/docs/tutorials/python.md
  site/website/blog/2021-02-03-jet-44-is-released.md
  site/website/versioned_docs/version-4.4/api/sources-sinks.md
  site/website/versioned_docs/version-4.4/design-docs/005-cdc-sources.md
  site/website/versioned_docs/version-4.4/sql/kafka-connector.md
  site/website/versioned_docs/version-4.4/tutorials/kafka.md
  site/website/versioned_docs/version-4.4/tutorials/kinesis.md
  site/website/versioned_docs/version-4.4/tutorials/python.md
Labels: docs-no-build

#2871 Add Kinesis to 4.4 release blogpost
  site/website/blog/2021-02-03-jet-44-is-released.md
Labels: defect, docs, docs-no-build

#2854 Implement processed offset feedback in CDC sources
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/DebeziumCdcSources.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/RecordPart.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSerializerHooks.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSourceP.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordCdcSourceP.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/DebeziumConfig.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/JsonCdcSourceP.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/AbstractCdcIntegrationTest.java
  extensions/cdc-mysql/src/main/java/com/hazelcast/jet/cdc/mysql/MySqlCdcSources.java
  extensions/cdc-postgres/src/main/java/com/hazelcast/jet/cdc/postgres/PostgresCdcSources.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/AbstractPostgresCdcIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/MultiTableCacheIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcListenBeforeExistsIntegrationTest.java
  extensions/kinesis/src/main/java/com/hazelcast/jet/kinesis/KinesisSources.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
Labels: cdc

#2875 Migrate fix for issue #2841 to 4.4-maintenance branch
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/DebeziumCdcSources.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/RecordPart.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSerializerHooks.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSourceP.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordCdcSourceP.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/DebeziumConfig.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/JsonCdcSourceP.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/AbstractCdcIntegrationTest.java
  extensions/cdc-mysql/src/main/java/com/hazelcast/jet/cdc/mysql/MySqlCdcSources.java
  extensions/cdc-postgres/src/main/java/com/hazelcast/jet/cdc/postgres/PostgresCdcSources.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/AbstractPostgresCdcIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/MultiTableCacheIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcListenBeforeExistsIntegrationTest.java
  extensions/kinesis/src/main/java/com/hazelcast/jet/kinesis/KinesisSources.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/Processor.java
Labels: cdc, defect

#2877 Optimize SQL aggregations memory footprint
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/AvgSqlAggregation.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/AvgSqlAggregations.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/CountSqlAggregations.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/DistinctSqlAggregation.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/MaxSqlAggregation.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/MinSqlAggregation.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/SqlAggregation.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/SqlAggregations.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/SumSqlAggregation.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/SumSqlAggregations.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/ValueSqlAggregation.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregateAccumulateByKeyPhysicalRel.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregateByKeyPhysicalRel.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregateCombineByKeyPhysicalRel.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregateCombinePhysicalRel.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregatePhysicalRel.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregatePhysicalRule.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/AvgSqlAggregationTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/CountSqlAggregationTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/DistinctSqlAggregationTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/MaxSqlAggregationTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/MinSqlAggregationTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlAggregationsTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SumSqlAggregationTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/ValueSqlAggregationTest.java
Labels: enhancement, sql

#2855 Fix the zip-slip vulnerability
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/ChangeRecord.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/IOUtil.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/IOUtilTest.java
Labels: core, defect, security

#2885 Preserve QueryException error codes while throwing SQL result errors
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlanExecutor.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetQueryResultProducer.java
Labels: enhancement, sql

#2890 Fix SqlResult close() test
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetQueryResultProducer.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/RootResultConsumerSink.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/JetSqlResultImplTest.java
Labels: defect, sql

#2897 Finish SinkTypeCoercionTest for NULL
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/validate/SinkTypeCoercionTest.java
Labels: sql, test-coverage

#2903 Fix javadoc generation
  hazelcast-jet-all/pom.xml
Labels: javadoc

#2895 SQL Portable enhancements
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JetMapMetadataResolverImpl.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataPortableResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/PortableUpsertTarget.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/PortableUpsertTargetDescriptor.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/MetadataPortableResolverTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPortableTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/inject/PortableUpsertTargetDescriptorTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/inject/PortableUpsertTargetTest.java
Labels: enhancement, sql

#2898 Cleanup SQL java format/class resolution
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/PropertiesResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/JavaClassNameResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataAvroResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataJavaResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataJsonResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataNullResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataResolvers.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataJsonResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataPortableResolver.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataJavaResolverTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataResolversTest.java
Labels: refactor, sql

#2919 Fix compilation issue
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobSerializerTest.java
Labels: build

#2921 Forbid OR REPLACE & IF NOT EXISTS to be used together while creating mapping
  hazelcast-jet-sql/src/main/codegen/config.fmpp
  hazelcast-jet-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/ParserResource.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateJob.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateMapping.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlJobManagementTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/JetSqlParserTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/SqlMappingTest.java
Labels: enhancement, sql

#2924 Clarify ORDER BY not supported
  site/docs/sql/ddl.md
Labels: enhancement, reference-manual, sql

#2922 Correct OR REPLACE description
  site/docs/sql/ddl.md
Labels: docs, docs-no-build, sql

#2928 Add UDF type coercion test
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/validate/UDFTypeCoercionTest.java
Labels: sql, test-coverage
