Repository hazelcast/hazelcast-jet, pull requests merged in 2021-03, with the labels that each got.

#2927 Add mapping external name to information_schema.mappings
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/InfoSchemaTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingColumnsTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/Mapping.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/MappingCatalog.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/MappingDefinition.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingColumnsTableTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTableTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
Labels: enhancement, sql

#2938 Update Jackson version to 2.11.4
  examples/files/pom.xml
  extensions/cdc-debezium/pom.xml
  extensions/cdc-mysql/pom.xml
  extensions/cdc-postgres/pom.xml
  extensions/elasticsearch/elasticsearch-6/src/root/NOTICE
  hazelcast-jet-core/pom.xml
  hazelcast-jet-distribution/pom.xml
  hazelcast-jet-distribution/src/root/NOTICE
  pom.xml
Labels: dependencies, security

#2939 Update download instructions for MC and point to MC reference docs
  site/website/all-versions.json
  site/website/pages/en/download.js
  site/website/versioned_docs/version-4.4/enterprise/management-center.md
Labels: docs, docs-no-build

#2949 Update Snakeyaml version to 1.26
  extensions/elasticsearch/elasticsearch-6/src/root/NOTICE
  hazelcast-jet-distribution/src/root/NOTICE
  pom.xml
Labels: dependencies, security

#2948 Update Kafka to 2.2.2
  hazelcast-jet-distribution/src/root/NOTICE
  pom.xml
Labels: dependencies, security

#2943 Update Netty version to 4.1.59.Final
  hazelcast-jet-distribution/src/root/NOTICE
  pom.xml
Labels: dependencies, security

#2937 Update avro version to 1.10.1 for avro module
  extensions/avro/src/test/java/com/hazelcast/jet/avro/AvroSourceTest.java
  hazelcast-jet-distribution/src/root/NOTICE
  pom.xml
Labels: avro, dependencies, security

#2951 Adapt CDC join tutorial to API change
  site/docs/tutorials/cdc-join.md
  site/website/versioned_docs/version-4.3/tutorials/cdc-join.md
  site/website/versioned_docs/version-4.4/tutorials/cdc-join.md
Labels: cdc, docs

#2952 Jsonize SQL mapping options
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateMapping.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/MappingCatalog.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTableTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
Labels: enhancement, sql

#2945 Update ElasticSearch-7 to 7.10.0
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourceP.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/AuthElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/AuthElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/impl/ElasticSourcePTest.java
  hazelcast-jet-distribution/src/root/NOTICE
Labels: dependencies, security

#2946 Update ElasticSearch-6 to 6.8.14
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-6/src/root/NOTICE
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
Labels: dependencies, security

#2953 fix security vulnerabilities
  examples/hadoop/pom.xml
  examples/python/pom.xml
  examples/source-sink-builder/pom.xml
  extensions/elasticsearch/elasticsearch-5/pom.xml
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-6/src/root/NOTICE
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/grpc/pom.xml
  hazelcast-jet-distribution/src/root/NOTICE
  pom.xml
Labels: dependencies, security

#2956 Update ElasticSearch-7 to 7.10.2
  extensions/elasticsearch/elasticsearch-7/pom.xml
  hazelcast-jet-distribution/src/root/NOTICE
Labels: dependencies, security

#2957 Update release notes
  hazelcast-jet-distribution/src/root/release_notes.txt
Labels: release-notes

#2944 Support expressions in SQL generator functions
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileTableFunction.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesGeneratorTableFunction.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamGeneratorTableFunction.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/FullFunctionScanLogicalRule.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/FullFunctionScanLogicalRules.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalRules.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/JetDynamicTableFunction.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/JetSpecificTableFunction.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/JetSqlUserDefinedTableFunction.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/JetTableFunction.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlOperatorTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlValidator.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/ValidationUtil.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operand/NamedOperandCheckerProgram.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/HazelcastArgumentAssignmentOperator.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/HazelcastOperandTypeInference.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/generator/SqlSeriesGeneratorTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/generator/SqlStreamGeneratorTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/validate/JetSqlOperatorTableTest.java
Labels: enhancement, sql

#2962 fix ElasticSearch docker image version
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
Labels: test-failure

#2966 Fix SSH related issue in CDC tests
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/AbstractCdcIntegrationTest.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/AbstractMySqlCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcListenBeforeExistIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcNetworkIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcWhiteBlackListIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/AbstractPostgresCdcIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/MultiTableCacheIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcListenBeforeExistsIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcNetworkIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcWhiteBlackListIntegrationTest.java
Labels: cdc, test-failure

#2964 Fail on unknown named parameters
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamGeneratorTableFunction.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/ValidatorResource.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operand/NamedOperandCheckerProgram.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/generator/SqlSeriesGeneratorTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/generator/SqlStreamGeneratorTest.java
Labels: defect, sql

#2968 Remove HazelcastArgumentAssignmentOperator
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlOperatorTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/HazelcastArgumentAssignmentOperator.java
  site/docs/operations/job-management.md
Labels: enhancement, sql

#2970 Fix SSH related issue in CDC tests
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/AbstractCdcIntegrationTest.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/AbstractMySqlCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcListenBeforeExistIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcNetworkIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcWhiteBlackListIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/AbstractPostgresCdcIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcListenBeforeExistsIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcNetworkIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcWhiteBlackListIntegrationTest.java
Labels: cdc, test-failure

#2975 Set cluster connection timeout for MulticastDiscoveryTest
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/MulticastDiscoveryTest.java
Labels: test-failure

#2969 Blog post on NEXMark benchmarks
  site/website/blog/.2020-10-06-enabling-full-text-search.md.swp
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part1.md
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part2.md
  site/website/blog/2020-06-23-jdk-gc-benchmarks-rematch.md
  site/website/blog/2020-08-05-gc-tuning-for-jet.md
  site/website/blog/2021-03-17-billion-events-per-second.md
  site/website/blog/assets/2021-03-17-latency-vs-scaling.png
  site/website/blog/assets/2021-03-17-query5-latency.png
  site/website/blog/assets/2021-03-17-query5-thruput.png
  site/website/package-lock.json
Labels: docs, docs-no-build, enhancement

#2990 Bump guava version to 30.1.
  examples/hadoop/pom.xml
  examples/python/pom.xml
  extensions/elasticsearch/elasticsearch-5/pom.xml
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/hadoop-dist/files-azure/src/root/NOTICE
  extensions/hadoop-dist/files-gcs/src/root/NOTICE
  extensions/hadoop-dist/files-s3/src/root/NOTICE
  extensions/hadoop-dist/hadoop-all/src/root/NOTICE
  hazelcast-jet-distribution/src/root/NOTICE
  pom.xml
Labels: dependencies, security, severity:low

#2989 Bump aws sdk version to 1.11.976.
  extensions/hadoop-dist/files-s3/src/root/NOTICE
  extensions/kinesis/pom.xml
  hazelcast-jet-distribution/src/root/NOTICE
  pom.xml
Labels: dependencies, kinesis, s3, security, severity:critical

#2992 Bump Parquet version to 1.11.1
  examples/hadoop/pom.xml
Labels: code-samples, dependencies, hadoop

#2988 Improve readability in sources-sinks.md
  site/docs/api/sources-sinks.md
Labels: docs, docs-no-build, enhancement

#2991 Update IMap Portable SQL documentation
  site/docs/sql/file-connector.md
  site/docs/sql/imap-connector.md
Labels: docs, docs-no-build, sql

#2950 Update Avro to 1.10.1
  extensions/hadoop-dist/files-azure/src/root/NOTICE
  extensions/hadoop-dist/files-gcs/src/root/NOTICE
  extensions/hadoop-dist/files-s3/src/root/NOTICE
  extensions/hadoop-dist/hadoop-all/src/root/NOTICE
  hazelcast-jet-distribution/src/root/NOTICE
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/extract/AvroQueryTarget.java
  pom.xml
Labels: dependencies, security

#2994 Remove printStackTrace() from ParallelStreamP
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/test/ParallelStreamP.java
Labels: core, enhancement

#2993 Security Vulnerabilities
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-6/src/root/NOTICE
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourceP.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/AuthElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/AuthElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/impl/ElasticSourcePTest.java
  extensions/hadoop-dist/files-azure/src/root/NOTICE
  extensions/hadoop-dist/files-gcs/src/root/NOTICE
  extensions/hadoop-dist/files-s3/src/root/NOTICE
  extensions/hadoop-dist/hadoop-all/src/root/NOTICE
  hazelcast-jet-distribution/src/root/NOTICE
  pom.xml
Labels: dependencies, security

#2917 Improve AggregateOperations.pickAny by adding deduct()
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/accumulator/AccumulatorSerializerHooks.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/accumulator/PickAnyAccumulator.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/aggregate/AggregateOperations.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/serialization/SerializerHookConstants.java
  hazelcast-jet-core/src/main/resources/META-INF/services/com.hazelcast.SerializerHook
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/aggregate/AggregateOperationsTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/serialization/SerializerHooksTest.java
  hazelcast-jet-distribution/src/root/release_notes.txt
Labels: Pipeline API, enhancement

#2995 Regenerate codecs for IMDG 4.2
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetExistsDistributedObjectCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetExportSnapshotCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobConfigCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobIdsByNameCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobIdsCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobMetricsCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobStatusCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobSubmissionTimeCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobSummaryListCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobSuspensionCauseCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetJoinSubmittedJobCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetResumeJobCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetSubmitJobCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetTerminateJobCodec.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobConfigMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobIdsByNameMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobIdsMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobMetricsMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobStatusMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobSubmissionTimeMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobSummaryListMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetJoinSubmittedJobMessageTask.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetResumeJobMessageTask.java
Labels: client, enhancement

#2999 Make test SQL connectors naming consistent
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/SqlAggregateTest_TypeCoercion.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/SqlClientTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/SqlFilterProjectTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlJsonTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPojoTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlJsonTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPojoTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPortableTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAllTypesSqlConnector.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestFailingSqlConnector.java
  hazelcast-jet-sql/src/test/resources/META-INF/services/com.hazelcast.sql.Connectors
Labels: refactor, sql

#2998 Remove IMap SQL connector allocations
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnectorUtil.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
Labels: enhancement, sql

#2997 Fix nullability annotation in EventTimeMapper
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/EventTimeMapper.java
Labels: core, defect

#3000 Fix test issue with checking relocated exception
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/AvroFileFormatTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/BaseFileFormatTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/JsonFileFormatTest.java
Labels: test-failure

#3001 Fix NPE bug in CdcSourceP
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSourceP.java
Labels: cdc, defect, test-failure

#3003 Create directory for each test run in the bucket for isolation
  extensions/s3/src/test/java/com/hazelcast/jet/s3/S3MockTest.java
  extensions/s3/src/test/java/com/hazelcast/jet/s3/S3SinkTest.java
  extensions/s3/src/test/java/com/hazelcast/jet/s3/S3TestBase.java
Labels: s3, test-failure

#3004 Increase the timeout in the test that uses observable
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/core/JobSerializerTest.java
Labels: test-failure

#2888 Implement configurable batch size limit in JDBC sink processor
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/WriteJdbcP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/JdbcSinkBuilder.java
  hazelcast-jet-distribution/src/root/release_notes.txt
Labels: enhancement

#3007 Fix random port allocation for schema registry in SqlAvroTest
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroTest.java
Labels: sql, test-failure
