Repository hazelcast/hazelcast-jet, pull requests merged in 2021-01, with the labels that each got.

#2766 Update IMDG version to 4.1.1
  pom.xml
Labels: dependencies

#2769 Fix sql cli crash
  hazelcast-jet-all/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
Labels: defect, sql

#2764 Re-assign InputSplits on members for LocalFileSystem
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/HadoopSources.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/HadoopFileSourceFactory.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/ReadHadoopNewApiP.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/ReadHadoopOldApiP.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/ReadHdfsMetaSupplierBase.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/SharedFilesystemFileTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/impl/ReadHadoopPTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/impl/WriteHadoopPTest.java
Labels: defect, hadoop

#2765 Fix peek after rebalance issue
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/pipeline/ComputeStageImplBase.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/RebalanceBatchStageTest.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/RebalanceStreamStageTest.java
Labels: core, defect, pipeline-api

#2763 Add sql SHOW MAPPINGS/JOBS stmt
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast-jet-sql/src/main/codegen/config.fmpp
  hazelcast-jet-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlan.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlanExecutor.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlBackend.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetStaticQueryResultProducer.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlShowStatement.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/MappingCatalog.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlValidator.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/JetPlanExecutorTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/ShowStatementTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlJobManagementTest.java
  site/docs/sql/ddl.md
  site/docs/sql/job-management.md
Labels: enhancement, sql

#2772 File connector bugfixes
  extensions/avro/src/main/java/com/hazelcast/jet/avro/AvroProcessors.java
  extensions/hadoop-dist/files-azure/src/root/NOTICE
  extensions/hadoop-dist/files-gcs/src/root/NOTICE
  extensions/hadoop-dist/files-s3/src/root/NOTICE
  extensions/hadoop-dist/hadoop-all/src/root/NOTICE
  extensions/hadoop-dist/pom.xml
  extensions/hadoop/pom.xml
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/HadoopProcessors.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/HadoopSources.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/HadoopFileSourceFactory.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/JobConfigurer.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/JsonInputFormat.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/ReadHadoopNewApiP.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/ReadHadoopOldApiP.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/CompressedFileTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/JsonFileFormatTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/ParquetFileFormatTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/PathAndGlobFileSourceTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/impl/FileNotFoundReadHadoopPTest.java
  extensions/hadoop/src/test/resources/file-multiline.jsonl
  extensions/hadoop/src/test/resources/file.txt.gz
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/FileSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/file/FileSourceBuilder.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/file/FileSources.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/file/JsonFileFormat.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/file/WildcardMatcher.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/file/impl/FileSourceConfiguration.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/file/impl/LocalFileSourceFactory.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/pipeline/file/WildcardMatcherTest.java
  pom.xml
  site/docs/api/sources-sinks.md
  site/docs/design-docs/017-file-data-ingestion.md
Labels: hadoop

#2788 Add ignoreFileNotFound option to FileSqlConnector
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/MetadataResolver.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlCsvTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlHadoopTest.java
  site/docs/sql/file-connector.md
Labels: files, sql

#2790 Wait for SQL mapping propagation to all members
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/MappingStorage.java
Labels: sql

#2787 More tests for a missing sample file
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/HadoopFileSourceFactory.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/ReadHadoopNewApiP.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/ReadHadoopOldApiP.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/PathAndGlobFileSourceTest.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/MetadataResolversTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlAvroTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlCsvTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlJsonTest.java
Labels: defect, sql

#2783 Correct snaphsot documentation
  site/docs/sql/job-management.md
Labels: docs, docs-no-build, sql

#2778 Provide error message for `ClassNotFoundException` while resolving mappings.
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataAvroResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataJavaResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/MappingCatalog.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/MappingCatalogTest.java
Labels: enhancement, sql

#2794 Improve SQL file connector documentation
  site/docs/api/sources-sinks.md
  site/docs/operations/configuration.md
  site/docs/sql/ddl.md
  site/docs/sql/file-connector.md
  site/docs/sql/imap-connector.md
  site/docs/sql/kafka-connector.md
Labels: docs, docs-no-build, sql

#2776 Improve JSON invalid fields error messages.
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataJsonResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataJsonResolver.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlJsonTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPojoTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlJsonTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPojoTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPortableTest.java
  site/docs/sql/kafka-connector.md
Labels: enhancement, sql, test-coverage

#2791 Support mapping EXTERNAL NAME
  hazelcast-jet-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlBackend.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/InfoSchemaConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/PropertiesResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateJob.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateMapping.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateSnapshot.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/Mapping.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/MappingCatalog.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/JetPlanExecutorTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/JetSqlBackendTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPrimitiveTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPrimitiveTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/AllTypesSqlConnector.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/FailingTestSqlConnector.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestBatchSqlConnector.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestEmptyStreamSqlConnector.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestStreamSqlConnector.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/JetSqlParserTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/MappingCatalogTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/MappingStorageTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/MappingTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/SqlMappingTest.java
  site/docs/sql/ddl.md
  site/docs/sql/file-connector.md
  site/docs/sql/imap-connector.md
  site/docs/sql/kafka-connector.md
Labels: enhancement, sql

#2795 Fix double __key column
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/KafkaTestSupport.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataAvroResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataJavaResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataJsonResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataResolvers.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataJsonResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataPortableResolver.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlJsonTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPojoTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPrimitiveTest.java
Labels: defect, sql

#2782 Modify peek javadoc to show peek after rebalance isn't supported
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
Labels: javadoc

#2799 Support series & stream generators
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileTableFunction.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesGeneratorTableFunction.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamGeneratorTableFunction.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/JetSqlUserDefinedTableFunction.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/JetTableFunction.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/JetTableFunctionParameter.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlOperatorTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlValidator.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/SqlAggregateTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/SqlClientTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/ShowStatementTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/generator/SqlSeriesGeneratorTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/generator/SqlStreamGeneratorTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/validate/JetSqlOperatorTableTest.java
Labels: enhancement, sql

#2800 Add MaxMetaspaceSize to jvm.options
  hazelcast-jet-distribution/src/root/config/jvm.options
Labels: configuration

#2797 Simpler syntax for primitive key/value
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataResolvers.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPrimitiveTest.java
Labels: enhancement, sql

#2798 Fix Hadoop test failures on Windows
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/HadoopFileSourceFactory.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/CsvMetadataResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/MetadataResolver.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlAvroTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlCsvTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlJsonTest.java
Labels: defect, hadoop, sql, test-failure

#2699 Add logging for job status after job submit
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/JetBootstrap.java
Labels: cli, enhancement

#2802 Fix when_partitionAddedWhileJobDown test failure
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: test-failure

#2804 Fix documentation linter errors
  site/docs/sql/file-connector.md
Labels: docs-no-build

#2806 Fix documentation linter errors 2
  CONTRIBUTING.md
  README.md
  site/website/package.json
Labels: docs

#2753 Improve CSV reading performance in SQL
  extensions/csv/src/main/java/com/hazelcast/jet/csv/impl/CsvReadFileFnProvider.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/CsvInputFormat.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/HadoopFileSourceFactory.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/CsvFileFormatTest.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/file/CsvFileFormat.java
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/pipeline/file/FileFormat.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/util/UtilTest.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/AvroMetadataResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/CsvMetadataResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/JsonMetadataResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/MetadataResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/ParquetMetadataResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/extract/CsvQueryTarget.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlCsvTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/extract/CsvQueryTargetTest.java
Labels: enhancement, sql

#2808 Fix SqlClientTest job startup await condition
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/SqlClientTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestEmptyStreamSqlConnector.java
  hazelcast-jet-sql/src/test/resources/META-INF/services/com.hazelcast.sql.Connectors
Labels: sql, test-failure

#2685 Ensure naming conventions for sources/sinks in the extensions module
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/HadoopSinks.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/HadoopSources.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSinks.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSources.java
  extensions/s3/src/main/java/com/hazelcast/jet/s3/S3Sinks.java
  extensions/s3/src/main/java/com/hazelcast/jet/s3/S3Sources.java
  hazelcast-jet-distribution/src/root/release_notes.txt
Labels: community, enhancement, hadoop, kafka, s3

#2773 Update the doc of event reordering
  site/docs/api/pipeline.md
  site/docs/architecture/distributed-computing.md
  site/docs/design-docs/016-event-reordering.md
Labels: docs, docs-no-build

#2801 Improve SQL Docs
  site/docs/sql/basic-commands.md
  site/docs/sql/file-connector.md
  site/docs/sql/imap-connector.md
  site/docs/sql/intro.md
Labels: docs, docs-no-build, sql

#2812 Fix two issues in SQL docs
  site/docs/sql/kafka-connector.md
  site/website/attributes.json
Labels: defect, docs, docs-no-build

#2813 SQL intro text touchup
  site/docs/sql/intro.md
Labels: docs-no-build, enhancement

#2815 Clean up in PathAndGlobFileSourceTest
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/PathAndGlobFileSourceTest.java
Labels: test-coverage

#2609 More context information for S3 reading
  extensions/s3/src/main/java/com/hazelcast/jet/s3/S3Sources.java
Labels: enhancement, s3

#2823 Fix race in StreamKafkaP
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: test-failure

#2824 Fix race in snapshot phase 1 completion
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
  hazelcast-jet-core/src/test/java/com/hazelcast/jet/impl/connector/WriteFilePTest.java
Labels: core, defect

#2825 Remove references to opt folder
  site/docs/api/sources-sinks.md
  site/docs/api/submitting-jobs.md
  site/docs/design-docs/005-cdc-sources.md
  site/docs/how-tos/grpc.md
  site/docs/operations/docker.md
  site/docs/operations/installation.md
  site/docs/tutorials/cdc-join.md
  site/docs/tutorials/cdc-postgres.md
  site/docs/tutorials/cdc.md
Labels: docs, docs-no-build

#2821 Add Docker to SQL intro
  site/docs/sql/intro.md
Labels: docs, docs-no-build, enhancement

#2713 Decommision Jet Management Center
  hazelcast-jet-core/src/main/java/com/hazelcast/jet/config/JobConfig.java
  site/docs/enterprise/index.md
  site/docs/enterprise/installation.md
  site/docs/enterprise/lossless-restart.md
  site/docs/enterprise/management-center.md
  site/docs/operations/version-compatibility.md
Labels: docs

#2827 Address occasional CDC test failures
  examples/cdc/src/main/java/com/hazelcast/jet/examples/cdc/Cache.java
  extensions/cdc-debezium/pom.xml
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
  extensions/cdc-mysql/pom.xml
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/AbstractMySqlCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcNetworkIntegrationTest.java
  extensions/cdc-postgres/pom.xml
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/AbstractPostgresCdcIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcNetworkIntegrationTest.java
  hazelcast-jet-distribution/src/root/NOTICE
Labels: cdc, test-failure

#2829 Increase mapping await max retry attempts
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/MappingStorage.java
Labels: sql

#2830 Fix docker SQL docs issues
  site/docs/sql/intro.md
Labels: defect, docs-no-build

#2833 Touch up Jet Docker page
  site/docs/operations/docker.md
Labels: docs, docs-no-build, enhancement

#2809 Add configuration loaders to docs
  site/docs/operations/configuration.md
Labels: docs, docs-no-build

#2832 Replace putAll with put to remediate IMap async replication failures
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlJoinTest.java
Labels: sql, test-failure

#2835 Add GROUP BY to SQL intro page
  site/docs/sql/intro.md
Labels: docs, docs-no-build, enhancement

#2837 Improve the opening sentence in SQL docs
  site/docs/sql/intro.md
Labels: docs, docs-no-build, enhancement

#2839 Update confluent version in kafka example to match Avro versions
  examples/kafka/pom.xml
Labels: avro, kafka

#2840 Update confluent version in kafka example to match Avro versions
  examples/kafka/pom.xml
Labels: avro, kafka

#2848 Fix SqlClientTest failure
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/SqlClientTest.java
Labels: sql, test-failure

#2844 SQL documentation fixes and enhancements
  site/docs/api/data-structures.md
  site/docs/api/testing.md
  site/docs/enterprise/blue-green.md
  site/docs/enterprise/lossless-restart.md
  site/docs/enterprise/off-heap.md
  site/docs/enterprise/security.md
  site/docs/operations/cluster-sizing.md
  site/docs/operations/monitoring.md
  site/docs/sql/basic-commands.md
  site/docs/sql/ddl.md
  site/docs/sql/imap-connector.md
  site/docs/sql/intro.md
  site/docs/sql/job-management.md
  site/docs/sql/kafka-connector.md
Labels: defect, docs-no-build, sql

#2849 Release Notes
  hazelcast-jet-distribution/src/root/release_notes.txt
Labels: docs, docs-no-build

#2846 Fix adding of 'key.serializer' options
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/PropertiesResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataResolvers.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPrimitiveTest.java
Labels: defect, kafka, sql

#2850 Fix Kafka code sample for JDK14+
  examples/kafka/pom.xml
Labels: code-samples, defect

#2856 Changelog entry for 4.4
  hazelcast-jet-distribution/src/root/changelog.txt
Labels: docs, docs-no-build

#2851 Fix Kafka code sample for JDK14+
  examples/kafka/pom.xml
Labels: code-samples, defect
