Repository hazelcast/hazelcast-jet, pull requests merged in 2021-05, with the labels that each got.

#3042 Update testcontainers to 1.14.3
  extensions/elasticsearch/elasticsearch-5/pom.xml
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/s3/pom.xml
  hazelcast-jet-core/pom.xml
Labels: dependencies, test-failure

#3045 Fix code snippet for ElasticSources/Sinks
  site/docs/api/sources-sinks.md
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part1.md
  site/website/blog/2020-06-09-jdk-gc-benchmarks-part2.md
  site/website/blog/2021-04-21-jet-45-is-released.md
Labels: docs-no-build

#3049 Replace usage of hasMessageEndingWith() with hasMessageContaining() in SQL tests
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlAvroTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlCsvTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlJsonTest.java
Labels: sql, test-failure
