Repository hazelcast/hazelcast-jet, pull requests merged in 2022-12, with the labels that each got.

#3131 Downgrade gRPC and upgrade Woodstox
  extensions/grpc/src/main/resources/NOTICE
  extensions/hadoop-dist/files-azure/src/main/resources/NOTICE
  extensions/hadoop-dist/files-gcs/src/main/resources/NOTICE
  extensions/hadoop-dist/files-s3/src/main/resources/NOTICE
  extensions/hadoop-dist/hadoop-all/src/main/resources/NOTICE
  extensions/hadoop-dist/src/main/resources/NOTICE
  extensions/python/src/main/resources/NOTICE
  hazelcast-jet-distribution/src/root/NOTICE
  pom.xml
Labels: core, dependencies

#3133 Release Notes for 4.5.4
  hazelcast-jet-distribution/src/root/release_notes.txt
Labels: release-notes

#3135 Docs for 4.5.4
  site/javadoc/4.5.4.tar.gz
  site/website/all-versions.json
  site/website/modules.json
  site/website/versioned_docs/version-4.5.4/api/data-structures.md
  site/website/versioned_docs/version-4.5.4/api/error-handling.md
  site/website/versioned_docs/version-4.5.4/api/pipeline.md
  site/website/versioned_docs/version-4.5.4/api/serialization.md
  site/website/versioned_docs/version-4.5.4/api/sources-sinks.md
  site/website/versioned_docs/version-4.5.4/api/spring.md
  site/website/versioned_docs/version-4.5.4/api/stateful-transforms.md
  site/website/versioned_docs/version-4.5.4/api/testing.md
  site/website/versioned_docs/version-4.5.4/architecture/execution-engine.md
  site/website/versioned_docs/version-4.5.4/concepts/processing-guarantees.md
  site/website/versioned_docs/version-4.5.4/design-docs/005-cdc-sources.md
  site/website/versioned_docs/version-4.5.4/enterprise/blue-green.md
  site/website/versioned_docs/version-4.5.4/enterprise/installation.md
  site/website/versioned_docs/version-4.5.4/enterprise/lossless-restart.md
  site/website/versioned_docs/version-4.5.4/enterprise/management-center.md
  site/website/versioned_docs/version-4.5.4/enterprise/off-heap.md
  site/website/versioned_docs/version-4.5.4/enterprise/operator-openshift.md
  site/website/versioned_docs/version-4.5.4/enterprise/security.md
  site/website/versioned_docs/version-4.5.4/get-started/first-job.md
  site/website/versioned_docs/version-4.5.4/get-started/installation.md
  site/website/versioned_docs/version-4.5.4/how-tos/custom-aggregate-operation.md
  site/website/versioned_docs/version-4.5.4/how-tos/custom-stream-source.md
  site/website/versioned_docs/version-4.5.4/how-tos/grpc.md
  site/website/versioned_docs/version-4.5.4/how-tos/observables.md
  site/website/versioned_docs/version-4.5.4/how-tos/operator.md
  site/website/versioned_docs/version-4.5.4/how-tos/stream-imap.md
  site/website/versioned_docs/version-4.5.4/operations/cdc.md
  site/website/versioned_docs/version-4.5.4/operations/cluster-sizing.md
  site/website/versioned_docs/version-4.5.4/operations/installation.md
  site/website/versioned_docs/version-4.5.4/operations/job-management.md
  site/website/versioned_docs/version-4.5.4/operations/kubernetes.md
  site/website/versioned_docs/version-4.5.4/operations/monitoring.md
  site/website/versioned_docs/version-4.5.4/sql/basic-commands.md
  site/website/versioned_docs/version-4.5.4/sql/imap-connector.md
  site/website/versioned_docs/version-4.5.4/sql/intro.md
  site/website/versioned_docs/version-4.5.4/sql/kafka-connector.md
  site/website/versioned_docs/version-4.5.4/tutorials/cdc-join.md
  site/website/versioned_docs/version-4.5.4/tutorials/cdc-postgres.md
  site/website/versioned_docs/version-4.5.4/tutorials/cdc.md
  site/website/versioned_docs/version-4.5.4/tutorials/kafka.md
  site/website/versioned_docs/version-4.5.4/tutorials/kinesis.md
  site/website/versioned_docs/version-4.5.4/tutorials/map-join.md
  site/website/versioned_docs/version-4.5.4/tutorials/pulsar.md
  site/website/versioned_docs/version-4.5.4/tutorials/python.md
  site/website/versioned_docs/version-4.5.4/tutorials/windowing.md
  site/website/versions.json
Labels: docs, docs-no-build
